{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
   

        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.id}}</label> {{=rowContent_form.custom.widget.id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta_proveedor}}</label> {{=rowContent_form.custom.widget.cuenta_proveedor}} </div>
        </div>
		<div class="row">
	  		<div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta_proveedor_complemento}}</label> {{=rowContent_form.custom.widget.cuenta_proveedor_complemento}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta_anticipo}}</label> {{=rowContent_form.custom.widget.cuenta_anticipo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta_anticipo_complemento}}</label> {{=rowContent_form.custom.widget.cuenta_anticipo_complemento}} </div>
		</div>
    
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            var _$form = $('#{{=rowContent_form.formname}}');
                  
            var _$triggerMonedaEmpresa = $(_$form.find("input[name=moneda_id_empresa]"));

            var _$triggerComplemento = $(_$form.find("input[name=cuenta_proveedor_complemento]"));
            var _$triggerAnticipoComplemento = $(_$form.find("input[name=cuenta_anticipo_complemento]"));    
            var _$triggerMoneda = $(_$form.find("[name=monedacontpaqi_id]"));
            if (_$triggerMoneda.length == 0) {
                _$triggerMoneda = $(_$form.find("[field='{{=str(dbTable)}}.monedacontpaqi_id']"));
            } else {}
        
           _$triggerMoneda.on('change', function() {
                var _x_moneda_id = stv_fwk_formGetFieldValue(null, $(this));
                
                var _x_empresa_moneda_id = _$triggerMonedaEmpresa.val().toString();            
               
                if (_x_moneda_id) {
                    _x_moneda_id = _x_moneda_id.toString();
                } else { }
                
                if (_x_moneda_id == _x_empresa_moneda_id)
                {
                     _$triggerComplemento.prop('disabled', true);
                     _$triggerAnticipoComplemento.prop('disabled', true);
                     
                     _$triggerComplemento.val('');
                     _$triggerAnticipoComplemento.val('');
                }
                else
                {
                    _$triggerComplemento.prop('disabled', false);
                    _$triggerAnticipoComplemento.prop('disabled', false);
                }
            });
           _$triggerMoneda.change();
            
    {{  pass }}

    });
</script>

{{end}}

