{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.empresa_producto_id}}</label> {{=rowContent_form.custom.widget.empresa_producto_id}} </div>
        </div>
        <div class ="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.unidad_id}}</label> {{=rowContent_form.custom.widget.unidad_id}} </div>
            
            {{ if dbRow_empresa_proveedor_preciooficial_producto: }}
            
	            {{ if dbRow_empresa_proveedor_preciooficial_producto.codigoproveedor: }}
	                <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.codigoproveedor}}</label> {{=rowContent_form.custom.widget.codigoproveedor}} </div>
                {{ else: }}
	                <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.codigoproveedor}}</label> {{=rowContent_form.custom.widget.codigoproveedor}} </div>
	                <div class="error_wrapper error">Este producto no tiene código de proveedor asignado, favor de registrarlo en la pestaña "Códigos proveedores" del catálogo de productos</div>
                {{ pass }}
            {{ else: }}
                <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.codigoproveedor}}</label> {{=rowContent_form.custom.widget.codigoproveedor}} </div>
                <div class="error_wrapper error">Este producto no tiene código de proveedor asignado, favor de registrarlo en la pestaña "Códigos proveedores" del catálogo de productos</div>
            {{ pass }}
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.preciooficial}}</label> {{=rowContent_form.custom.widget.preciooficial}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}} </div>
        </div>
   </div>


    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

