{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_producto_id}}</label> {{=rowContent_form.custom.widget.empresa_producto_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.unidad_id}}</label> {{=rowContent_form.custom.widget.unidad_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.estatus}}</label> {{=rowContent_form.custom.widget.estatus}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.codigoproveedor}}</label> {{=rowContent_form.custom.widget.codigoproveedor}} </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cantidad_menudeo}}</label> {{=rowContent_form.custom.widget.cantidad_menudeo}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.precio_menudeo}}</label> {{=rowContent_form.custom.widget.precio_menudeo}} </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cantidad_mediomayoreo}}</label> {{=rowContent_form.custom.widget.cantidad_mediomayoreo}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.precio_mediomayoreo}}</label> {{=rowContent_form.custom.widget.precio_mediomayoreo}} </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cantidad_mayoreo}}</label> {{=rowContent_form.custom.widget.cantidad_mayoreo}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.precio_mayoreo}}</label> {{=rowContent_form.custom.widget.precio_mayoreo}} </div>
        </div>

   </div>


    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            
            var _$form = $('#{{=rowContent_form.formname}}');
           
           //Se crea las variables y función para deshabilitar los precios y cantidades           
           var _$triggerEstatus = $(_$form.find("select[name=estatus]"));
           
           var _$triggerCantidad_menudeo = $(_$form.find("input[name=cantidad_menudeo]"));
           var _$triggerPrecio_menudeo = $(_$form.find("input[name=precio_menudeo]"));
           
           var _$triggerCantidad_mediomayoreo = $(_$form.find("input[name=cantidad_mediomayoreo]"));
           var _$triggerPrecio_mediomayoreo = $(_$form.find("input[name=precio_mediomayoreo]"));
           
           var _$triggerCantidad_mayoreo = $(_$form.find("input[name=cantidad_mayoreo]"));
           var _$triggerPrecio_mayoreo = $(_$form.find("input[name=precio_mayoreo]"));
           
           _$triggerEstatus.on('change', function() {
               var _x_estatus = _$triggerEstatus.val();      
                              
               if(
            		   (_x_estatus == "{{=TEMPRESA_PROVEEDOR_COTIZACION_PRODUCTOS.ESTATUS.NO_MANEJA}}")
            		   ||
            		   (_x_estatus == "{{=TEMPRESA_PROVEEDOR_COTIZACION_PRODUCTOS.ESTATUS.POR_EVENTO}}")
            	 ){
                    _$triggerCantidad_menudeo.prop('disabled', true);   
                    _$triggerCantidad_menudeo.val(null);
                    _$triggerPrecio_menudeo.prop('disabled', true); 
                    _$triggerPrecio_menudeo.val(null);
                    _$triggerCantidad_mediomayoreo.prop('disabled', true);   
                    _$triggerCantidad_mediomayoreo.val(null);
                    _$triggerPrecio_mediomayoreo.prop('disabled', true);   
                    _$triggerPrecio_mediomayoreo.val(null);  
                    _$triggerCantidad_mayoreo.prop('disabled', true);  
                    _$triggerCantidad_mayoreo.val(null);
                    _$triggerPrecio_mayoreo.prop('disabled', true);   
                    _$triggerPrecio_mayoreo.val(null);

               }
               else if(_x_estatus == "{{=TEMPRESA_PROVEEDOR_COTIZACION_PRODUCTOS.ESTATUS.PENDIENTE_ACTUALIZAR}}")
               {
                   _$triggerCantidad_menudeo.val(null);
                   _$triggerPrecio_menudeo.val(null);
                   _$triggerCantidad_mediomayoreo.val(null);
                   _$triggerPrecio_mediomayoreo.val(null);  
                   _$triggerCantidad_mayoreo.val(null);
                   _$triggerPrecio_mayoreo.val(null);
               }
               else{
                   _$triggerCantidad_menudeo.prop('disabled', false);   
                   _$triggerPrecio_menudeo.prop('disabled', false);   
                   _$triggerCantidad_mediomayoreo.prop('disabled', false);   
                   _$triggerPrecio_mediomayoreo.prop('disabled', false);   
                   _$triggerCantidad_mayoreo.prop('disabled', false);   
                   _$triggerPrecio_mayoreo.prop('disabled', false);
               }
            });
           _$triggerEstatus.change();           

            
    {{  pass }}
   
    });
</script>
{{end}}

