{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fechavigencia_inicial}}</label> {{=rowContent_form.custom.widget.fechavigencia_inicial}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fechavigencia_final}}</label> {{=rowContent_form.custom.widget.fechavigencia_final}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.estatus}}</label> {{=rowContent_form.custom.widget.estatus}} </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.nombre_cotizar}}</label> {{=rowContent_form.custom.widget.nombre_cotizar}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.email_cotizar}}</label> {{=rowContent_form.custom.widget.email_cotizar}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.numero_cotizar}}</label> {{=rowContent_form.custom.widget.numero_cotizar}} </div>
        </div>


        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.nombre_ordenar}}</label> {{=rowContent_form.custom.widget.nombre_ordenar}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.email_ordenar}}</label> {{=rowContent_form.custom.widget.email_ordenar}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.numero_ordenar}}</label> {{=rowContent_form.custom.widget.numero_ordenar}} </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.observacion}}</label> {{=rowContent_form.custom.widget.observacion }} </div>
        </div>

   </div>


    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

