{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}

    <div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.monto_banco}}</label> {{=rowContent_form.custom.widget.monto_banco}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.monto_sistema}}</label> {{=rowContent_form.custom.widget.monto_sistema}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.observaciones}}</label> {{=rowContent_form.custom.widget.observaciones}} </div>
        </div>
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}


<script type="text/javascript">
    $(document).ready(function () {
    {{ if (
        ((s_actionRequested == request.stv_fwk_permissions.btn_save.code) and rowContent_form.accepted)
        or ((s_actionRequested == request.stv_fwk_permissions.special_permisson_01.code) and not rowContent_form.errors)
        or (s_actionRequested == request.stv_fwk_permissions.btn_cancel.code)
        ): }}

        var _$modal = $("#{{=D_tabOptions.s_tabId}}_reference").closest(".stv_modal");
        if (_$modal.length > 0) {
            _$modal.modal("hide");
        } else {}

        {{ if s_actionRequested in (request.stv_fwk_permissions.btn_save.code): }}
            _$modal.closest('.stv_tab').find(".stv_grid .stv_selected").remove();
        {{ else: pass }}

        {{ if s_actionRequested in (request.stv_fwk_permissions.special_permisson_01.code): }}
            _$modal.closest('.stv_tab').find(".stv_estadocuenta .stv_grid .stv_selected").remove();
        {{ else: pass }}

    {{ else: pass }}
    });
</script>

{{end}}
