{{b_customRowContent_form = False}}
{{b_customRowSearchResults_grid = False}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}


{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        <div class="row">
        </div>
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}
    
{{end}}

{{block blockCustomRowSearchResults_grid}}
{{end}} 

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}


