{{b_customRowContent_formAdvSearch = True}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}

{{  if rowContent_formAdvSearch:  }}

    {{=rowContent_formAdvSearch.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.fecha_operacion}}</label> {{=rowContent_formAdvSearch.custom.widget.fecha_operacion}}</div>
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.importe}}</label> {{=rowContent_formAdvSearch.custom.widget.importe}}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.bancotipomovimiento_id}}</label> {{=rowContent_formAdvSearch.custom.widget.bancotipomovimiento_id}}</div>
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.estatus}}</label> {{=rowContent_formAdvSearch.custom.widget.estatus}}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.con_inconsistencias}}</label> {{=rowContent_formAdvSearch.custom.widget.con_inconsistencias}} </div>
        </div>
    </div>

    {{=rowContent_formAdvSearch.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.fecha_operacion}}</label><br/> {{=rowContent_form.custom.widget.fecha_operacion}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.fecha_registro}}</label><br/> {{=rowContent_form.custom.widget.fecha_registro}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.concepto}}</label><br/> {{=rowContent_form.custom.widget.concepto}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.estatus}}</label><br/> {{=rowContent_form.custom.widget.estatus}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.bancotipomovimiento_id}}</label><br/> {{=rowContent_form.custom.widget.bancotipomovimiento_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.abono}}</label><br/> {{=rowContent_form.custom.widget.abono}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cargo}}</label> {{=rowContent_form.custom.widget.cargo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.saldo}}</label> {{=rowContent_form.custom.widget.saldo}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.numero_movimiento}}</label><br/> {{=rowContent_form.custom.widget.numero_movimiento}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.referencia}}</label><br/> {{=rowContent_form.custom.widget.referencia}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta}}</label> {{=rowContent_form.custom.widget.cuenta}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.sucursal}}</label> {{=rowContent_form.custom.widget.sucursal}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cheque}}</label><br/> {{=rowContent_form.custom.widget.cheque}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.tipomovimiento}}</label><br/> {{=rowContent_form.custom.widget.tipomovimiento}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.inconsistencias}}</label> {{=rowContent_form.custom.widget.inconsistencias}} </div>
        </div>
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}


