{{b_customRowContent_formAdvSearch = True}}
{{b_customRowContent_form = False}}
{{b_customRowSearchResults_grid = False}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}

{{  if rowContent_formAdvSearch:  }}

    {{=rowContent_formAdvSearch.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.fechadeposito}}</label> {{=rowContent_formAdvSearch.custom.widget.fechadeposito}}</div>
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.monto}}</label> {{=rowContent_formAdvSearch.custom.widget.monto}}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.formapago_id}}</label> {{=rowContent_formAdvSearch.custom.widget.formapago_id}}</div>
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.estatus}}</label> {{=rowContent_formAdvSearch.custom.widget.estatus}}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label></label></div>
        </div>
    </div>

    {{=rowContent_formAdvSearch.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.fecha}}</label> {{=rowContent_form.custom.widget.fecha}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.estadocuenta}}</label> {{=rowContent_form.custom.widget.estadocuenta}} </div>
        </div>
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}


