{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}


{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.tipo_conciliacion}}</label> {{=rowContent_form.custom.widget.tipo_conciliacion}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.estatus}}</label> {{=rowContent_form.custom.widget.estatus}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fecha}}</label> {{=rowContent_form.custom.widget.fecha}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.estadocuenta}}</label> {{=rowContent_form.custom.widget.estadocuenta}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_cuentabancaria_id}}</label> {{=rowContent_form.custom.widget.empresa_cuentabancaria_id}} </div>
        </div>
        {{ if not rowContent_form.readonly:}}
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=field_usarReferencia.label}}</label> {{=field_usarReferencia.widget(field_usarReferencia, field_usarReferencia.default)}} </div>
            <div class="form-group col-sm-4"><label>{{=field_usarFecha.label}}</label> {{=field_usarFecha.widget(field_usarFecha, field_usarFecha.default)}} </div>
        </div>
        {{ else: }}
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=field_pendientes.label}}</label> {{=field_pendientes.represent(field_pendientes.default, None)}} </div>
            <div class="form-group col-sm-4"><label>{{=field_totales.label}}</label> {{=field_totales.represent(field_totales.default, None)}} </div>
            <div class="form-group col-sm-4"><label>{{=field_avance.label}}</label> {{=field_avance.represent(field_avance.default, None)}} </div>
        </div>
        {{ pass }}
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}


