{{b_customRowContent_form = False}}
{{b_customRowSearchResults_grid = True}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}


{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        <div class="row">
        </div>
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}
    
{{end}}

{{block blockCustomRowSearchResults_grid}}

    <div class="row">
	    <div class="col-sm-6 stv_estadocuenta" id="{{=htmlid_estadocuenta}}">
	        <h3  align="center">Estado de cuenta bancario</h3>
	    </div>
	    <div class="col-sm-6 stv_movimientos" id="{{=htmlid_movimientos}}">
	        <h3  align="center">Movimientos bancarios en el sistema </h3>
	    </div>
    </div>
{{end}} 

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
    <script type="text/javascript">
		function stv_fwk_button_beforepressaction_{{=D_stvFwkCfg.D_uniqueHtmlIds.s_idTab}}($button, $tab, _s_action, _s_send, _s_actualRow, _s_link, _s_idsForLink) {
	           
	           var $detail_0 = $tab.find('.stv_estadocuenta').first();
	           var $detail_1 = $tab.find('.stv_movimientos').first();
	           
	           var $subtab_0 = $detail_0.find('.stv_tab');
	           var $subtab_1 = $detail_1.find('.stv_tab');
	           
	           var _$gTabResults_0 = $('#' + $subtab_0.data('stv_gIDTabResults'));
	           var _$gTabResults_1 = $('#' + $subtab_1.data('stv_gIDTabResults'));
	           
	           var _s_estadocuenta_id = stv_fwk_getSelectedIds($subtab_0, _$gTabResults_0, b_acceptMultiple=true);
	           var _s_registropago_id = stv_fwk_getSelectedIds($subtab_1, _$gTabResults_1, b_acceptMultiple=true);

                //stv_fwk_ajax((_s_link), $tab, _s_actualRow, "none", {b_hideAllTabRows: true, x_data: {estadocuentamovimiento_id:_s_estadocuenta_id, registropago_id: _s_registropago_id} });
	           
	           // Previene la ejecución de acciones relacionada al stv_fwk_button_beforepressaction
	           return {
                    b_continuar: true,
                   D_vars: {
                        s_estadocuentamovimiento_ids: _s_estadocuenta_id,
                        s_registropago_ids: _s_registropago_id
                   }
               }
		    }
	 
	 
		$(document).ready(function() {
			 
			var $tab = $("#{{=D_tabOptions.s_tabId}}_reference").closest('.stv_tab');
			var $detail_0 = $tab.find('#{{=htmlid_estadocuenta}}').first();
		    var $detail_1 = $tab.find('#{{=htmlid_movimientos}}').first();
		    		    
			stv_fwk_tabAdd($detail_0, "{{=L_details[0].s_tabName}}", "{{=L_details[0].s_idHtml}}", "", "", {hasClose: false, url_ifEmpty:"{{=L_details[0].s_url}}"});
			
		    stv_fwk_tabAdd($detail_1, "{{=L_details[1].s_tabName}}", "{{=L_details[1].s_idHtml}}", "", "", {hasClose: false, url_ifEmpty:"{{=L_details[1].s_url}}"});
			
		});
    </script>
{{end}}


