{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.titulo}}</label> {{=rowContent_form.custom.widget.titulo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechainicio}}</label> {{=rowContent_form.custom.widget.fechainicio}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechafin}}</label> {{=rowContent_form.custom.widget.fechafin}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.imagen}}</label> {{=rowContent_form.custom.widget.imagen}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.tipo}}</label> {{=rowContent_form.custom.widget.tipo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.minimocompra}}</label> {{=rowContent_form.custom.widget.minimocompra}} </div>
        </div>
        <div class = "row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.reglas}}</label> {{=rowContent_form.custom.widget.reglas}} </div>
        </div>
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            
            var _$form = $('#{{=rowContent_form.formname}}');
                          
            var _$triggerTipoPromocion = $(_$form.find("select[name=tipo]"));
        
            var _$triggerMinimoCompra = $(_$form.find("input[name=minimocompra]"));
                        
           _$triggerTipoPromocion.on('change', function() {
               var _x_tipoPromocion = _$triggerTipoPromocion.val();      
                              
               // Contante para los Tipo de Producto
               var _x_tipoMinimoCompra = {{=TEMPRESA_PAGINAWEB_PROMOCIONES.E_TIPO.MINIMOCOMPRA}};

                              
               if(_x_tipoPromocion == _x_tipoMinimoCompra){
                    _$triggerMinimoCompra.prop('disabled', false);             
               }
               else
               {
                    _$triggerMinimoCompra.val('');
                    _$triggerMinimoCompra.prop('disabled', true);
               }
            });
           _$triggerTipoPromocion.change();
            
    {{  pass }}
   
    });
</script>
{{end}}

