<!DOCTYPE html>
<!--[if IE 8]> <html lang="{{=T.accepted_language or 'es'}}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{=T.accepted_language or 'es'}}" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{=T.accepted_language or 'es'}}"> <!--<![endif]-->
<head>
    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_head.html')}}
    {{block web_head}}{{end}}
</head>
<body>
    <div id="stv_configuracion_app" style="display:none"></div>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span> <img alt="image" style="width:100%;" src="{{=D_stvFwkCfg.s_appUrlImagen}}" /> </span>
                        </div>
                        <div class="logo-element">
                            <img alt="image" style="width:80%;" src="{{=D_stvFwkCfg.s_appUrlImagenPin}}" />
                        </div>
                    </li>
                    {{block body_options}}{{end}}
                </ul>

            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_body_navbar.html')}}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel blank-panel">
                            <div class="panel-heading">
                                <div class="panel-options">
                                    <ul class="nav nav-tabs mainTabList">
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content mainTabContent">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer fixed stv_footer">
                {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_body_footer.html')}}
            </div>
            {{block body_footer}}{{end}}
        </div>
    </div>
    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_body_js.html')}}
    {{block body_js}}{{end}}

</body>

</html>
