<!DOCTYPE html>
<!--[if IE 8]> <html lang="{{=T.accepted_language or 'es'}}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{=T.accepted_language or 'es'}}" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{=T.accepted_language or 'es'}}"> <!--<![endif]-->
<head>
    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_head.html')}}
    {{block html_header}}{{end}}
</head>

<body class="gray-bg">
    <div id="stv_configuracion_app" style="display:none"></div>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div>
{{      if response.stv_navbar:  }}        
            {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_body_navbar.html')}}
{{      pass  }}
        <div class="loginColumns text-center animated fadeInDown">
            <div>
                <div style="padding-bottom: 20px;">
    
                    <span> <img alt="image" style="width:300px;" src="{{=response.logo_big}}" /> </span>
    
                </div>
                <p></p>
                <p>{{=globals().get('msg', '')}}</p>
                {{block content}}
                {{include}}
                {{end}}
                
            </div>
        </div>
        <div class="stv_footer">
            {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_body_footer.html')}}
        </div>
        {{block body_footer}}{{end}}
    </div>
    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_body_js.html')}}
    {{block body_js}}{{end}}

</body>

</html>
