    <div class="stv_buttonsBar" id="{{=str(D_tabOptions.s_tabId_buttonsBar)}}">
        <div class="row" >
        <div class="col-sm-8 m-b-xs">
            <div class="stv_buttonsBarMenu" >
{{              # Se especifica el boton a configurar y se incluye la configuración del boton
                _s_selectType = "button"
                for _s_btn in D_permissionsConfig.L_order:  
                    _D_btnCfg = D_permissionsConfig[_s_btn]  }}
                    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_button.html')}}
{{              pass  }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group stv_buttonsBarFind">
{{              _D_btnCfg = D_permissionsConfig[current.request.stv_fwk_permissions.btn_find.code]
                if _D_btnCfg:
                    _s_classView = "stv_visible " + request.stv_fwk_permissions.getHtmlClassForViews(_D_btnCfg.L_enabledByView)  }}
                    <input type="text" name="stv_ed_find" data-action="{{=_D_btnCfg.s_permissionCode}}" class="stv_form-control form-control {{=_s_classView}}">
{{              pass  }}
                <span class="input-group-btn" align="right">
{{                  # Se mantiene en _D_btnCfg el boton de buscar
                    _s_selectType = "buttonFind"  }}
                    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_button.html')  }}

{{                  # Ahora se busca el boton de busqueda avanzada
                    _D_btnCfg = D_permissionsConfig[current.request.stv_fwk_permissions.btn_findadvanced.code]  }}
                    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_button.html')  }}

{{                  # Ahora se busca el boton de buscar todo
                    _D_btnCfg = D_permissionsConfig[current.request.stv_fwk_permissions.btn_findall.code]  }}
                    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_button.html')}}
                    
{{                  # En caso de formas de búsqueda es necesario tener control de los id o ids que se estan buscando
                    if D_tabOptions.s_selectedIds or D_tabOptions.s_search_edinput_id:
                        #stv_ed_selectedIds es utilicado en pantallas de búsqueda, para seleccionar el elemento por default  }}
                        <input name="stv_ed_selectedIds" type="hidden" value="{{=D_tabOptions.s_selectedIds}}">
                        <input name="stv_search_edinput_id" type="hidden" value="{{=D_tabOptions.s_search_edinput_id}}">
                        <input name="stv_search_edinput_format" type="hidden" value="{{=D_tabOptions.s_search_edinput_format}}">
{{                  pass  }}
                </span>
            </div>
        </div>
        </div>
        <div class="stv_rowContent_formAdvSearch">
{{          if (globals().get("rowContent_formAdvSearch", None)):  }}
                <div class="hr-line-solid"></div>
                <p>Búsqueda avanzada</p>
                <div class="hr-line-dashed"></div>
{{              # Si se configura el uso de la forma custom
                if (globals().get("b_customRowContent_formAdvSearch", None)):}}
                    {{block blockCustomRowContent_formAdvSearch}}{{end}}
{{                  if rowContent_formAdvSearch.readonly and rowContent_formAdvSearch.attributes['hidden']:
                        for _attribute in rowContent_formAdvSearch.attributes['hidden']:
                            response.write( INPUT(_type='hidden', _name=_attribute, _value=rowContent_formAdvSearch.attributes['hidden'][_attribute]).xml(), escape=False)
                            pass
                    else:
                        pass
                else:  }}
                    {{=BEAUTIFY(rowContent_formAdvSearch)}}
{{                  pass  }}
{{          else:  }}
{{              pass  }}
        </div>
    </div>