<title>{{=response.title or request.application}}</title>

<!-- > > > Meta -->
<meta charset="utf-8">
<!-- www.phpied.com/conditional-comments-block-downloads/ -->
<!-- Always force latest IE rendering engine
(even in intranet) & Chrome Frame
Remove this if you use the .htaccess -->
<meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
<!--  Mobile Viewport Fix
j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
device-width: Occupy full width of the screen in its current orientation
initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
user-scalable = yes allows the user to zoom in -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Description and author are handled in menu.py
<meta name="description" content="">
<meta name="author" content=""> -->
<!-- http://dev.w3.org/html5/markup/meta.name.html -->
<meta name="application-name" content="{{=request.application}}">
<!-- Speaking of Google, don't forget to set your site up:
http://google.com/webmasters -->
<meta name="google-site-verification" content="">

<!-- > > > Favicon -->
<link rel="shortcut icon" href="{{=response.favicon_shortcut}}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{=response.favicon_apple_touch}}">
    
<!-- > > > Web Fonts -->
<script src="https://kit.fontawesome.com/bf331ea579.js" crossorigin="anonymous"></script>
<!-- 
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/font-awesome/css/font-awesome.css')}}"/>        
-->
     
<!-- > > > CSS Bootstrap -->
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/bootstrap.min.css')}}"/>

<!-- > > > CSS Plugins -->
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/plugins/morris/morris-0.4.3.min.css')}}"/>
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/plugins/toastr/toastr.min.css')}}"/>
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/plugins/chosen/chosen.css')}}"/>
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/plugins/datapicker/datepicker3.css')}}"/>
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='css/bootstrap-datetimepicker.min.css')}}"/>
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/plugins/jsTree/style.min.css')}}">
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/plugins/codemirror/codemirror.css')}}">
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')}}">

<!-- > > > CSS Data Tables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.5/sb-1.2.2/sp-1.4.0/sl-1.3.3/datatables.min.css"/>


<!-- Sweet Alert -->
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/plugins/sweetalert/sweetalert.css')}}"/>

<!-- > > > CSS Theme -->
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/animate.css')}}"/>
<link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/style.css')}}"/>

<!-- > > > CSS Customization -->
<link rel="stylesheet" href="{{=stv_generateUrlForFile(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/stv_fwk_inspinia.css')}}"/>

<!-- > > > JS Web2py -->
<!-- All JavaScript at the bottom, except for Modernizr which enables
HTML5 elements & feature detects -->
<script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='js/modernizr-2.8.3.min.js')}}"></script>
<!--[if lt IE 9]>
<script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/respond-1.4.2.min.js')}}"></script>
<![endif]-->
