{{
# La variable D_params es usada para definir el contenido del box
#   s_id: Id opcional para el ibox
#   s_addClass: Clases adicionales que pueden agregarse el ibox
#   b_createBox: True, crea el box, False, solo actualiza el contenido
#   s_title: Contenido del título del box, puede contener HTML
#       Ejemplo:    <span class="label label-success float-right">Monthly</span>
#                   <h5>Income</h5>             .label-primary, .label-success, .label-warning, .label-warning-light,
#                   .label-danger, .label-info, .label-inverse,
#   s_content: Contenido del box, puede contener HTML
#       Ejemplo:    <h1 class="no-margins">40 886,200</h1>
#                   <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
#                   <small>Total income</small>
D_params.b_customTitle = False
D_params.b_customContent = True
}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_dashboard_box.html')

{{block blockRowAdditional_content}}
    {{=XML(D_params.s_content or "Contenido")}}
{{end}}