{{
# La variable D_params es usada para definir el contenido del box
#   s_id: Id opcional para el ibox
#   s_addClass: Clases adicionales que pueden agregarse el ibox
#   b_createBox: True, crea el box, False, solo actualiza el contenido
#   s_title: Contenido del título del box, puede contener HTML
#       Ejemplo:    <span class="label label-success float-right">Monthly</span>
#                   <h5>Income</h5>             .label-primary, .label-success, .label-warning, .label-warning-light,
#                   .label-danger, .label-info, .label-inverse,
#   s_content: Contenido del box, puede contener HTML
#       Ejemplo:    <h1 class="no-margins">40 886,200</h1>
#                   <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
#                   <small>Total income</small>
#   b_customTitle: Se pone en true cuando se utiliza el block blockRowAdditional_title
#   b_customContent: Se pone en true cuando se utiliza el block blockRowAdditional_content
}}

{{
    if D_params.b_createBox:
        if D_params.s_id or False:  
            _s_idtext = 'id="'+D_params.s_id+'"'
        else:
            _s_idtext = ''  
            pass  }}
        <div class="ibox {{=D_params.s_addClass or ''}}" {{=XML(_s_idtext)}} >
{{
        pass  }}
    <div class="ibox-title">
{{
        if D_params.b_customTitle: }}
            {{block blockCustom_dashboard_box_title}}{{end}}
{{
        else:  }}
            {{=XML(D_params.s_title or "Título")}}
{{
            pass  }}            
    </div>
    <div class="ibox-content">
{{
        if D_params.b_customContent: }}
            {{block blockCustom_dashboard_box_content}}{{end}}
{{
        else:  }}
            {{=XML(D_params.s_content or "Contenido")}}
{{
            pass  }}            
    </div>
{{
    if D_params.b_createBox:  }}
        </div>
{{
    else:
        pass  }}
        
        
{{block blockCustom_dashboard_box_JsAfter}}{{end}}
            