{{"""
Despliege genérico para la muestra de la forma con todos sus componentes, el contenido esta dividido:
- Botones utilizando la variable global D_permissionsConfig
- La forma principal en el bloque mainformcontent 
- La sección para los detalle que se divide en dos:
    - Las pestañas de los tabs en el bloque maintabslist
    - El contenido de los tabs en el bloque maintabscontent
- La sección de los resultados de búsqueda en el bloque mainsearchresults
- La sección de javascript con los bloques mainjsbefore y mainjsafter para agregar código antes y/o despues del javascript estandar

"""}}


{{  if D_tabOptions.b_tabModal:  }}
        <div class="ibox float-e-margins stv_tab stv_tabModal" id="{{=D_tabOptions.s_tabId}}" style="margin-bottom:0px;">
            <div class="ibox-title stv_windowModal_title">
                <h5>{{=D_tabOptions.s_modalTitle}}</h5>
                <div class="ibox-tools">
                    <a class="stv_close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="stv_windowModal_content ibox-content">
{{  pass  }}

{{  if (s_actionRequested in D_useView.L_actionsCreateView):
		_b_createRowsTab = True  # Significa que es la primera vez que se crea el contenido del tab
        if (D_useView.b_serverCreatesTab):
        	_b_serverCreatesTab = True  # Significa que se crea el tab por el servidor  }}
        
        	<div id="{{=D_tabOptions.s_tabId}}" class="stv_tab tab-pane">
{{  	else:
        	_b_serverCreatesTab = False
			pass
	else:
		_b_createRowsTab = False
    	pass  }}

<div id="{{=D_tabOptions.s_tabId}}_reference" data-template="tab" style="display:none"></div>

<div class="stv_tab_content float-e-margins">

    {{block blockbreadcrub}}{{end}}

{{	# Si la vista es diferente a imprimir, los botones van arriba
	if D_useView.E_buttonsBarPosition == request.stv_fwk_permissions.E_POSITION_UP:  }}
		{{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_rowbuttonsbar.html')}}
{{  pass  }}
	{{# Row que referencia la forma de captura, llamada content. }}
    <div class="stv_rowContent stv_tabRow" id="{{=str(D_tabOptions.s_tabId_main)}}" style="display:none;">
        {{block blockRowContent_form}}{{end}}
    </div>
    
    {{# Row que referencia la referencia a los detalles de la forma. Normalmente se visualiza en conjunto con rowContent }}
    <div class="stv_rowContentDetail stv_tabRow" id="{{=str(D_tabOptions.s_tabId_details)}}" style="display:none;">
	    {{# Se encapsula el contenido del row en un panel. }}    
        <div class="panel blank-panel">
		    {{# El row detalle se compone de la div que contendra las pestañas... }}
            <div class="panel-heading">
                <div class="panel-options">
                    <ul class="nav nav-tabs detailTabList">
                        {{block blockRowContentDetail_tabsList}}{{end}}
                    </ul>
                </div>
            </div>
		    {{# ...y la div que contendra las formas del detalle, llamadas detailTabContent }}        
            <div class="panel-body">
        
                <div class="tab-content detailTabContent">
                    {{block blockRowContentDetail_tabsContent}}{{end}}
                </div>
        
            </div>
        </div>
        
    </div>
    
    {{# Row que referencia los resultados de las búsquedas, llamada searchResults. }}
    <div class="stv_rowSearchResults stv_tabRow" id="{{=str(D_tabOptions.s_tabId_results)}}" style="display:none;">
        {{block blockRowSearchResults_grid}}{{end}}
    </div>

    {{# Row adicional. }}
    <div class="stv_rowSearchAdditional stv_tabRowAdditional" id="{{=str(D_tabOptions.s_tabId_main)}}_additional" style="">
        {{block blockRowAdditional}}{{end}}
    </div>
    
    {{# Row usado para pantallas modal. }}
    <div class="stv_modal modal inmodal" id="{{=str(D_tabOptions.s_tabId_modal)}}" tabindex="1" role="dialog" style="display:none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated bounceInRight" id="{{=str(D_tabOptions.s_tabId_modal)}}_content">
                <div class="stv_windowModal_title">
                </div>
                <div class="tab-pane stv_windowModal_content stv_tab">
                </div>
            </div>
        </div>
    </div>
    
    {{# Row usado para loading, mientras se esta cargando un contenido ajax. }}
    <div class="stv_tabRow stv_msg_loading" tabindex="-1" style="display:none;">
        <div align="center">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" role="img" 
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-spinner fa-w-16 fa-spin fa-lg" 
            style="height: 50px;">
                <path fill="currentColor" d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z" class="">
                </path>
            </svg>
        </div>
    </div>

{{  # Si la vista configura botones abajo
    if D_useView.E_buttonsBarPosition == request.stv_fwk_permissions.E_POSITION_DOWN:  }}
        {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_rowbuttonsbar.html')}}
{{  pass  }}

</div>

{{  if (_b_serverCreatesTab):  }}
        </div>
{{  pass  }}


{{  if D_tabOptions.b_tabModal:  }}
        </div>
        
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            _$modalWindow = $("#{{=D_tabOptions.s_tabId}}");
            if (_$modalWindow) {
                _$modalWindow.find(".stv_close-link").unbind( "click" ).click(stv_fwk_modal_press_close);
            } else {}
        });
    </script>
{{  pass  }}

{{block blockJsBefore}}{{end}}
<script type="text/javascript">
    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab.js')}}
</script>
{{block blockJsAfter}}{{end}}
