    <nav class="navbar navbar-static-top border-bottom" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
{{          if response.stv_navbar.minimalize.b_enabled:  }}
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#_"><i class="fa fa-bars"></i> </a>
{{          pass                
            if response.stv_navbar.search.b_enabled:  }}
                <form role="search" class="navbar-form-custom" action="search_results.html">
                    <div class="form-group">
                        <input type="text" placeholder="{{=('Buscar pantalla...')}}" class="form-control" name="top-search" id="top-search">
                    </div>
                </form>
{{          pass  }}
        </div>
        {{ if globals().get('D_stvFwkCfg', None) and D_stvFwkCfg.dbRow_empresa: }}
            <div class="navbar-header minimalize-styl-2">Empresa: [{{=D_stvFwkCfg.dbRow_empresa.rfc}}] {{=D_stvFwkCfg.dbRow_empresa.nombrecorto}}</div>
        {{ else: }}
            <div class="navbar-header minimalize-styl-2">Multiempresa</div>
        {{ pass }}
        <div>
	        <ul class="nav navbar-top-links navbar-right m-r-none">
{{  			if ( 'auth' in globals() ) and auth.user_id:}}
	            	<li>
	                	<span class="m-r-sm text-muted welcome-message stv_navbar_message">{{=XML(response.stv_navbar.message.s_html)}}</span>
	            	</li>
{{            	if response.stv_navbar.tickets.b_enabled:  }}
		                <li class="dropdown stv_tickets">
		                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#_"> <i class="fa fa-envelope"></i> <span class="label label-warning">1</span> </a>
		                    <ul class="dropdown-menu dropdown-messages">
		                        <li>
		                            <div class="dropdown-messages-box">
		                                "Soporte futuro de tickets del sistema"
		                            </div>
		                        </li>
		                    </ul>
		                </li>
{{            	pass  
	            	if response.stv_navbar.alerts.b_enabled:  }}                
		                <li class="dropdown stv_alerts">
		                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#_"> <i class="fa fa-bell"></i> <span class="label label-primary">1</span> </a>
		                    <ul class="dropdown-menu dropdown-alerts">
		                        <li>
		                            "Soporte futuro de estatus del sistema"
		                        </li>
		                    </ul>
		                </li>
{{         	        pass  }}
	                <span class="feed-element">
	                    <img alt="image" class="img-circle" src="{{=URL(a=D_stvFwkCfg.s_nameBackofficeApp, c='accesos', f='fotomin')+'/%(fotominiatura)s?filename=%(fotonombrearchivo)s' % db.auth_user[auth.user_id].as_dict()}}">
	                </span>
	                {{ # TODO personalizar NavBar y agregar opción de lockear la session }}
	                {{=auth.navbar(mode='dropdown', referrer_actions=None)}}
{{  			pass  }}
	        </ul>
        </div>
    </nav>
