    <!-- The javascript =============================== -->
    <div class="stv_lockscreen gray-bg" id="stv_lockscreen" style="display:none;"> 
    </div>

    <!-- Mainly scripts -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/jquery-2.1.1.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='js/web2py.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/toastr/toastr.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/inspinia.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/bootstrap.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='js/web2py-bootstrap3.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/metisMenu/jquery.metisMenu.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>

    <!-- Flot -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/flot/jquery.flot.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/flot/jquery.flot.tooltip.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/flot/jquery.flot.spline.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/flot/jquery.flot.resize.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/flot/jquery.flot.pie.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/flot/jquery.flot.symbol.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/flot/jquery.flot.time.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/flot/curvedLines.js')}}"></script>

    <!-- Peity -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/peity/jquery.peity.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/demo/peity-demo.js')}}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{=stv_generateUrlForFile(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/stv_fwk_inspinia.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/pace/pace.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/iCheck/icheck.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/chosen/chosen.jquery.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/datapicker/bootstrap-datepicker.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='js/jquery.inputmask.bundle.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='js/bootstrap-datetimepicker.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='js/locales/bootstrap-datetimepicker.es.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/jsTree/jstree.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/codemirror/codemirror.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/codemirror/mode/xml/xml.js')}}"></script>


    <!-- jQuery UI -->
    <!--<script src="{{=URL('static','js/plugins/jquery-ui/jquery-ui.min.js')}}"></script>  Conflict with tooltip-->

    <!-- Jvectormap -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>

    <!-- Sparkline -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/sparkline/jquery.sparkline.min.js')}}"></script>

    <!-- Sparkline demo data  -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/demo/sparkline-demo.js')}}"></script>

    <!-- ChartJS -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/chartJs/Chart.min.js')}}"></script>

    <!-- Data Tables -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/fh-3.2.0/kt-2.6.4/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.5/sb-1.2.2/sp-1.4.0/sl-1.3.3/datatables.min.js"></script>


    <!-- Sweet Alert -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/sweetalert/sweetalert.min.js')}}"></script>

    <!-- Share ========================================= -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='js/share.js', vars=dict(static=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='images')))}}"></script>

    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='js/analytics.min.js')}}"></script>
    <script type="text/javascript">
        analytics.initialize({
            'Google Analytics' : {
                trackingId : '{{=response.google_analytics_id}}'
            }
        });
    </script>
    {{pass}}

    <script type="text/javascript">

        $(document).ready(function() {
            
            /* Asignar funcionalidad del layout */
            stv_fwk_assignFunctionality_layout();
{{          # Si existe un mensaje a mostrar...
            if response.flash:  }}
                stv_fwk_flashMessage({{=XML(simplejson.dumps(response.flash))}});                
{{          pass
            # Si contiene información en la variable response.stv_flash...
            if response.stv_flash:  }}
                stv_fwk_flashMessage({{=XML(simplejson.dumps(response.stv_flash))}});                
{{          pass  }}
            
            /* Para los botones principales del layout, al presionar click... */
            $(".stv_btnMain").click(function(e) {
                /* ...executar la función que crea el tab. */
                stv_fwk_menuOptionClick($(this), "{{=request.application}}", "{{=request.controller}}", "{{=request.function}}");
                e.stopPropagation();
            });
            
            /* Definir como variables globales en javascript los códigos utilizados de manera genérica para los botones
             * en las formas de catálogos */
            stv_gButtons = $.parseJSON('{{=XML(simplejson.dumps(request.stv_fwk_permissions.getDict()))}}');
            var _$configuracionApp = $('#stv_configuracion_app');
            
            {{      if ( ('auth' in globals()) and auth.is_logged_in() ):  
                _s_time = stv_ultimafechadearchivomodificado()
                # Iniciar la verificación de sesion  }}
                stv_var_sessionVerification = new stv_fwk_sessionControl(
                    "{{=URL(a=D_stvFwkCfg.s_nameAccesoApp, c='default', f='sessionverify.json')}}",
                    "{{=URL( a = D_stvFwkCfg.s_nameAccesoApp, c = 'default', f = 'userajax', args = ['login'])}}",
                    "{{=request.application}}",
                    "{{=_s_time}}"
                    );
                stv_var_sessionVerification.fn_sessionVerification();
                document.onmousemove = function(){
                  stv_var_sessionVerification.b_renewSessionTime = true;
                };
                
                if (_$configuracionApp)
                {
                    _$configuracionApp.data('cfg_cuenta_aplicacion_id', "{{=D_stvFwkCfg.cfg_cuenta_aplicacion_id}}");
    {{              if 'L_inputs' in globals():
    }}
                        _$configuracionApp.data('stv_L_inputs', '{{=XML(simplejson.dumps(L_inputs))}}');
    {{              else:
                        pass  
    }}
                        
                } else {}
    {{      pass  }}
    
            /* Definiciones globales de la aplicación */
		    _$configuracionApp.data("stv_E_ROWSEARCHRESULTS_TYPE_GRID", '{{=STV_FWK_FORM.ROWSEARCHRESULTS.PROPERTIES.TYPE.S_GRID}}');
		    _$configuracionApp.data("stv_E_ROWSEARCHRESULTS_TYPE_TREE", '{{=STV_FWK_FORM.ROWSEARCHRESULTS.PROPERTIES.TYPE.S_TREE}}');
            
    
        });


        
    </script>