    <div class="row stv_buttonsBar stv_buttonsBarModal" id="{{=str(D_tabOptions.s_tabId_buttonsBar)}}"  align="right">
        <div class="col-sm-12">
            <div class="stv_modalButtons">
{{              # Se especifica el boton a configurar y se incluye la configuración del boton
                _s_selectType = "button"
                for _s_btn in D_permissionsConfig.L_order:  
                    _D_btnCfg = D_permissionsConfig[_s_btn]  }}
                    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_button.html')}}
{{              pass  }}
            </div>
        </div>
    </div>
    