<div id="poweredBy" class="pull-right">
    {{=('Basado en ')}}
    <a href="http://www.web2py.com/">web2py</a>
</div>
<div>
    <strong>{{=T('Copyright')}}</strong> Soluciones Tecnológicas Verticales &#169; {{=request.utcnow.year}}
</div>
