{{ # Se genera la información de las columnas en la lista _L_columns }}
{{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content_searchresults_grid_columns.html')}}

        <div id="{{=D_tabOptions.s_tabId_tree}}" class="stv_tree">
            <ul>
{{          
            # Se definene variable iniciales
            _L_dbRow = [Storage(n_index = 0, L_dbRows = rowSearchResults_dbRows.raiz)] # Se define lista que agrupara los rows que se van trabajando.
            _n_timeout = 10000
            # Se recorren todos los elementos del row.
            while _L_dbRow and (_n_timeout > 0):
                _L_rowActual = _L_dbRow.pop()
                # Si ya se termino la rama
                if (len(_L_rowActual.L_dbRows) <= _L_rowActual.n_index):
}}
                    </ul>
{{
                else:
                    _dbRowActual = _L_rowActual.L_dbRows[_L_rowActual.n_index]
}}
                    <li class="jstree-open">
{{                      for _s_fieldname_id in L_fieldnameIds:  }}
                            <input field="{{=_s_fieldname_id}}" 
                                data-value="{{=_dbRowActual[_s_fieldname_id]}}"
                                data-parentid="{{=_dbRowActual.padre_id}}"
                                type="hidden" 
                                value="{{=_dbRowActual[_s_fieldname_id]}}"
                        />                            
{{                          pass  }}
                        {{=str(_dbRowActual.id) + ": " + _dbRowActual.nombrecorto}}
{{                      
                        # Si el id del row actual existe en la lista de rows, quiere decir que tiene subelementos.
                        if str(_dbRowActual.id) in rowSearchResults_dbRows:
}}
                            <ul>
{{
                            _L_rowActual.n_index += 1
                            _L_dbRow.append(_L_rowActual)
                            _L_dbRow.append(Storage(n_index = 0, L_dbRows = rowSearchResults_dbRows[str(_dbRowActual.id)]))
                        # Si no existen hijos, vamos por el siguiente hermano.
                        else:
}}
                            </li>
{{                            
                            _L_rowActual.n_index += 1
                            _L_dbRow.append(_L_rowActual)
                        pass
                pass
                _n_timeout -= 1
            pass
            if (not _n_timeout):
                BEAUTIFY(_L_dbRow)
            pass
}}
        </div>