{{  if dbTree:
        for _dbTreeLevel1 in dbTree:  }}
            <li>
                <a href="#_"><span class="nav-label">
                {{=XML(_dbTreeLevel1.data.tmenus.icono) if _dbTreeLevel1.data.tmenus.icono else XML('<i class="fa fa-database"></i>')}}{{=_dbTreeLevel1.data.tmenus.nombre}}
                </span><span class="fa arrow"></span></a>            
                <ul class="nav nav-second-level">
                
{{          for _dbTreeLevel2 in _dbTreeLevel1.get('subrows', []):  }}
<li>
    <a class="stv_btnMain" href="#_" 
        data-a="{{=_dbTreeLevel2.data.tformularios.aplicacion_w2p}}"
        data-c="{{=_dbTreeLevel2.data.tformularios.controlador_w2p}}"
        data-r="{{=_dbTreeLevel2.data.tformularios.funcion_w2p}}"
        data-empresa_id="{{=_dbTreeLevel2.data.tcuenta_aplicaciones.empresa_id}}"
        data-manejoargumentos="{{=_dbTreeLevel2.data.tmenu_submenus.manejoargumentos}}"
        data-argumentos="{{=_dbTreeLevel2.data.tmenu_submenus.argumentos}}"
        >
    {{=_dbTreeLevel2.data.tmenu_submenus.nombre}}</a>
</li>
{{          pass  }}

                </ul>         
            </li>
{{      pass
    pass}}