        {{if "opciontitulo" in rowContent_form.custom.label:  }}
            <div class="row">
                    <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.opcion_titulo}}</label><br/> {{=rowContent_form.custom.widget.opcion_titulo}} </div>
            </div>
            <hr/>
        {{pass  }}           
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pagina_tamanio}}</label><br/> {{=rowContent_form.custom.widget.pagina_tamanio}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pagina_orientacion}}</label> {{=rowContent_form.custom.widget.pagina_orientacion}} </div>           
        </div>
