{{ # Se genera la información de las columnas en la lista _L_columns }}
{{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content_searchresults_grid_columns.html')}}

<table id="{{=D_tabOptions.s_tabId_grid}}" class="stv_grid table compact row-border nowrap hover" style="width:100%"
        data-fnorderby = "{{=D_rowSearchResults.D_properties.fn_orderby}}">
    <thead>
        <tr>
{{          for _D_column in _L_columns:
                _s_classHtml = _D_column.m_classHtml(_D_column, None) if hasattr(_D_column, 'm_classHtml') and _D_column.m_classHtml else ""
                }}
                <th class="{{=_s_classHtml}} stv_column"
                    field="{{=_D_column.s_colname}}"
                    data-type="{{=getattr(_D_column.D_field, 'type', 'string')}}"
                    data-typefunc="{{=_D_column.s_type}}"
                    title="{{getattr(_D_column.D_field, 'comment', '')}}"
{{                  if _D_column.D_data:
                        for _s_indexData in _D_column.D_data:  }}
                            data-{{=_s_indexData}}="{{=_D_column.D_data[_s_indexData]}}"
{{                          pass
                        pass  }}                    
                    >{{=getattr(_D_column.D_field, 'label', 'No label definida')}}</th>
{{              pass  }}
            </tr>
        </thead>
    <tbody>
{{      for _dbRow_searchResult in rowSearchResults_dbRows.records:
            _s_classRow = ""
            if D_rowSearchResults.D_properties.L_selectIDs:
                _L_findIn = D_rowSearchResults.D_properties.L_selectIDs if D_rowSearchResults.D_properties.multiselect else D_rowSearchResults.D_properties.L_selectIDs[:1] 
                for _x_id in _L_findIn:
                    if not _s_classRow:
                        if isinstance(xLinkName, (str, int, long)) and (str(_x_id) == str(_dbRow_searchResult.id)):
                            _s_classRow = "stv_rowSeleccionado"
                        elif isinstance(xLinkName, Storage) and (str(_x_id.value) == str(_dbRow_searchResult[_x_id.field])):
                            _s_classRow = "stv_rowSeleccionado"
                            pass
                        pass
                    pass
                pass  }}  
            <tr class="{{=_s_classRow}}">            
{{              for _D_column in _L_columns:
                    try:
                        _s_value = None

                        _s_classHtml = _D_column.m_classHtml(_D_column, _dbRow_searchResult) if hasattr(_D_column, 'm_classHtml') and _D_column.m_classHtml else ""
                        
                        if _D_column.s_type == STV_FWK_FORM.ES_TYPECOLUMN.S_FIELD:
                            _s_value = _dbRow_searchResult[_D_column.s_tablename][_D_column.s_fieldname]
                        elif _D_column.s_type == STV_FWK_FORM.ES_TYPECOLUMN.S_CALCULATED:
                            _s_value = _dbRow_searchResult[_D_column.s_colname]
                        elif _D_column.s_type == STV_FWK_FORM.ES_TYPECOLUMN.S_FIELDVIRTUAL:
                            _s_value = _D_column.D_field.f(_dbRow_searchResult[_D_column.s_tablename])
                        else:
                            _s_value = _D_column.m_value(_D_column, _dbRow_searchResult) if hasattr(_D_column, 'm_value') and _D_column.m_value else ""
                            pass
                        
                        _s_representText = _D_column.D_field.represent(_s_value, _dbRow_searchResult) if hasattr(_D_column.D_field, 'represent') and _D_column.D_field.represent else str(_s_value)

                    except Exception as e:
                        _s_representText = (
                            "Error: " + str(e) 
                            + " / Valor: " + str(_s_value) 
                            + " / Nombre del campo: " + str(_D_column.s_fieldname) 
                            + " / Tipo: " + str(_D_column.s_type)
                            )
                        pass  }}
                    <td class="{{=_s_classHtml}}"
                        field="{{=_D_column.s_colname}}" 
                        data-value="{{=_s_value}}"
                        data-type="{{=_D_column.D_field.type}}"
                        data-typefunc="{{=_D_column.s_type}}"
                        >
                        {{=XML(_s_representText)}}
                        </td>
{{                  pass  }}
{{              for _D_column in _L_columnsHidden:
                    try:
                        _s_value = None
                        if _D_column.s_type == STV_FWK_FORM.ES_TYPECOLUMN.S_FIELD:
                            _s_value = _dbRow_searchResult[_D_column.s_tablename][_D_column.s_fieldname]
                        elif _D_column.s_type == STV_FWK_FORM.ES_TYPECOLUMN.S_CALCULATED:
                            _s_value = _dbRow_searchResult[_D_column.s_colname]
                        elif _D_column.s_type == STV_FWK_FORM.ES_TYPECOLUMN.S_FIELDVIRTUAL:
                            _s_value = _D_column.D_field.f(_dbRow_searchResult)
                        else:
                            _s_value = _D_column.m_value(_D_column, _dbRow_searchResult) if _D_column.m_value else ""
                            pass  
    
                        _s_representText = _D_column.D_field.represent(_s_value, _dbRow_searchResult) if hasattr(_D_column.D_field, 'represent') and _D_column.D_field.represent else str(_s_value)
                             
                    except Exception as e:
                        _s_representText = "Error: " + str(e) + " / Valor: " + str(_s_value) + " / Nombre del campo: " + str(_D_column.D_field.name)
                        pass  }}
                    <input field="{{=_D_column.s_colname}}" 
                        data-value="{{=_s_value}}"
                        data-type="{{=_D_column.D_field.type}}"
                        data-typefunc="{{=_D_column.s_type}}"
                        type="hidden" 
                        value="{{=xmlescape(_s_representText)}}"
{{                      if _D_column.D_data:
                            for _s_indexData in _D_column.D_data:  }}
                                data-{{=_s_indexData}}="{{=_D_column.D_data[_s_indexData]}}"
{{                              pass
                            pass  }}                    
                        />
{{                  pass  }}
                </tr>
{{          pass  }}
        </tbody>
    </table>