{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockbreadcrub}}
    {{include 'linea_breadcrumb.html'}}
{{end}}


{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.estatus}}</label><br/> {{=rowContent_form.custom.widget.estatus}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fechainicio}}</label> {{=rowContent_form.custom.widget.fechainicio}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.tipoembarque}}</label> {{=rowContent_form.custom.widget.tipoembarque}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.chofer}}</label> {{=rowContent_form.custom.widget.chofer}} </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.guiaembarque}}</label> {{=rowContent_form.custom.widget.guiaembarque}} </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.empresa_transporte_id}}</label> {{=rowContent_form.custom.widget.empresa_transporte_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
        </div>
        
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
    
            
            var _$form = $('#{{=rowContent_form.formname}}');
                          
            var _$triggerTipoEmbarque = $(_$form.find("select[name=tipoembarque]"));
        
            var _$triggerChofer = $(_$form.find("input[name=chofer]"));
                        
           _$triggerTipoEmbarque.on('change', function() {
               
               var _x_tipoembarque = _$triggerTipoEmbarque.val();      
               
               var _x_tipoembarquePaqueteria = '{{=TEMPRESA_EMBARQUES.TIPO_EMBARQUE.PAQUETERIA}}';
               
               if(_x_tipoembarque == _x_tipoembarquePaqueteria){
            	   
                    _$triggerChofer.prop("disabled",true)
               }
               else{
            	   
                   _$triggerChofer.prop("disabled",false)

               }
            });
           _$triggerTipoEmbarque.change();
            
    {{  pass }}
   
    });
</script>
{{end}}


