{{# -*- coding: utf-8 -*-}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipo}}</label> {{=rowContent_form.custom.widget.tipo}} </div>
            {{ else: }}
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.tipo}}</label> {{=rowContent_form.custom.widget.tipo}} </div>
            {{ pass }}
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.descuento}}</label> {{=rowContent_form.custom.widget.descuento}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_prodserv_casco_id}}</label> {{=rowContent_form.custom.widget.empresa_prodserv_casco_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cantidad_cascos}}</label> {{=rowContent_form.custom.widget.cantidad_cascos}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.valor_casco}}</label> {{=rowContent_form.custom.widget.valor_casco}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
        </div>
    </div>
    
    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">

$(document).ready(function() {
{{ if globals().get('rowContent_form', None) and not rowContent_form.readonly: }}

    let _$tab = $("#{{=D_tabOptions.s_tabId}}_reference").closest(".stv_tab");
    let _$form = _$tab.find('.stv_rowContent:first>.stv_rowContent_form,.detailTabContent:first>.stv_form_partOfMain');

    /** Validaciones para método y forma de pago */
    let _$tipo = _$form.find('[name=tipo]');
    let _$casco = _$form.find('[name=empresa_prodserv_casco_id]');
    let _$cantidad = _$form.find('[name=cantidad_cascos]');
    let _$valorcasco = _$form.find('[name=valor_casco]');
    let _$descuento = _$form.find('[name=descuento]');

    let _fn_validar_cascos = function () {
        let _$inputDescuento = _$form.find("[name=descuento]").parent().find("input, select, button");
        let _$inputsCasco = _$form.find("[name=empresa_prodserv_casco_id], [name=cantidad_cascos]").parent().find("input, select, button");
        let _$inputValorCasco = _$form.find("[name=valor_casco]").parent().find("input, select, button");

        if (_$tipo.val() === "{{=TCFDI_CONCEPTO_DESCUENTOS.E_TIPO.CASCO_1A1}}") {
            _$inputDescuento.prop('disabled', true);
            _$inputsCasco.prop('disabled', false);
            _$inputValorCasco.prop('disabled', true);

            // Convierte cualquier valor no valido a cero
            _$valorcasco.val(+_$casco.find(":selected").attr("field_preciofijo") || 0);
        }
        else if (_$tipo.val() === "{{=TCFDI_CONCEPTO_DESCUENTOS.E_TIPO.CASCO_EXCEDENTE}}") {
            _$inputDescuento.prop('disabled', true);
            _$inputsCasco.prop('disabled', false);
            _$inputValorCasco.prop('disabled', false);

            // Convierte cualquier valor no valido a cero
            _$valorcasco.val(+_$casco.find(":selected").attr("field_excedente_preciopropuesto") || 0);
        }
        else {
            _$inputDescuento.prop('disabled', false);
            _$inputsCasco.prop('disabled', true);
            _$inputValorCasco.prop('disabled', true);

            _$casco.val("");
            _$cantidad.val("");
            _$valorcasco.val("");
        }

        _$inputDescuento.trigger("chosen:updated").trigger("update");
        _$inputsCasco.trigger("chosen:updated").trigger("update");
        _$inputValorCasco.trigger("chosen:updated").trigger("update");
        _$cantidad.trigger("change");
    };

    let _fn_calcular_cascos = function () {
        if (_$tipo.val() === "{{=TCFDI_CONCEPTO_DESCUENTOS.E_TIPO.CASCO_1A1}}") {

            _$descuento.val(_$cantidad.val() * _$valorcasco.val());
        }
        else if (_$tipo.val() === "{{=TCFDI_CONCEPTO_DESCUENTOS.E_TIPO.CASCO_EXCEDENTE}}") {

            _$descuento.val(_$cantidad.val() * _$valorcasco.val());
        }
        else {

        }
    };

    _$tipo.on('change', _fn_validar_cascos);
    _$casco.on('change', _fn_validar_cascos);

    _$cantidad.on('change', _fn_calcular_cascos);
    _$valorcasco.on('change', _fn_calcular_cascos);
    _$tipo.trigger("change");  // Con uno que se mande llamar

{{ else: pass }}
});
</script>
{{end}}

