{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.impuesto_id}}</label> {{=rowContent_form.custom.widget.impuesto_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipofactor}}</label> {{=rowContent_form.custom.widget.tipofactor}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tasaocuota}}</label> {{=rowContent_form.custom.widget.tasaocuota}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.importe}}</label> {{=rowContent_form.custom.widget.importe}} </div>
        </div>
    </div>
    
    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">

$(document).ready(function() {  
    
    {{ if globals().get('dbRow_cfdi', None): }}
       var _$tab = $("#{{=D_tabOptions.s_tabId}}_reference").parent().closest(".stv_tab");
       var _$conceptoTab = _$tab.parent().closest(".stv_tab");
       var _$parentTab = _$conceptoTab.parent().closest(".stv_tab");
       var _s_rowMain_id = _$parentTab.data('stv_gIDTabMain');
       var _$parentMain = $("#"+_s_rowMain_id);

       if (_$parentMain) {
           stv_fwk2_setValue_byFieldName(_$parentMain, 'tcfdis', 'subtotal', '{{=dbRow_cfdi.subtotal}}');
           stv_fwk2_setValue_byFieldName(_$parentMain, 'tcfdis', 'descuento', '{{=dbRow_cfdi.descuento}}');
           stv_fwk2_setValue_byFieldName(_$parentMain, 'tcfdis', 'totalimpuestostrasladados', '{{=dbRow_cfdi.totalimpuestostrasladados}}');
           stv_fwk2_setValue_byFieldName(_$parentMain, 'tcfdis', 'totalimpuestosretenidos', '{{=dbRow_cfdi.totalimpuestosretenidos}}');
           stv_fwk2_setValue_byFieldName(_$parentMain, 'tcfdis', 'total', '{{=dbRow_cfdi.total}}');
           stv_fwk_assignFunctionality_form(_$parentTab, _$parentMain);
       } else {}
    
    {{ else: pass }}

    });

</script>
{{end}}

