{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.versionpago}}</label> {{=rowContent_form.custom.widget.versionpago}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechapago}}</label> {{=rowContent_form.custom.widget.fechapago}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.formapago_id}}</label> {{=rowContent_form.custom.widget.formapago_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipocambio}}</label> {{=rowContent_form.custom.widget.tipocambio}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.monto}}</label> {{=rowContent_form.custom.widget.monto}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.sumarelacionados}}</label> {{=rowContent_form.custom.widget.sumarelacionados}} </div>
        </div>
    </div>
    
    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

