{{b_customRowContent_formAdvSearch = True}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}
{{end}}

{{block blockCustomRowContent_form}}

{{ if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    
        <div>
            <div class="row">
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fecha}}</label> {{=rowContent_form.custom.widget.fecha}} </div>
                <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_plaza_sucursal_cajachica_id}}</label> {{=rowContent_form.custom.widget.empresa_plaza_sucursal_cajachica_id}} </div> 
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.formapago_id}}</label> {{=rowContent_form.custom.widget.formapago_id}} </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechapago}}</label> {{=rowContent_form.custom.widget.fechapago}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.monto}}</label> {{=rowContent_form.custom.widget.monto}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipocambio}}</label> {{=rowContent_form.custom.widget.tipocambio}} </div>
            </div>
        </div>    

    {{=rowContent_form.custom.end}}
{{ else: pass }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">

$(document).ready(function() {  

    });
</script>
{{end}}

