<!DOCTYPE html>
<!--[if IE 8]> <html lang="{{=T.accepted_language or 'es'}}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{=T.accepted_language or 'es'}}" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{=T.accepted_language or 'es'}}"> <!--<![endif]-->
<head>
    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_head.html')}}
    {{block web_head}}{{end}}
</head>
<body>
    <div id="stv_configuracion_app" style="display:none"></div>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg dashbard-1" style="width:100%">
    
		    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
		    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_body_navbar.html')}}
		    <div id="{{=s_maintab_id}}" class="stv_tab tab-pane active">
		    <div id="stv_contenido">
		    {{block stv_contenido}}{{end}}
		    </div>
		    </div>
		    <div class="footer fixed stv_footer" style="margin-left:0px;">
		        {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_body_footer.html')}}
		    </div>
	    </div>
    </div>
    {{block body_footer}}{{end}}
    {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_body_js.html')}}
    {{block body_js}}{{end}}

</body>

</html>

<script>
    $(document).on('ready', function () {

        
        });
</script>