{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_producto_id}}</label> {{=rowContent_form.custom.widget.empresa_producto_id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.cantidad_entrada}}</label> {{=rowContent_form.custom.widget.cantidad_entrada}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.observaciones}}</label> {{=rowContent_form.custom.widget.observaciones}} </div>
        </div>
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

{{end}}


