{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockbreadcrub}}
    {{include 'linea_breadcrumb.html'}}
{{end}}

{{block blockCustomRowContent_form}}
	{{  if rowContent_form:  }}
	
	    {{=rowContent_form.custom.begin}}
	    <div>
	    
            <div class="row">
{{ 
            if rowContent_form.record_id:
}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fecha_movimiento}}</label> {{=rowContent_form.custom.widget.fecha_movimiento}} </div>
{{          
            else: 
}}
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fecha_movimiento}}</label> {{=rowContent_form.custom.widget.fecha_movimiento}} </div>
{{          
                pass 
}}
            </div>
	        <div class="row">
	            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.observaciones}}</label> {{=rowContent_form.custom.widget.observaciones}} </div>
	        </div>
	    </div>
	
	    {{=rowContent_form.custom.end}}
	{{  pass  }}
{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}


