{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
            {{ else: }}
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
            {{ pass }}
            
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.foliado}}</label> {{=rowContent_form.custom.widget.foliado}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioejercicio}}</label> {{=rowContent_form.custom.widget.folioejercicio}} </div>    
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo01}}</label> {{=rowContent_form.custom.widget.folioperiodo01}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo02}}</label> {{=rowContent_form.custom.widget.folioperiodo02}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo03}}</label> {{=rowContent_form.custom.widget.folioperiodo03}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo04}}</label> {{=rowContent_form.custom.widget.folioperiodo04}} </div>    
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo05}}</label> {{=rowContent_form.custom.widget.folioperiodo05}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo06}}</label> {{=rowContent_form.custom.widget.folioperiodo06}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo07}}</label> {{=rowContent_form.custom.widget.folioperiodo07}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo08}}</label> {{=rowContent_form.custom.widget.folioperiodo08}} </div>    
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo09}}</label> {{=rowContent_form.custom.widget.folioperiodo09}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo10}}</label> {{=rowContent_form.custom.widget.folioperiodo10}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo11}}</label> {{=rowContent_form.custom.widget.folioperiodo11}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folioperiodo12}}</label> {{=rowContent_form.custom.widget.folioperiodo12}} </div>    
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.clasepoliza}}</label> {{=rowContent_form.custom.widget.clasepoliza}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.impresionpoliza}}</label> {{=rowContent_form.custom.widget.impresionpoliza}} </div>
        
        </div>
    </div>
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            var _$form = $('#{{=rowContent_form.formname}}');
                  
            var _$triggerFoliado = $(_$form.find("input[name=foliado]"));
            var _$triggerFolioejercicio = $(_$form.find("input[name=folioejercicio]"));
            var _$triggerFolioperiodo01 = $(_$form.find("input[name=folioperiodo01]"));
            var _$triggerFolioperiodo02 = $(_$form.find("input[name=folioperiodo02]"));
            var _$triggerFolioperiodo03 = $(_$form.find("input[name=folioperiodo03]"));
            var _$triggerFolioperiodo04 = $(_$form.find("input[name=folioperiodo04]"));
            var _$triggerFolioperiodo05 = $(_$form.find("input[name=folioperiodo05]"));
            var _$triggerFolioperiodo06 = $(_$form.find("input[name=folioperiodo06]"));
            var _$triggerFolioperiodo07 = $(_$form.find("input[name=folioperiodo07]"));
            var _$triggerFolioperiodo08 = $(_$form.find("input[name=folioperiodo08]"));
            var _$triggerFolioperiodo09 = $(_$form.find("input[name=folioperiodo09]"));
            var _$triggerFolioperiodo10 = $(_$form.find("input[name=folioperiodo10]"));
            var _$triggerFolioperiodo11 = $(_$form.find("input[name=folioperiodo11]"));
            var _$triggerFolioperiodo12 = $(_$form.find("input[name=folioperiodo12]"));

            
           _$triggerFoliado.on('change', function() {
        	   var _x_foliado = stv_fwk_formGetFieldValue(null, $(this));
        	   
        	   var _x_por_periodo = 2;
        	   
                if (_x_foliado == _x_por_periodo)
                {
                     _$triggerFolioperiodo01.prop('disabled', true);
                     _$triggerFolioperiodo01.val('');
                     
                     _$triggerFolioperiodo02.prop('disabled', true);
                     _$triggerFolioperiodo02.val('');
                     
                     _$triggerFolioperiodo03.prop('disabled', true);
                     _$triggerFolioperiodo03.val('');
                     
                     _$triggerFolioperiodo04.prop('disabled', true);
                     _$triggerFolioperiodo04.val('');
                     
                     _$triggerFolioperiodo05.prop('disabled', true);
                     _$triggerFolioperiodo05.val('');
                     
                     _$triggerFolioperiodo06.prop('disabled', true);
                     _$triggerFolioperiodo06.val('');
                     
                     _$triggerFolioperiodo07.prop('disabled', true);
                     _$triggerFolioperiodo07.val('');
                     
                     _$triggerFolioperiodo08.prop('disabled', true);
                     _$triggerFolioperiodo08.val('');
                     
                     _$triggerFolioperiodo09.prop('disabled', true);
                     _$triggerFolioperiodo09.val('');
                     
                     _$triggerFolioperiodo10.prop('disabled', true);
                     _$triggerFolioperiodo10.val('');
                     
                     _$triggerFolioperiodo11.prop('disabled', true);
                     _$triggerFolioperiodo11.val('');
                     
                     _$triggerFolioperiodo12.prop('disabled', true);
                     _$triggerFolioperiodo12.val('');

                }
                else
                {
                    _$triggerFolioejercicio.prop('disabled', true);
                    _$triggerFolioejercicio.val('');
                }
            });
           _$triggerFoliado.change();
            
    {{  pass }}

    });
</script>
{{end}}
