{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cfdi_emitido_ingreso}}</label> {{=rowContent_form.custom.widget.cfdi_emitido_ingreso}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cfdi_emitido_egreso}}</label> {{=rowContent_form.custom.widget.cfdi_emitido_egreso}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cfdi_emitido_pago}}</label> {{=rowContent_form.custom.widget.cfdi_emitido_pago}} </div>    
        </div>
    </div>
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
