{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.codigo_contpaqi}}</label> {{=rowContent_form.custom.widget.codigo_contpaqi}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.nombre}}</label> {{=rowContent_form.custom.widget.nombre}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.banco_id}}</label> {{=rowContent_form.custom.widget.banco_id}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.rfc}}</label> {{=rowContent_form.custom.widget.rfc}} </div>    
        </div>
    </div>  
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
