{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.codigo}}</label> {{=rowContent_form.custom.widget.codigo}} </div>
            {{ else: }}
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.codigo}}</label> {{=rowContent_form.custom.widget.codigo}} </div>
            {{ pass }}
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.nombre}}</label> {{=rowContent_form.custom.widget.nombre}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipo}}</label> {{=rowContent_form.custom.widget.tipo}} </div>    
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.tipo_documento_pago_contpaqi}}</label> {{=rowContent_form.custom.widget.tipo_documento_pago_contpaqi}} </div>    
        </div>
    </div>
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            var _$form = $('#{{=rowContent_form.formname}}');
            var _$triggerDiario = $(_$form.find("select[name=tipo]"));
        
            var _$triggerTipoDocumentoPago = $(_$form.find("input[name=tipo_documento_pago_contpaqi]"));
           
           _$triggerDiario.on('change', function() {
                var _x_tipoDiario = _$triggerDiario.val();
                
                // Contantes para Tipo Diario Egreso e Ingreso
                var _x_tipoDiario_ingreso = {{=TEMPRESA_DIARIOS.E_TIPO.EFECTIVO_INGRESO}}
                var _x_tipoDiario_egreso = {{=TEMPRESA_DIARIOS.E_TIPO.EFECTIVO_EGRESO}}

                
                if ((_x_tipoDiario != _x_tipoDiario_ingreso) && (_x_tipoDiario != _x_tipoDiario_egreso))
                {
                     _$triggerTipoDocumentoPago.prop('disabled', true);
                     
                     _$triggerTipoDocumentoPago.val('');
                }
                else
                {
                    _$triggerTipoDocumentoPago.prop('disabled', false);
                }
            });
           _$triggerDiario.change();
            
    {{  pass }}

    });
    
</script>
{{end}}
