{{b_customRowContent_formAdvSearch = True}}
{{b_customRowContent_form = False}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}

{{  if rowContent_formAdvSearch:  }}

    {{=rowContent_formAdvSearch.custom.begin}}
    
    <div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.emisorproveedor_id}}</label> {{=rowContent_formAdvSearch.custom.widget.emisorproveedor_id}}</div>
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.serie}}</label> {{=rowContent_formAdvSearch.custom.widget.serie}} </div>    
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.folio}}</label> {{=rowContent_formAdvSearch.custom.widget.folio}} </div>         
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.cfdi}}</label> {{=rowContent_formAdvSearch.custom.widget.cfdi}} </div>         
        </div>              
    </div>
    
    {{=rowContent_formAdvSearch.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

