{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}


{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    
            {{
	            _s_style_incosistencia_precio = "background-color: None;"
	            _s_style_incosistencia_cantidad = "background-color: None;"
	            _s_style_incosistencia_sincfdi = "background-color: None;"
	            _s_style_incosistencia_producto_id = "background-color: None;"
	            _s_style_incosistencia_noencfdi = "background-color: None;"
	            _s_style_incosistencia_otra = "background-color: None;"
	            
	            #Si existe rowContent_form.record significa que se está editando un registro.
	            if(rowContent_form.record):
	            
	
		            if (rowContent_form.record.tipo_inconsistencia == TEMPRESA_INVMOVTO_PRODUCTOS.Tipo_Inconsistencia.SIN_INCONSISTENCIA):
	                   #Si pongo pass aquí siempre entra y no hace los demás IF. 
		               _s_style_incosistencia = "background-color: None;"
		               
		            elif (rowContent_form.record.tipo_inconsistencia == TEMPRESA_INVMOVTO_PRODUCTOS.Tipo_Inconsistencia.PRECIO):
		            
		               _s_style_incosistencia_precio = "background-color: red;" 
		               
		            elif (rowContent_form.record.tipo_inconsistencia == TEMPRESA_INVMOVTO_PRODUCTOS.Tipo_Inconsistencia.CANTIDAD):
		            
	                   _s_style_incosistencia_cantidad = "background-color: red;"  
	
	                elif (rowContent_form.record.tipo_inconsistencia == TEMPRESA_INVMOVTO_PRODUCTOS.Tipo_Inconsistencia.SIN_CFDI):
	                   
	                   #Si no tiene CFDI se marcará un error en todas las casillas para dar a entender que hay un error grande.
	                   _s_style_incosistencia_precio = "background-color: red;"
		               _s_style_incosistencia_cantidad = "background-color: red;"
		               _s_style_incosistencia_sincfdi = "background-color: red;"
		               _s_style_incosistencia_producto_id = "background-color: red;"
		               _s_style_incosistencia_noencfdi = "background-color: red;"
		               _s_style_incosistencia_otra = "background-color: red;" 
	                   
	                elif (rowContent_form.record.tipo_inconsistencia == TEMPRESA_INVMOVTO_PRODUCTOS.Tipo_Inconsistencia.PRODUCTO_ID):
	                
	                   _s_style_incosistencia_producto_id = "background-color: red;"   
	                   
	                elif (rowContent_form.record.tipo_inconsistencia == TEMPRESA_INVMOVTO_PRODUCTOS.Tipo_Inconsistencia.NO_EN_CFDI):
	                
	                   _s_style_incosistencia_noencfdi = "background-color: red;"  
	                   
	                elif (rowContent_form.record.tipo_inconsistencia == TEMPRESA_INVMOVTO_PRODUCTOS.Tipo_Inconsistencia.OTRA):
	                
	                   _s_style_incosistencia_otra = "background-color: red;"     
	                   
		            else:
		               _s_style_incosistencia_otra = "background-color: red;"
		                    pass          
		       else:
                  pass  
            }}        
    
    <div>
        <div class="row">
            <div class="form-group col-sm-4" style="{{=_s_style_incosistencia_producto_id}}"><label>{{=rowContent_form.custom.label.empresa_producto_id}}</label> {{=rowContent_form.custom.widget.empresa_producto_id}} </div>
            <div class="form-group col-sm-2" style="{{=_s_style_incosistencia_noencfdi}}"><label>{{=rowContent_form.custom.label.producto_externo}}</label> {{=rowContent_form.custom.widget.producto_externo}} </div>
            <div class="form-group col-sm-2" style="{{=_s_style_incosistencia_cantidad}}"><label>{{=rowContent_form.custom.label.cantidad_entrada}}</label> {{=rowContent_form.custom.widget.cantidad_entrada}} </div>
            <div class="form-group col-sm-2" style="{{=_s_style_incosistencia_precio}}"><label>{{=rowContent_form.custom.label.preciounitario}}</label> {{=rowContent_form.custom.widget.preciounitario}} </div>
            <div class="form-group col-sm-2" style="{{=_s_style_incosistencia_otra}}"><label>{{=rowContent_form.custom.label.tipo_inconsistencia}}</label> {{=rowContent_form.custom.widget.tipo_inconsistencia}} </div>
        </div>
    <div class="row">
    {{if dbRow_cfdi_concepto:}} 
            <div class="form-group col-sm-4"><label>{{='Descripción CFDI'}}</label> {{=stv_represent_string(dbRow_cfdi_concepto.tcfdi_conceptos.descripcion, dbRow_cfdi_concepto.tcfdi_conceptos)}}  </div>
            <div class="form-group col-sm-2"><label>{{='No. identificacion CFDI'}}</label> {{=stv_represent_string(dbRow_cfdi_concepto.tcfdi_conceptos.noidentificacion, dbRow_cfdi_concepto.tcfdi_conceptos)}} </div>
            <div class="form-group col-sm-2"><label>{{='Registrados/Cantidad CFDI'}}</label>
             {{=stv_represent_number(dbRow_cfdi_concepto.registrados or 0, dbRow_cfdi_concepto.tcfdi_conceptos)}}  
             {{=stv_represent_number(dbRow_cfdi_concepto.tcfdi_conceptos.cantidad, dbRow_cfdi_concepto.tcfdi_conceptos)}}  
             </div>
            <div class="form-group col-sm-2"><label>{{='Precio unitario CFDI'}}</label> {{=stv_represent_money(dbRow_cfdi_concepto.tcfdi_conceptos.valorunitario, dbRow_cfdi_concepto.tcfdi_conceptos)}}  </div>
            <div class="form-group col-sm-2"><label>{{='Costo total CFDI'}}</label> {{=stv_represent_money(dbRow_cfdi_concepto.tcfdi_conceptos.importe, dbRow_cfdi_concepto.tcfdi_conceptos)}}  </div>

    {{pass}}
        </div>
    </div>
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}


