{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_almacenesconcepto_id}}</label> {{=rowContent_form.custom.widget.empresa_almacenesconcepto_id}} </div>
            {{ else: }}
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_almacenesconcepto_id}}</label> {{=rowContent_form.custom.widget.empresa_almacenesconcepto_id}} </div>
            {{ pass }}
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fecha_movimiento}}</label> {{=rowContent_form.custom.widget.fecha_movimiento}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fecha_registro}}</label> {{=rowContent_form.custom.widget.fecha_registro}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.estatus_movimiento}}</label> {{=rowContent_form.custom.widget.estatus_movimiento}} </div>
            <div class="form-group col-sm-9"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_proveedor_id}}</label> {{=rowContent_form.custom.widget.empresa_proveedor_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipodocumento}}</label> {{=rowContent_form.custom.widget.tipodocumento}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.remision}}</label> {{=rowContent_form.custom.widget.remision}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cfdi_egreso_id}}</label> {{=rowContent_form.custom.widget.cfdi_egreso_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tc}}</label> {{=rowContent_form.custom.widget.tc}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ordencompra}}</label> {{=rowContent_form.custom.widget.ordencompra}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folio}}</label> {{=rowContent_form.custom.widget.folio}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.inconsistencias}}</label> {{=rowContent_form.custom.widget.inconsistencias}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.infoaduaneranopedimento}}</label> {{=rowContent_form.custom.widget.infoaduaneranopedimento}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechaarrivo}}</label> {{=rowContent_form.custom.widget.fechaarrivo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.puerto}}</label> {{=rowContent_form.custom.widget.puerto}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.agente}}</label> {{=rowContent_form.custom.widget.agente}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.moneda_id}}</label> {{=rowContent_form.custom.widget.moneda_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipocambio}}</label> {{=rowContent_form.custom.widget.tipocambio}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.pais_id}}</label> {{=rowContent_form.custom.widget.pais_id}} </div>
        </div>
    </div>

    {{if rowContent_form.custom.label.observaciones:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.observaciones}}</label> {{=rowContent_form.custom.widget.observaciones}} </div>
            </div>
        </div>
    {{pass}}

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

<script type="text/javascript">

$(document).ready(function() {

    });

</script>

{{end}}
