{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.empresa_plaza_sucursal_id}}</label> {{=rowContent_form.custom.widget.empresa_plaza_sucursal_id}} </div>
            {{ else: }}
                <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_plaza_sucursal_id}}</label> {{=rowContent_form.custom.widget.empresa_plaza_sucursal_id}} </div>
            {{ pass }}
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_diario_id}}</label> {{=rowContent_form.custom.widget.empresa_diario_id}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_segmento_id}}</label> {{=rowContent_form.custom.widget.empresa_segmento_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_tipopoliza_ingreso_id}}</label> {{=rowContent_form.custom.widget.empresa_tipopoliza_ingreso_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_tipopoliza_pago_id}}</label> {{=rowContent_form.custom.widget.empresa_tipopoliza_pago_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_tipopoliza_egreso_id}}</label> {{=rowContent_form.custom.widget.empresa_tipopoliza_egreso_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.estilopoliza}}</label> {{=rowContent_form.custom.widget.estilopoliza}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.concepto_ingreso}}</label> {{=rowContent_form.custom.widget.concepto_ingreso}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.concepto_pago}}</label> {{=rowContent_form.custom.widget.concepto_pago}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.concepto_egreso}}</label> {{=rowContent_form.custom.widget.concepto_egreso}} </div>
        </div>
    </div>
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
