{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.registropatronal}}</label> {{=rowContent_form.custom.widget.registropatronal}} </div>
            {{ else: }}
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.registropatronal}}</label> {{=rowContent_form.custom.widget.registropatronal}} </div>
            {{ pass }}
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fechaaltaimss}}</label> {{=rowContent_form.custom.widget.fechaaltaimss}} </div>    
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fechabajaimss}}</label> {{=rowContent_form.custom.widget.fechabajaimss}} </div>    
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fraccionleyimss}}</label> {{=rowContent_form.custom.widget.fraccionleyimss}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.primariesgo}}</label> {{=rowContent_form.custom.widget.primariesgo}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.registroinfonacot}}</label> {{=rowContent_form.custom.widget.registroinfonacot}} </div>
        </div>
    </div>
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
