{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
                <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.tasa}}</label> {{=rowContent_form.custom.widget.tasa}} </div>
            {{ else: }}
                <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.tasa}}</label> {{=rowContent_form.custom.widget.tasa}} </div>
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
            {{ pass }}
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_ivatrasladado}}</label> {{=rowContent_form.custom.widget.cuentacontable_ivatrasladado}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_ivaportrasladar}}</label> {{=rowContent_form.custom.widget.cuentacontable_ivaportrasladar}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_ivaacreditable}}</label> {{=rowContent_form.custom.widget.cuentacontable_ivaacreditable}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_ivaacreditableimportaciones}}</label> {{=rowContent_form.custom.widget.cuentacontable_ivaacreditableimportaciones}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_ivaporacreditar}}</label> {{=rowContent_form.custom.widget.cuentacontable_ivaporacreditar}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_ivaporacreditarimportaciones}}</label> {{=rowContent_form.custom.widget.cuentacontable_ivaporacreditarimportaciones}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_ivaafavorretenido}}</label> {{=rowContent_form.custom.widget.cuentacontable_ivaafavorretenido}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_ivaafavorporretener}}</label> {{=rowContent_form.custom.widget.cuentacontable_ivaafavorporretener}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_ivaretenido}}</label> {{=rowContent_form.custom.widget.cuentacontable_ivaretenido}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_ivaporretener}}</label> {{=rowContent_form.custom.widget.cuentacontable_ivaporretener}} </div>
        </div>
    </div>
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

<script type="text/javascript">
</script>

{{end}}
