{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.ingreso_efectivo}}</label> {{=rowContent_form.custom.widget.ingreso_efectivo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ingreso_efectivo_depositado}}</label> {{=rowContent_form.custom.widget.ingreso_efectivo_depositado}} </div>
            <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.ingreso_tdd}}</label> {{=rowContent_form.custom.widget.ingreso_tdd}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.ingreso_tdc}}</label> {{=rowContent_form.custom.widget.ingreso_tdc}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.ingreso_cheque}}</label> {{=rowContent_form.custom.widget.ingreso_cheque}} </div>
            
        </div>

        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.ingreso_transferencia}}</label> {{=rowContent_form.custom.widget.ingreso_transferencia}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.ingreso_cliente}}</label> {{=rowContent_form.custom.widget.ingreso_cliente}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.ingreso_venta}}</label> {{=rowContent_form.custom.widget.ingreso_venta}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.ingreso_descuento}}</label> {{=rowContent_form.custom.widget.ingreso_descuento}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ingreso_imptrasladado}}</label> {{=rowContent_form.custom.widget.ingreso_imptrasladado}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ingreso_impportrasladar}}</label> {{=rowContent_form.custom.widget.ingreso_impportrasladar}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.pago_efectivo}}</label> {{=rowContent_form.custom.widget.pago_efectivo}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pago_efectivo_depositado}}</label> {{=rowContent_form.custom.widget.pago_efectivo_depositado}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.pago_tdd}}</label> {{=rowContent_form.custom.widget.pago_tdd}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.pago_tdc}}</label> {{=rowContent_form.custom.widget.pago_tdc}} </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pago_cheque}}</label> {{=rowContent_form.custom.widget.pago_cheque}} </div>
            <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.pago_transferencia}}</label> {{=rowContent_form.custom.widget.pago_transferencia}} </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pago_cliente}}</label> {{=rowContent_form.custom.widget.pago_cliente}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pago_imptrasladado}}</label> {{=rowContent_form.custom.widget.pago_imptrasladado}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pago_impportrasladar}}</label> {{=rowContent_form.custom.widget.pago_impportrasladar}} </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.egreso_cliente}}</label> {{=rowContent_form.custom.widget.egreso_cliente}} </div>
            <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.egreso_venta}}</label> {{=rowContent_form.custom.widget.egreso_venta}} </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.egreso_descuento}}</label> {{=rowContent_form.custom.widget.egreso_descuento}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.egreso_imptrasladado}}</label> {{=rowContent_form.custom.widget.egreso_imptrasladado}} </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.egreso_impportrasladar}}</label> {{=rowContent_form.custom.widget.egreso_impportrasladar}} </div>
        </div>        
        
    </div>
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

{{end}}
