{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
            {{ else: }}
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
            {{ pass }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuentacontableingreso}}</label> {{=rowContent_form.custom.widget.cuentacontableingreso}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuentacontableingreso_nocobrado}}</label> {{=rowContent_form.custom.widget.cuentacontableingreso_nocobrado}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_diario_cuentacontableingreso_id}}</label> {{=rowContent_form.custom.widget.empresa_diario_cuentacontableingreso_id}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuentacontabledescto}}</label> {{=rowContent_form.custom.widget.cuentacontabledescto}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuentacontabledescto_nocobrado}}</label> {{=rowContent_form.custom.widget.cuentacontabledescto_nocobrado}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_diario_cuentacontabledescto_id}}</label> {{=rowContent_form.custom.widget.empresa_diario_cuentacontabledescto_id}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuentacontable_egresodescuento}}</label> {{=rowContent_form.custom.widget.cuentacontable_egresodescuento}} </div>
        <div class="form-group col-sm-4"></div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_diario_cuentacontableegresodescuento_id}}</label> {{=rowContent_form.custom.widget.empresa_diario_cuentacontableegresodescuento_id}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuentacontable_egresobonificacion}}</label> {{=rowContent_form.custom.widget.cuentacontable_egresobonificacion}} </div>
        <div class="form-group col-sm-4"></div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_diario_cuentacontableegresobonificacion_id}}</label> {{=rowContent_form.custom.widget.empresa_diario_cuentacontableegresobonificacion_id}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuentacontable_egresodevolucion}}</label> {{=rowContent_form.custom.widget.cuentacontable_egresodevolucion}} </div>
        <div class="form-group col-sm-4"></div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_diario_cuentacontableegresodevolucion_id}}</label> {{=rowContent_form.custom.widget.empresa_diario_cuentacontableegresodevolucion_id}} </div>
    </div>
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
