{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.tasa}}</label> {{=rowContent_form.custom.widget.tasa}} </div>
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
            {{ else: }}
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
                <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.tasa}}</label> {{=rowContent_form.custom.widget.tasa}} </div>
            {{ pass }}
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_iepstrasladado}}</label> {{=rowContent_form.custom.widget.cuentacontable_iepstrasladado}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_iepsportrasladar}}</label> {{=rowContent_form.custom.widget.cuentacontable_iepsportrasladar}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_iepsacreditable}}</label> {{=rowContent_form.custom.widget.cuentacontable_iepsacreditable}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_iepsacreditableimportaciones}}</label> {{=rowContent_form.custom.widget.cuentacontable_iepsacreditableimportaciones}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_iepsporacreditar}}</label> {{=rowContent_form.custom.widget.cuentacontable_iepsporacreditar}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuentacontable_iepsporacreditarimportaciones}}</label> {{=rowContent_form.custom.widget.cuentacontable_iepsporacreditarimportaciones}} </div>
        </div>
    </div>
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

<script type="text/javascript">
</script>

{{end}}
