{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.nombre}}</label> {{=rowContent_form.custom.widget.nombre}} </div>
            {{ else: }}
                <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.nombre}}</label> {{=rowContent_form.custom.widget.nombre}} </div>
            {{ pass }}
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fondobase}}</label> {{=rowContent_form.custom.widget.fondobase}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_serie_ingreso_id}}</label> {{=rowContent_form.custom.widget.empresa_serie_ingreso_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_serie_egreso_id}}</label> {{=rowContent_form.custom.widget.empresa_serie_egreso_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_serie_pago_id}}</label> {{=rowContent_form.custom.widget.empresa_serie_pago_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_cuentabancaria_terminal_id}}</label> {{=rowContent_form.custom.widget.empresa_cuentabancaria_terminal_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_cuentabancaria_id_cheques}}</label> {{=rowContent_form.custom.widget.empresa_cuentabancaria_id_cheques}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_cuentabancaria_id_transferencia}}</label> {{=rowContent_form.custom.widget.empresa_cuentabancaria_id_transferencia}} </div>
        </div>
    </div>
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
