{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_producto_id}}</label> {{=rowContent_form.custom.widget.empresa_producto_id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.producto_externo}}</label> {{=rowContent_form.custom.widget.producto_externo}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.cantidad_salida}}</label> {{=rowContent_form.custom.widget.cantidad_salida}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.preciounitario}}</label> {{=rowContent_form.custom.widget.preciounitario}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.tipo_inconsistencia}}</label> {{=rowContent_form.custom.widget.tipo_inconsistencia}} </div>
        </div>
    <div class="row">
    {{if dbRow_cfdi_concepto:}} 
            <div class="form-group col-sm-4"><label>{{='Descripción CFDI'}}</label> {{=stv_represent_string(dbRow_cfdi_concepto.tcfdi_conceptos.descripcion, dbRow_cfdi_concepto.tcfdi_conceptos)}}  </div>
            <div class="form-group col-sm-2"><label>{{='No. identificacion CFDI'}}</label> {{=stv_represent_string(dbRow_cfdi_concepto.tcfdi_conceptos.noidentificacion, dbRow_cfdi_concepto.tcfdi_conceptos)}} </div>
            <div class="form-group col-sm-2"><label>{{='Registrados/Cantidad CFDI'}}</label>
             {{=stv_represent_number(dbRow_cfdi_concepto.registrados or 0, dbRow_cfdi_concepto.tcfdi_conceptos)}}  
             {{=stv_represent_number(dbRow_cfdi_concepto.tcfdi_conceptos.cantidad, dbRow_cfdi_concepto.tcfdi_conceptos)}}  
             </div>
            <div class="form-group col-sm-2"><label>{{='Precio unitario CFDI'}}</label> {{=stv_represent_money(dbRow_cfdi_concepto.tcfdi_conceptos.valorunitario, dbRow_cfdi_concepto.tcfdi_conceptos)}}  </div>
            <div class="form-group col-sm-2"><label>{{='Costo total CFDI'}}</label> {{=stv_represent_money(dbRow_cfdi_concepto.tcfdi_conceptos.importe, dbRow_cfdi_concepto.tcfdi_conceptos)}}  </div>

    {{pass}}
        </div>
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

{{end}}


