{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}
{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockbreadcrub}}
    {{include 'linea_breadcrumb.html'}}
{{end}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
{{ 
            if rowContent_form.record_id:
}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_proveedor_id}}</label> {{=rowContent_form.custom.widget.empresa_proveedor_id}} </div>
{{          
            else: 
}}
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_proveedor_id}}</label> {{=rowContent_form.custom.widget.empresa_proveedor_id}} </div>
{{          
                pass 
}}
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.remision}}</label> {{=rowContent_form.custom.widget.remision}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fecha_movimiento}}</label> {{=rowContent_form.custom.widget.fecha_movimiento}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12" style= "padding-top:15px; padding-bottom: 10px; text-align: center;"><label>{{='Manera de relacionar esta salida: Por CFDI de entrada o por CFDI de egreso'}}</label></div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.cfdi_egreso_id}}</label> {{=rowContent_form.custom.widget.cfdi_egreso_id}} </div>
            <div class="form-group col-sm-8"><hr style = "display: block;margin-top: 2.8em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset;border-width: 1.5px;"></div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.cfdi_id}}</label> {{=rowContent_form.custom.widget.cfdi_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.observaciones}}</label> {{=rowContent_form.custom.widget.observaciones}} </div>
        </div>
        
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

{{end}}


