{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
         <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.iddocumento}}</label> {{=rowContent_form.custom.widget.iddocumento}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cfdirelacionado_id}}</label> {{=rowContent_form.custom.widget.cfdirelacionado_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.serie}}</label> {{=rowContent_form.custom.widget.serie}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_serie_id}}</label> {{=rowContent_form.custom.widget.empresa_serie_id}} </div>
         </div>
         <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.folio}}</label> {{=rowContent_form.custom.widget.folio}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.moneda}}</label> {{=rowContent_form.custom.widget.moneda}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.tipocambio}}</label> {{=rowContent_form.custom.widget.tipocambio}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.metodopago_id}}</label> {{=rowContent_form.custom.widget.metodopago_id}} </div>
         </div>
         <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.numparcialidad}}</label> {{=rowContent_form.custom.widget.numparcialidad}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.impsaldoant}}</label> {{=rowContent_form.custom.widget.impsaldoant}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.imppagado}}</label> {{=rowContent_form.custom.widget.imppagado}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.impsaldoinsoluto}}</label> {{=rowContent_form.custom.widget.impsaldoinsoluto}} </div>
           </div>
          <div class="row">
          </div>
    </div>
    
    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

