{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.claveprodserv}}</label> {{=rowContent_form.custom.widget.claveprodserv}} </div>
            {{ else: }}
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.claveprodserv}}</label> {{=rowContent_form.custom.widget.claveprodserv}} </div>
            {{ pass }}
            <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.prodserv_id}}</label> {{=rowContent_form.custom.widget.prodserv_id}} </div>    
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.noidentificacion}}</label> {{=rowContent_form.custom.widget.noidentificacion}} </div>
            <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.empresa_prodserv_id}}</label> {{=rowContent_form.custom.widget.empresa_prodserv_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cantidad}}</label> {{=rowContent_form.custom.widget.cantidad}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.claveunidad}}</label> {{=rowContent_form.custom.widget.claveunidad}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.unidad_id}}</label> {{=rowContent_form.custom.widget.unidad_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.valorunitario}}</label> {{=rowContent_form.custom.widget.valorunitario}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.importe}}</label> {{=rowContent_form.custom.widget.importe}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.descuento}}</label> {{=rowContent_form.custom.widget.descuento}} </div>
        </div>
    </div>
    
    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

