{{b_customRowContent_formAdvSearch = False}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = True}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}

{{  if rowContent_formAdvSearch:  }}

    {{=rowContent_formAdvSearch.custom.begin}}
    
    
    {{=rowContent_formAdvSearch.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}
    {{if dbRow_xml:}}
    <div">
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=dbc02.tcfdi_xmls.xml_cfdi.label}}</label> {{=stv_represent_xml(dbRow_xml.xml_cfdi, dbRow_xml, D_additionalAttributes={'n_rows': 70})}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=dbc02.tcfdi_xmls.json_cfdi.label}}</label> {{=stv_represent_json(dbRow_xml.json_cfdi, dbRow_xml, D_additionalAttributes={'n_rows': 70})}} </div>
        </div>
    </div>
    {{pass}}
{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

<script type="text/javascript">
$(document).ready(function() {  

    var $tab = $("#{{=D_tabOptions.s_tabId}}_reference").closest('.stv_tab');
    stv_fwk_assignFunctionality_form($tab, $tab.find('.stv_rowSearchResults').first());
    //stv_fwk_tab_onSelect($tab, $tab.find('.stv_rowSearchResults').first());
    
});
</script>


{{end}}

