{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

        {{=rowContent_form.custom.begin}}
        
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group"><label>{{=cfdiForm.custom.label.empresa_plaza_sucursal_cajachica_id}}</label> {{=cfdiForm.custom.widget.empresa_plaza_sucursal_cajachica_id}} </div>
                    </div>
                </div>
    
{{      if (dbRow_cfdiformapago.formapago_id in (TFORMASPAGO.CHEQUE,) ): }}    
            <div>
                <div class="row">
                    <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_cuentabancaria_id}}</label> {{=rowContent_form.custom.widget.empresa_cuentabancaria_id}} </div>
                    </div>
                <div class="row">
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.bancocontpaqi_id_cliente}}</label> {{=rowContent_form.custom.widget.bancocontpaqi_id_cliente}} </div>
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cheque}}</label> {{=rowContent_form.custom.widget.cheque}} </div>
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta_cliente}}</label> {{=rowContent_form.custom.widget.cuenta_cliente}} </div>
                    </div>
                <div class="row">
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechadeposito}}</label> {{=rowContent_form.custom.widget.fechadeposito}} </div>
                    </div>
                </div>
{{      elif (dbRow_cfdiformapago.formapago_id in (TFORMASPAGO.EFECTIVO,) ): }}   
                <div class="row">
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tratoefectivo}}</label> {{=rowContent_form.custom.widget.tratoefectivo}} </div>
                
                </div>

                <div class="row">
                    <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_cuentabancaria_id}}</label> {{=rowContent_form.custom.widget.empresa_cuentabancaria_id}} </div>
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.referencia}}</label> {{=rowContent_form.custom.widget.referencia}} </div>
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechadeposito}}</label> {{=rowContent_form.custom.widget.fechadeposito}} </div>
                </div> 

{{      elif (dbRow_cfdiformapago.formapago_id in (TFORMASPAGO.TDD, TFORMASPAGO.TDC) ): }}    
            <div>
                <div class="row">
                    <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_cuentabancaria_terminal_id}}</label> {{=rowContent_form.custom.widget.empresa_cuentabancaria_terminal_id}} </div>
                    </div>
                <div class="row">
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.bancocontpaqi_id_cliente}}</label> {{=rowContent_form.custom.widget.bancocontpaqi_id_cliente}} </div>
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tarjeta}}</label> {{=rowContent_form.custom.widget.tarjeta}} </div>
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.autorizacion}}</label> {{=rowContent_form.custom.widget.autorizacion}} </div>
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.operacion}}</label> {{=rowContent_form.custom.widget.operacion}} </div>
                    </div>
                <div class="row">
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechadeposito}}</label> {{=rowContent_form.custom.widget.fechadeposito}} </div>
                    </div>
                </div>            
{{      elif (dbRow_cfdiformapago.formapago_id in (TFORMASPAGO.TRANSFERENCIA,) ): }}    
            <div>
                <div class="row">
                    <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_cuentabancaria_id}}</label> {{=rowContent_form.custom.widget.empresa_cuentabancaria_id}} </div>
                    </div>
                <div class="row">
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.bancocontpaqi_id_cliente}}</label> {{=rowContent_form.custom.widget.bancocontpaqi_id_cliente}} </div>
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta_cliente}}</label> {{=rowContent_form.custom.widget.cuenta_cliente}} </div>
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.referencia}}</label> {{=rowContent_form.custom.widget.referencia}} </div>
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.claverastero}}</label> {{=rowContent_form.custom.widget.claverastero}} </div>
                    </div>
                <div class="row">
                    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechadeposito}}</label> {{=rowContent_form.custom.widget.fechadeposito}} </div>
                    </div>
                </div>
{{      else: }}
            <div>
                <div class="row">
                    <div class="form-group col-sm-6">Forma de pago no considerada, contacte al administrador</div>
                    </div>
                </div>
{{          pass  }}
{{      if rowContent_form.custom.label.notas:}}
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
                    </div>
                </div>
{{          pass  }}
        {{=rowContent_form.custom.end}}
{{      pass  }}

    {{end}}

{{block blockCustomRowSearchResults_grid}}
    {{end}}

{{block blockCustomJsBefore}}
    {{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
       
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            var _$form = $('#{{=rowContent_form.formname}}');
            
            {{  if n_formapago_id == TFORMASPAGO.EFECTIVO: }}
                
                var _$triggerTratoEfectivo = $(_$form.find("select[name=tratoefectivo]"));         
                var _$triggerCuentaBancaria = $(_$form.find("select[name=empresa_cuentabancaria_id]"));
                var _$triggerReferencia = $(_$form.find("input[name=referencia]"));
                var _$triggerFechaDeposito = $(_$form.find("input[name=fechadeposito]"));
               
                _$triggerTratoEfectivo.on('change', function() {
                    var _x_tratoEfectivo = _$triggerTratoEfectivo.val();
                    
                    // Contantes para las formas de pago
                    var _x_tratoEfectivo_retenidocaja = {{=TCFDI_REGISTROPAGOS.E_TRATOEFECTIVO.RETENIDOCAJA}}
                    
                    if (_x_tratoEfectivo == _x_tratoEfectivo_retenidocaja)
                    {

                        _$triggerCuentaBancaria.val(null);
                        _$triggerCuentaBancaria.prop('disabled', true).trigger("chosen:updated");
                                                
                        _$triggerReferencia.val('');
                        _$triggerReferencia.prop('disabled', true);
                        
                        _$triggerFechaDeposito.val('');
                        _$triggerFechaDeposito.prop('disabled', true);
                        
                    }
                    else
                    {
                        
                        _$triggerCuentaBancaria.prop('disabled', false).trigger("chosen:updated");
                                                
                        _$triggerReferencia.prop('disabled', false);
                                                
                        _$triggerFechaDeposito.prop('disabled', false);
                        
                    }
               
                });
               _$triggerTratoEfectivo.change();
                    
            {{ else:    }}
               {{ pass }}   
            
    {{  pass }}

    });

</script>
    {{end}}

