{{b_customRowContent_formAdvSearch = True}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}

{{  if rowContent_formAdvSearch:  }}

    {{=rowContent_formAdvSearch.custom.begin}}
    
    <div>
        <div class="row">
            {{ if rowContent_formAdvSearch.custom.label.empresa_id: }}
                <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.empresa_id}}</label> {{=rowContent_formAdvSearch.custom.widget.empresa_id}}</div>
            {{ else:  }}
                <div class="form-group col-sm-4"></div>
            {{ pass  }}
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.empresa_serie_id}}</label> {{=rowContent_formAdvSearch.custom.widget.empresa_serie_id}} </div>    
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.folio}}</label> {{=rowContent_formAdvSearch.custom.widget.folio}} </div>         
        </div>              
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.receptorrfc}}</label> {{=rowContent_formAdvSearch.custom.widget.receptorrfc}} </div>         
            <div class="form-group col-sm-8"><label>{{=rowContent_formAdvSearch.custom.label.receptornombrerazonsocial}}</label> {{=rowContent_formAdvSearch.custom.widget.receptornombrerazonsocial}} </div>         
        </div>              
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.fecha}}</label> {{=rowContent_formAdvSearch.custom.widget.fecha}} </div>         
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.tipocomprobante_id}}</label> {{=rowContent_formAdvSearch.custom.widget.tipocomprobante_id}} </div>         
        </div>
    </div>
    
    {{=rowContent_formAdvSearch.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ pass }}
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.estado}}</label> {{=rowContent_form.custom.widget.estado}}</div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.tipocomprobante_id}}</label> {{=rowContent_form.custom.widget.tipocomprobante_id}} </div>    
            <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.versioncfdi}}</label> {{=rowContent_form.custom.widget.versioncfdi}} </div>         
  			<div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.uuid}}</label> {{=rowContent_form.custom.widget.uuid}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.fechatimbrado_str}}</label> {{=rowContent_form.custom.widget.fechatimbrado_str}} </div>
            <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.etapa}}</label> {{=rowContent_form.custom.widget.etapa}} </div>         
        </div>				
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_serie_id}}</label> {{=rowContent_form.custom.widget.empresa_serie_id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.folio}}</label> {{=rowContent_form.custom.widget.folio}} </div>    
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.fecha}}</label> {{=rowContent_form.custom.widget.fecha}} </div>
            <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.lugarexpedicion_id}}</label> {{=rowContent_form.custom.widget.lugarexpedicion_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.tiporelacion_id}}</label> {{=rowContent_form.custom.widget.tiporelacion_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.tipocambio}}</label> {{=rowContent_form.custom.widget.tipocambio}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.formapago_id}}</label> {{=rowContent_form.custom.widget.formapago_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.metodopago_id}}</label> {{=rowContent_form.custom.widget.metodopago_id}} </div> 
        </div>
        <div class= row>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_plaza_sucursal_cajachica_id}}</label> {{=rowContent_form.custom.widget.empresa_plaza_sucursal_cajachica_id}} </div>     
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.condicionesdepago}}</label> {{=rowContent_form.custom.widget.condicionesdepago}} </div>     
        </div>
        {{ if rowContent_form.record.rol == TCFDIS.E_ROL.EMISOR: }}
            <div class="row">
                <div class="form-group col-sm-10"><label>{{=rowContent_form.custom.label.empresa_id}}</label> {{=rowContent_form.custom.widget.empresa_id}} </div>
            </div>
        {{ else: }}
            <div class="row">
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.emisorrfc}}</label> {{=rowContent_form.custom.widget.emisorrfc}} </div>
                <div class="form-group col-sm-10"><label>{{=rowContent_form.custom.label.emisornombrerazonsocial}}</label> {{=rowContent_form.custom.widget.emisornombrerazonsocial}} </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-10"><label>{{=rowContent_form.custom.label.emisorproveedor_id}}</label> {{=rowContent_form.custom.widget.emisorproveedor_id}} </div>
            </div>
        {{ pass }}
        <div class = "row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.receptorrfc}}</label> {{=rowContent_form.custom.widget.receptorrfc}} </div>
            <div class="form-group col-sm-10"><label>{{=rowContent_form.custom.label.receptornombrerazonsocial}}</label> {{=rowContent_form.custom.widget.receptornombrerazonsocial}} </div>                           
        </div>
        <div class="row">
            <div class="form-group col-sm-10"><label>{{=rowContent_form.custom.label.receptorcliente_id}}</label> {{=rowContent_form.custom.widget.receptorcliente_id}} </div>
        </div>
        <div class="row">
             <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.receptorusocfdi_id}}</label> {{=rowContent_form.custom.widget.receptorusocfdi_id}} </div>               
        </div>
        <div class="row">
	        <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.subtotal}}</label> {{=rowContent_form.custom.widget.subtotal}} </div>
	        <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.descuento}}</label> {{=rowContent_form.custom.widget.descuento}} </div>
	        <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.totalimpuestostrasladados}}</label> {{=rowContent_form.custom.widget.totalimpuestostrasladados}} </div>
	        <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.totalimpuestosretenidos}}</label> {{=rowContent_form.custom.widget.totalimpuestosretenidos}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.total}}</label> {{=rowContent_form.custom.widget.total}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.saldo}}</label> {{=rowContent_form.custom.widget.saldo}} </div>
        </div>
	    {{ if rowContent_form.record.uuid: }}
		    <div class="row">
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.sat_status}}</label> {{=rowContent_form.custom.widget.sat_status}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.sat_fecha_cancelacion}}</label> {{=rowContent_form.custom.widget.sat_fecha_cancelacion}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.sat_status_cancelacion}}</label> {{=rowContent_form.custom.widget.sat_status_cancelacion}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.sat_status_proceso_cancelacion}}</label> {{=rowContent_form.custom.widget.sat_status_proceso_cancelacion}} </div>
		    </div>
            <div class="row">
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.pac_rfc}}</label> {{=rowContent_form.custom.widget.pac_rfc}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.pac_razon_social}}</label> {{=rowContent_form.custom.widget.pac_razon_social}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.pac_nombre_comercial}}</label> {{=rowContent_form.custom.widget.pac_nombre_comercial}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cancelado_folio}}</label> {{=rowContent_form.custom.widget.cancelado_folio}} </div>
            </div>
	    {{ else: pass }}
        
        <div class="row">
        </div>
    </div>

    <div id="{{=htmlid_emisor}}">
        <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.emisorrfc}}</label> {{=rowContent_form.custom.widget.emisorrfc}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.emisorempresa_id}}</label> {{=rowContent_form.custom.widget.emisorempresa_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.emisornombrerazonsocial}}</label> {{=rowContent_form.custom.widget.emisornombrerazonsocial}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.emisorregimenfiscal}}</label> {{=rowContent_form.custom.widget.emisorregimenfiscal}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.emisorcalle}}</label> {{=rowContent_form.custom.widget.emisorcalle}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.emisornumexterior}}</label> {{=rowContent_form.custom.widget.emisornumexterior}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.emisornuminterior}}</label> {{=rowContent_form.custom.widget.emisornuminterior}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.emisorcolonia}}</label> {{=rowContent_form.custom.widget.emisorcolonia}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.emisorlocalidad}}</label> {{=rowContent_form.custom.widget.emisorlocalidad}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.emisormunicipio}}</label> {{=rowContent_form.custom.widget.emisormunicipio}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.emisorestado}}</label> {{=rowContent_form.custom.widget.emisorestado}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.emisorpais}}</label> {{=rowContent_form.custom.widget.emisorpais}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.emisorcodigopostal}}</label> {{=rowContent_form.custom.widget.emisorcodigopostal}} </div>
        </div>
    </div>

    <div id="{{=htmlid_receptor}}">
        <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.receptorrfc}}</label> {{=rowContent_form.custom.widget.receptorrfc}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.receptornombrerazonsocial}}</label> {{=rowContent_form.custom.widget.receptornombrerazonsocial}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.receptorcalle}}</label> {{=rowContent_form.custom.widget.receptorcalle}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.receptornumexterior}}</label> {{=rowContent_form.custom.widget.receptornumexterior}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.receptornuminterior}}</label> {{=rowContent_form.custom.widget.receptornuminterior}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.receptorcolonia}}</label> {{=rowContent_form.custom.widget.receptorcolonia}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.receptorlocalidad}}</label> {{=rowContent_form.custom.widget.receptorlocalidad}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.receptormunicipio}}</label> {{=rowContent_form.custom.widget.receptormunicipio}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.receptorestado}}</label> {{=rowContent_form.custom.widget.receptorestado}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.receptorpais}}</label> {{=rowContent_form.custom.widget.receptorpais}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.receptorcodigopostal}}</label> {{=rowContent_form.custom.widget.receptorcodigopostal}} </div>
        </div>
    </div>
    
    <div id="{{=htmlid_vendedores}}">
        <div class="row">
	        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.foliointernopedido}}</label> {{=rowContent_form.custom.widget.foliointernopedido}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ordencompra}}</label> {{=rowContent_form.custom.widget.ordencompra}} </div>               			
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.agentevendedor}}</label> {{=rowContent_form.custom.widget.agentevendedor}} </div>                
        </div>
     </div>
     
    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

