{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
           <div class="row">
               <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.formapago_id}}</label> {{=rowContent_form.custom.widget.formapago_id}} </div>
               <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.diferencia}}</label> {{=rowContent_form.custom.widget.diferencia}} </div>
               <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tratoefectivo}}</label> {{=rowContent_form.custom.widget.tratoefectivo}} </div>
           </div>
           <div class="row">
               <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_cuentabancaria_terminal_id}}</label> {{=rowContent_form.custom.widget.empresa_cuentabancaria_terminal_id}} </div>
               <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_cuentabancaria_id}}</label> {{=rowContent_form.custom.widget.empresa_cuentabancaria_id}} </div>
           </div>
           <div class="row">
               <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.bancocontpaqi_id_cliente}}</label> {{=rowContent_form.custom.widget.bancocontpaqi_id_cliente}} </div>
               <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tarjeta}}</label> {{=rowContent_form.custom.widget.tarjeta}} </div>
               <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.autorizacion}}</label> {{=rowContent_form.custom.widget.autorizacion}} </div>
               <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.operacion}}</label> {{=rowContent_form.custom.widget.operacion}} </div>
           </div>
           <div class="row">
               <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cheque}}</label> {{=rowContent_form.custom.widget.cheque}} </div>
               <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta_cliente}}</label> {{=rowContent_form.custom.widget.cuenta_cliente}} </div>
               <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.referencia}}</label> {{=rowContent_form.custom.widget.referencia}} </div>
               <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.claverastero}}</label> {{=rowContent_form.custom.widget.claverastero}} </div>
           </div>
           <div class="row">
               <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechadeposito}}</label> {{=rowContent_form.custom.widget.fechadeposito}} </div>
               <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.monto}}</label> {{=rowContent_form.custom.widget.monto}} </div>
           </div>
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}
 
{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
	
	{{  if refrescarmaestro == True: }}
		_$tabMaestro = $("#{{=D_tabOptions.s_tabId}}_reference").parent().closest(".stv_tab").parent().closest(".stv_tab");
		stv_fwk_repeatLastSearch(_$tabMaestro);
	{{ else:    }}
	   {{ pass }} 
	   
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            var _$form = $('#{{=rowContent_form.formname}}');
                        
            var _$triggerFormaPago = $(_$form.find("select[name=formapago_id]"));
            var _$triggerTratoEfectivo = $(_$form.find("select[name=tratoefectivo]"));
            var _$triggerEmpresaCuentabancariaTerminal = $(_$form.find("select[name=empresa_cuentabancaria_terminal_id]"));
            var _$triggerBancoCliente = $(_$form.find("select[name=bancocontpaqi_id_cliente]"));
            var _$triggerTarjeta = $(_$form.find("input[name=tarjeta]"));
            var _$triggerAutorizacion = $(_$form.find("input[name=autorizacion]"));
            var _$triggerOperacion = $(_$form.find("input[name=operacion]"));
            var _$triggerCheque = $(_$form.find("input[name=cheque]"));
            var _$triggerCuentaBancaria = $(_$form.find("select[name=empresa_cuentabancaria_id]"));
            var _$triggerCuentaCliente = $(_$form.find("input[name=cuenta_cliente]"));
            var _$triggerReferencia = $(_$form.find("input[name=referencia]"));
            var _$triggerClaveRastreo = $(_$form.find("input[name=claverastero]"));
            var _$triggerFechaDeposito = $(_$form.find("input[name=fechadeposito]"));
            var _$triggerMonto = $(_$form.find("input[name=monto]"));
            
            var _$triggerDiferencia = $(_$form.find("input[name=diferencia]"));
            
            // Cuando se utiliza un boolean en el DAL para acceder a él por JS se usa el ifChanged.
            _$triggerDiferencia.on('ifChanged', function() {
                if(this.checked) {
                	
                	_$triggerFormaPago.append('<option value="16" selected="selected">Confusion [16]</option>');
                	// Se remueven todas las opciones
                	_$triggerFormaPago.find("option[value='3']").remove();
                    _$triggerFormaPago.find("option[value='4']").remove();
                    _$triggerFormaPago.find("option[value='5']").remove();
                    _$triggerFormaPago.find("option[value='20']").remove();
                    _$triggerFormaPago.find("option[value='6']").remove();
                    
                	_$triggerFormaPago.prop('disabled', false).trigger("chosen:updated");
                	
                	_$triggerEmpresaCuentabancariaTerminal.val(null);
                    _$triggerEmpresaCuentabancariaTerminal.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerBancoCliente.val(null);
                    _$triggerBancoCliente.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerTarjeta.val('');
                    _$triggerTarjeta.prop('disabled', true);
                    
                    _$triggerAutorizacion.val('');
                    _$triggerAutorizacion.prop('disabled', true);
                    
                    _$triggerOperacion.val('');
                    _$triggerOperacion.prop('disabled', true);
                    
                    _$triggerCheque.val('');
                    _$triggerCheque.prop('disabled', true);
                    
                    _$triggerCuentaBancaria.val(null);
                    _$triggerCuentaBancaria.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerCuentaCliente.val('');
                    _$triggerCuentaCliente.prop('disabled', true);
                    
                    _$triggerReferencia.val('');
                    _$triggerReferencia.prop('disabled', true);
                    
                    _$triggerClaveRastreo.val('');
                    _$triggerClaveRastreo.prop('disabled', true);
                    
                    _$triggerFechaDeposito.val('');
                    _$triggerFechaDeposito.prop('disabled', true);
                    
                    _$triggerTratoEfectivo.val(null);
                    _$triggerTratoEfectivo.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerMonto.prop('disabled', false);
                } else {

                    _$triggerFormaPago.append('<option value="4" >Cheque nominativo [02]</option>');
                	_$triggerFormaPago.append('<option value="3" selected="selected">Efectivo [01]</option>');
                    _$triggerFormaPago.append('<option value="6" >Tarjeta de crédito [04]</option>');
                    _$triggerFormaPago.append('<option value="20" >Tarjeta de débito [28]</option>');
                    _$triggerFormaPago.append('<option value="5" >Transferencia electrónica de fondos [03]</option>');

                    _$triggerFormaPago.find("option[value='16']").remove();
                    

                    _$triggerFormaPago.prop('disabled', false).trigger("chosen:updated");
                }
            });   
           
            _$triggerFormaPago.on('change', function() {
                var _x_formaPago = _$triggerFormaPago.val();
                
                // Contantes para las formas de pago
                var _x_formaPago_efectivo = {{=TFORMASPAGO.EFECTIVO}}
                var _x_formaPago_tarjetaDebito = {{=TFORMASPAGO.TDD}}
                var _x_formaPago_tarjetaCredito = {{=TFORMASPAGO.TDC}}
                var _x_formaPago_cheque = {{=TFORMASPAGO.CHEQUE}}
                var _x_formaPago_transferencia = {{=TFORMASPAGO.TRANSFERENCIA}}
                
                if (_x_formaPago == _x_formaPago_efectivo)
                {
                	
                	_$triggerEmpresaCuentabancariaTerminal.val(null);
                    _$triggerEmpresaCuentabancariaTerminal.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerBancoCliente.val(null);
                    _$triggerBancoCliente.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerTarjeta.val('');
                    _$triggerTarjeta.prop('disabled', true);
                    
                    _$triggerAutorizacion.val('');
                    _$triggerAutorizacion.prop('disabled', true);
                    
                    _$triggerOperacion.val('');
                    _$triggerOperacion.prop('disabled', true);
                    
                    _$triggerCheque.val('');
                    _$triggerCheque.prop('disabled', true);
                    
                    _$triggerCuentaBancaria.val(null);
                    _$triggerCuentaBancaria.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerCuentaCliente.val('');
                    _$triggerCuentaCliente.prop('disabled', true);
                    
                    _$triggerReferencia.val('');
                    _$triggerReferencia.prop('disabled', true);
                    
                    _$triggerClaveRastreo.val('');
                    _$triggerClaveRastreo.prop('disabled', true);
                    
                    _$triggerFechaDeposito.val('');
                    _$triggerFechaDeposito.prop('disabled', true);
                    
                    _$triggerTratoEfectivo.prop('disabled', false).trigger("chosen:updated");
                    
                    _$triggerMonto.prop('disabled', false);
                    
                    _$triggerTratoEfectivo.on('change', function() {
                        var _x_tratoEfectivo = _$triggerTratoEfectivo.val();
                        
                        // Contantes para las formas de pago
                        var _x_tratoEfectivo_retenidocaja = {{=TCFDI_REGISTROPAGOS.E_TRATOEFECTIVO.RETENIDOCAJA}}
                        
                        if (_x_tratoEfectivo == _x_tratoEfectivo_retenidocaja)
                        {

                            _$triggerCuentaBancaria.val(null);
                            _$triggerCuentaBancaria.prop('disabled', true).trigger("chosen:updated");
                                                    
                            _$triggerReferencia.val('');
                            _$triggerReferencia.prop('disabled', true);
                            
                            _$triggerFechaDeposito.val('');
                            _$triggerFechaDeposito.prop('disabled', true);
                            
                        }
                        else
                        {
                            
                            _$triggerCuentaBancaria.prop('disabled', false).trigger("chosen:updated");
                                                    
                            _$triggerReferencia.prop('disabled', false);
                                                    
                            _$triggerFechaDeposito.prop('disabled', false);
                            
                        }
                   
                    });
                   _$triggerTratoEfectivo.change();
                    
                }
                else if((_x_formaPago == _x_formaPago_tarjetaDebito) || (_x_formaPago == _x_formaPago_tarjetaCredito))
                {
                    _$triggerEmpresaCuentabancariaTerminal.prop('disabled', false).trigger("chosen:updated");
                    _$triggerBancoCliente.prop('disabled', false).trigger("chosen:updated");
                    _$triggerTarjeta.prop('disabled', false);
                    _$triggerAutorizacion.prop('disabled', false);
                    _$triggerOperacion.prop('disabled', false);
                    
                    _$triggerCheque.val('');
                    _$triggerCheque.prop('disabled', true);
                    
                    _$triggerCuentaBancaria.val(null);
                    _$triggerCuentaBancaria.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerCuentaCliente.val('');
                    _$triggerCuentaCliente.prop('disabled', true);
                    
                    _$triggerReferencia.val('');
                    _$triggerReferencia.prop('disabled', true);
                    
                    _$triggerClaveRastreo.val('');
                    _$triggerClaveRastreo.prop('disabled', true);
                    
                    _$triggerFechaDeposito.prop('disabled', false);
                    _$triggerMonto.prop('disabled', false);
                    
                    _$triggerTratoEfectivo.val(null);
                    _$triggerTratoEfectivo.prop('disabled', true).trigger("chosen:updated");
                    
                }
                else if(_x_formaPago == _x_formaPago_cheque)
                {
                	_$triggerEmpresaCuentabancariaTerminal.val(null);
                    _$triggerEmpresaCuentabancariaTerminal.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerBancoCliente.prop('disabled', false).trigger("chosen:updated");
                    
                    _$triggerTarjeta.val('');
                    _$triggerTarjeta.prop('disabled', true);
                    
                    _$triggerAutorizacion.val('');
                    _$triggerAutorizacion.prop('disabled', true);
                    
                    _$triggerOperacion.val('');
                    _$triggerOperacion.prop('disabled', true);
                    
                    _$triggerCheque.prop('disabled', false);
                    _$triggerCuentaBancaria.prop('disabled', false).trigger("chosen:updated");
                    _$triggerCuentaCliente.prop('disabled', false);
                    
                    _$triggerReferencia.val('');
                    _$triggerReferencia.prop('disabled', true);
                    
                    _$triggerClaveRastreo.val('');
                    _$triggerClaveRastreo.prop('disabled', true);
                    
                    _$triggerFechaDeposito.prop('disabled', false);
                    _$triggerMonto.prop('disabled', false);
                    
                    _$triggerTratoEfectivo.val(null);
                    _$triggerTratoEfectivo.prop('disabled', true).trigger("chosen:updated");

                    
                }
                else if(_x_formaPago == _x_formaPago_transferencia)
                {
                	_$triggerEmpresaCuentabancariaTerminal.val(null);
                    _$triggerEmpresaCuentabancariaTerminal.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerBancoCliente.prop('disabled', false).trigger("chosen:updated");
                    
                    _$triggerTarjeta.val('');
                    _$triggerTarjeta.prop('disabled', true);
                    
                    _$triggerAutorizacion.val('');
                    _$triggerAutorizacion.prop('disabled', true);
                    
                    _$triggerOperacion.val('');
                    _$triggerOperacion.prop('disabled', true);
                    
                    _$triggerCheque.val('');
                    _$triggerCheque.prop('disabled', true);
                    
                    _$triggerTratoEfectivo.val(null);
                    _$triggerTratoEfectivo.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerCuentaBancaria.prop('disabled', false).trigger("chosen:updated");
                    _$triggerCuentaCliente.prop('disabled', false);
                    _$triggerReferencia.prop('disabled', false);
                    _$triggerClaveRastreo.prop('disabled', false);
                    _$triggerFechaDeposito.prop('disabled', false);
                    _$triggerMonto.prop('disabled', false);
                }
                else
                {
                    _$triggerEmpresaCuentabancariaTerminal.val(null);
                    _$triggerEmpresaCuentabancariaTerminal.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerBancoCliente.val(null);
                    _$triggerBancoCliente.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerTarjeta.val('');
                    _$triggerTarjeta.prop('disabled', true);
                    
                    _$triggerAutorizacion.val('');
                    _$triggerAutorizacion.prop('disabled', true);
                    
                    _$triggerOperacion.val('');
                    _$triggerOperacion.prop('disabled', true);
                    
                    _$triggerCheque.val('');
                    _$triggerCheque.prop('disabled', true);
                    
                    _$triggerCuentaBancaria.val(null);
                    _$triggerCuentaBancaria.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerCuentaCliente.val('');
                    _$triggerCuentaCliente.prop('disabled', true);
                    
                    _$triggerReferencia.val('');
                    _$triggerReferencia.prop('disabled', true);
                    
                    _$triggerClaveRastreo.val('');
                    _$triggerClaveRastreo.prop('disabled', true);
                    
                    _$triggerFechaDeposito.val('');
                    _$triggerFechaDeposito.prop('disabled', true);
                    
                    _$triggerMonto.val('');
                    _$triggerMonto.prop('disabled', true);
                    
                    _$triggerTratoEfectivo.val(null);
                    _$triggerTratoEfectivo.prop('disabled', true).trigger("chosen:updated");

                }
           
            });
           _$triggerFormaPago.change();
            
    {{  pass }}

    });

</script>
{{end}}

