{{b_customRowContent_formAdvSearch = True}}
{{b_customRowContent_form = False}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}

{{  if rowContent_formAdvSearch:  }}

    {{=rowContent_formAdvSearch.custom.begin}}
    
    <div>
        <div class="row">
            {{ if rowContent_formAdvSearch.custom.label.empresa_id: }}
                <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.empresa_id}}</label> {{=rowContent_formAdvSearch.custom.widget.empresa_id}}</div>
            {{ else:  }}
                <div class="form-group col-sm-4"></div>
            {{ pass  }}
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.empresa_serie_id}}</label> {{=rowContent_formAdvSearch.custom.widget.empresa_serie_id}} </div>    
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.folio}}</label> {{=rowContent_formAdvSearch.custom.widget.folio}} </div>         
        </div>              
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.receptorrfc}}</label> {{=rowContent_formAdvSearch.custom.widget.receptorrfc}} </div>         
            <div class="form-group col-sm-8"><label>{{=rowContent_formAdvSearch.custom.label.receptornombrerazonsocial}}</label> {{=rowContent_formAdvSearch.custom.widget.receptornombrerazonsocial}} </div>         
        </div>              
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.dia}}</label> {{=rowContent_formAdvSearch.custom.widget.dia}} </div>         
            <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.tipocomprobante_id}}</label> {{=rowContent_formAdvSearch.custom.widget.tipocomprobante_id}} </div>         
        </div>
    </div>
    
    {{=rowContent_formAdvSearch.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

