{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
    	{{ if rowContent_form.record_id:}}
    	    <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
    	    <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipo}}</label> {{=rowContent_form.custom.widget.tipo}} </div>           
    	{{ else: }}
    	 	<div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.tipo}}</label> {{=rowContent_form.custom.widget.tipo}} </div>		
    	{{ pass }}
    		<div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.c_concepto}}</label> {{=rowContent_form.custom.widget.c_concepto}} </div>
    		<div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div> 
    </div>
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
