{{b_customRowContent_form = False}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}

    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cantidad}}</label><br/> {{=rowContent_form.custom.widget.cantidad}} </div>
        {{ if rowContent_form.custom.label.empresa_prodserv_casco1a1_id: }}
        <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.empresa_prodserv_casco1a1_id}}</label> {{=rowContent_form.custom.widget.empresa_prodserv_casco1a1_id}} </div>
        {{ else: pass }}
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

    {{ if D_useView == request.stv_fwk_permissions.view_refreshParent: }}

<script type="text/javascript">
    $(document).ready(function () {
        var _$modal = $("#{{=D_tabOptions.s_tabId}}_reference").closest(".stv_modal");
        if (_$modal.length > 0) {
            _$modal.modal("hide");
        } else {}
    });
</script>

    {{ else: pass }}

{{end}}
