{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.numeroserie}}</label> {{=rowContent_form.custom.widget.numeroserie}} </div>    
            <div class="form-group col-sm-9"><label>{{=rowContent_form.custom.label.nombreservidor}}</label> {{=rowContent_form.custom.widget.nombreservidor}} </div>    
        </div>
    </div>  


    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
