{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}

        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
            {{ else: }}
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
            {{ pass }}
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.codigo}}</label> {{=rowContent_form.custom.widget.codigo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.serveruser_id}}</label> {{=rowContent_form.custom.widget.serveruser_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.contacto}}</label> {{=rowContent_form.custom.widget.contacto}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.telefono}}</label> {{=rowContent_form.custom.widget.telefono}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.zonahoraria_id}}</label> {{=rowContent_form.custom.widget.zonahoraria_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dt_grabazonah_leezonah}}</label> {{=rowContent_form.custom.widget.dt_grabazonah_leezonah}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dt_grabadirecto_leezonah}}</label> {{=rowContent_form.custom.widget.dt_grabadirecto_leezonah}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dt_grabadirecto_leedirecto}}</label> {{=rowContent_form.custom.widget.dt_grabadirecto_leedirecto}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.calleynumero}}</label> {{=rowContent_form.custom.widget.calleynumero}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.colonia}}</label> {{=rowContent_form.custom.widget.colonia}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.ciudad}}</label> {{=rowContent_form.custom.widget.ciudad}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.pais}}</label> {{=rowContent_form.custom.widget.pais}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.codigopostal}}</label> {{=rowContent_form.custom.widget.codigopostal}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.gestionador}}</label> {{=rowContent_form.custom.widget.gestionador}} </div>
            <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.archivolibreria}}</label> {{=rowContent_form.custom.widget.archivolibreria}} </div>
            <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.archivogestionador}}</label> {{=rowContent_form.custom.widget.archivogestionador}} </div>
        </div>

        <div class="row">
		    <div class="col-sm-12"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}}</div>
        </div>
        
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
