{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}

        <div class="row">
            <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label> {{=rowContent_form.custom.widget.id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.cuenta_id}}</label> {{=rowContent_form.custom.widget.cuenta_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_id}}</label> {{=rowContent_form.custom.widget.empresa_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.user_id}}</label> {{=rowContent_form.custom.widget.user_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.servidor_id}}</label> {{=rowContent_form.custom.widget.servidor_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fecha}}</label> {{=rowContent_form.custom.widget.fecha}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipoinstruccion}}</label> {{=rowContent_form.custom.widget.tipoinstruccion}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.servicio}}</label> {{=rowContent_form.custom.widget.servicio}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.estado}}</label> {{=rowContent_form.custom.widget.estado}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.s_param0}}</label> {{=rowContent_form.custom.widget.s_param0}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.s_param1}}</label> {{=rowContent_form.custom.widget.s_param1}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.s_param2}}</label> {{=rowContent_form.custom.widget.s_param2}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.s_param3}}</label> {{=rowContent_form.custom.widget.s_param3}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dt_param4}}</label> {{=rowContent_form.custom.widget.dt_param4}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dt_param5}}</label> {{=rowContent_form.custom.widget.dt_param5}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.s_param6}}</label> {{=rowContent_form.custom.widget.s_param6}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.s_param7}}</label> {{=rowContent_form.custom.widget.s_param7}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.rastro}}</label> {{=rowContent_form.custom.widget.rastro}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ultimo_funcionalidad}}</label> {{=rowContent_form.custom.widget.ultimo_funcionalidad}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ultimo_fecha}}</label> {{=rowContent_form.custom.widget.ultimo_fecha}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.contador_errores}}</label> {{=rowContent_form.custom.widget.contador_errores}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.es_autoactualizable}}</label> {{=rowContent_form.custom.widget.es_autoactualizable}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.numoperaciones}}</label> {{=rowContent_form.custom.widget.numoperaciones}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ultimo_resultado}}</label> {{=rowContent_form.custom.widget.ultimo_resultado}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.ultimo_mensaje}}</label> {{=rowContent_form.custom.widget.ultimo_mensaje}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.ultimo_jsonparams}}</label> {{=rowContent_form.custom.widget.ultimo_jsonparams}} </div>
        </div>

        {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}}</div>
        </div>
        {{pass}}

{{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
