{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}

    <div id="{{=htmlid_configuration}}">
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cuenta_id}}</label><br/> {{=rowContent_form.custom.widget.cuenta_id}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_id}}</label> {{=rowContent_form.custom.widget.empresa_id}} </div>           
        </div>
    </div>
    
    <div id="{{=htmlid_page}}">
    
        {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_print_page.html')}}
    
    </div>

    <div id="{{=htmlid_send}}">
    
        {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_print_send.html')}}
    
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
