{{# -*- coding: utf-8 -*-}}
{{b_customRowContent_formAdvSearch = True}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}
{{end}}

{{block blockCustomRowContent_form}}

{{ if rowContent_form: }}

{{=rowContent_form.custom.begin}}

<div>
    <div class="row">
        <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
        <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.distanciarecorrida}}</label> {{=rowContent_form.custom.widget.distanciarecorrida}}</div>
    </div>
    <h2 class="bg-info">{{=campoEsOrigen.widget(campoEsOrigen, campoEsOrigen.default)}} Origen</h2>
    <div class="row esorigen">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.origen_idorigen}}</label> {{=rowContent_form.custom.widget.origen_idorigen}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.origen_rfcremitente}}</label> {{=rowContent_form.custom.widget.origen_rfcremitente}}</div>
        <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.origen_nombreremitente}}</label> {{=rowContent_form.custom.widget.origen_nombreremitente}} </div>
    </div>
    <div class="row esorigen">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.origen_numregidtrib}}</label> {{=rowContent_form.custom.widget.origen_numregidtrib}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.origen_pais_id}}</label> {{=rowContent_form.custom.widget.origen_pais_id}}</div>
        <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.origen_fechahorasalida}}</label> {{=rowContent_form.custom.widget.origen_fechahorasalida}} </div>
    </div>
    <h2 class="bg-info">{{=campoEsDestino.widget(campoEsDestino, campoEsDestino.default)}} Destino</h2>
    <div class="row esdestino">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.destino_iddestino}}</label> {{=rowContent_form.custom.widget.destino_iddestino}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.destino_rfcdestinatario}}</label> {{=rowContent_form.custom.widget.destino_rfcdestinatario}}</div>
        <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.destino_nombredestinatario}}</label> {{=rowContent_form.custom.widget.destino_nombredestinatario}} </div>
    </div>
    <div class="row esdestino">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.destino_numregidtrib}}</label> {{=rowContent_form.custom.widget.destino_numregidtrib}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.destino_pais_id}}</label> {{=rowContent_form.custom.widget.destino_pais_id}}</div>
        <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.destino_fechahoraprogllegada}}</label> {{=rowContent_form.custom.widget.destino_fechahoraprogllegada}} </div>
    </div>
    <h2 class="bg-info">Domicilio</h2>
    <div class="row">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_emp_pla_suc_almacen_id}}</label> {{=rowContent_form.custom.widget.dom_emp_pla_suc_almacen_id}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_usardireccioncliente}}</label> {{=rowContent_form.custom.widget.dom_usardireccioncliente}}</div>
    </div>
    <div class="row esdomicilio">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_pais_id}}</label> {{=rowContent_form.custom.widget.dom_pais_id}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_pais_estado_id}}</label> {{=rowContent_form.custom.widget.dom_pais_estado_id}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_municipio}}</label> {{=rowContent_form.custom.widget.dom_municipio}} </div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_localidad}}</label> {{=rowContent_form.custom.widget.dom_localidad}} </div>
    </div>
    <div class="row esdomicilio">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_referencia}}</label> {{=rowContent_form.custom.widget.dom_referencia}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_colonia}}</label> {{=rowContent_form.custom.widget.dom_colonia}}</div>
        <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.dom_calle}}</label> {{=rowContent_form.custom.widget.dom_calle}} </div>
    </div>
    <div class="row esdomicilio">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_numexterior}}</label> {{=rowContent_form.custom.widget.dom_numexterior}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_numinterior}}</label> {{=rowContent_form.custom.widget.dom_numinterior}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_codigopostal}}</label> {{=rowContent_form.custom.widget.dom_codigopostal}} </div>
    </div>
</div>

{{ if rowContent_form.custom.label.notas: }}
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
    </div>
</div>
{{ else: pass }}

{{=rowContent_form.custom.end}}
{{ else: pass  # rowContent_form }}

{{end}}

{{block blockCustomRowSearchResults_grid}}
{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">

    {{ if globals().get('rowContent_form', None) and not rowContent_form.readonly: }}

    let _$tab = $("#{{=D_tabOptions.s_tabId}}_reference").closest(".stv_tab");
    let _$form = _$tab.find('.stv_rowContent:first>.stv_rowContent_form,.detailTabContent:first>.stv_form_partOfMain');

    /** Validaciones para método y forma de pago */
    let _$esorigen = _$form.find('[name=esorigen]');
    let _$esdestino = _$form.find('[name=esdestino]');
    let _$almacen = _$form.find('[name=dom_emp_pla_suc_almacen_id]');
    let _$usarcliente = _$form.find('[name=dom_usardireccioncliente]');
    let _$origenPais = _$form.find('[name=origen_pais_id]');
    let _$destinoPais = _$form.find('[name=destino_pais_id]');

    _fn_validar_ubicaciones = function () {
        let _$inputsOrigen = _$form.find(".esorigen").find("input, select, button");
        let _$inputsDestino = _$form.find(".esdestino").find("input, select, button");
        let _b_almacenOCliente = Boolean(_$almacen.val()) || _$usarcliente.prop("checked");

        let _$inputsDomicilio2 = _$form.find(".esdomicilio").find("input, select, button");

        let _$inputOrigenRegIdTrib = _$form.find("[name=origen_numregidtrib]").parent().find("input, select, button");
        let _$inputDestinoRegIdTrib = _$form.find("[name=destino_numregidtrib]").parent().find("input, select, button");

        if (!_$esorigen.prop("checked")) {
            _$inputsOrigen.prop('disabled', true);
        } else {
            _$inputsOrigen.prop('disabled', false);
            _$inputOrigenRegIdTrib.prop('disabled', _$origenPais.val() == "{{=TPAISES.MEX}}");
        }

        if (!_$esdestino.prop("checked")) {
            _$inputsDestino.prop('disabled', true);
        } else {
            _$inputsDestino.prop('disabled', false);
            _$inputDestinoRegIdTrib.prop('disabled', _$destinoPais.val() == "{{=TPAISES.MEX}}");
        }

        if (_b_almacenOCliente) {
            _$inputsDomicilio2.prop('disabled', true);
        } else {
            _$inputsDomicilio2.prop('disabled', false);
        }

        _$inputsOrigen.trigger("chosen:updated").trigger("update");  // Incluye _$inputsOrigen2
        _$inputsDestino.trigger("chosen:updated").trigger("update");  // Incluye _$inputsDestino2
        _$inputsDomicilio2.trigger("chosen:updated").trigger("update");
    };

    _$esorigen.on('ifToggled', _fn_validar_ubicaciones);
    _$esdestino.on('ifToggled', _fn_validar_ubicaciones);
    _$usarcliente.on('ifToggled', _fn_validar_ubicaciones);
    _$almacen.on('change', _fn_validar_ubicaciones);
    _$origenPais.on('change', _fn_validar_ubicaciones);
    _$destinoPais.on('change', _fn_validar_ubicaciones);
    _$esorigen.trigger("ifToggled");  // Con uno que se mande llamar


    {{ else: pass }}
</script>
{{end}}

