{{# -*- coding: utf-8 -*-}}
{{b_customRowContent_formAdvSearch = True}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}
{{end}}

{{block blockCustomRowContent_form}}

{{ if rowContent_form: }}

{{=rowContent_form.custom.begin}}

<div>
    <div class="row">
        <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
        <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.emp_tra_permiso_id}}</label> {{=rowContent_form.custom.widget.emp_tra_permiso_id}}</div>
        <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.idvehic_auto_configautotransporte_id}}</label> {{=rowContent_form.custom.widget.idvehic_auto_configautotransporte_id}}</div>
    </div>
    <div class="row configmanual">
        <div class="form-group col-sm-9"><label>{{=rowContent_form.custom.label.transporte_tipopermiso_id}}</label> {{=rowContent_form.custom.widget.transporte_tipopermiso_id}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.numpermisosct}}</label> {{=rowContent_form.custom.widget.numpermisosct}}</div>
    </div>
    <div class="row configmanual">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.nombreaseg}}</label> {{=rowContent_form.custom.widget.nombreaseg}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.numpolizaseguro}}</label> {{=rowContent_form.custom.widget.numpolizaseguro}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.idvehic_placavm}}</label> {{=rowContent_form.custom.widget.idvehic_placavm}} </div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.idvehic_aniomodelovm}}</label> {{=rowContent_form.custom.widget.idvehic_aniomodelovm}} </div>
    </div>
    <div class="row configmanual">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.remolque1_auto_configautotransporte_id}}</label> {{=rowContent_form.custom.widget.remolque1_auto_configautotransporte_id}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.remolque1_placa}}</label> {{=rowContent_form.custom.widget.remolque1_placa}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.remolque2_auto_configautotransporte_id}}</label> {{=rowContent_form.custom.widget.remolque2_auto_configautotransporte_id}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.remolque2_placa}}</label> {{=rowContent_form.custom.widget.remolque2_placa}}</div>
    </div>
</div>

{{ if rowContent_form.custom.label.notas: }}
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
    </div>
</div>
{{ else: pass }}

{{=rowContent_form.custom.end}}
{{ else: pass  # rowContent_form }}

{{end}}

{{block blockCustomRowSearchResults_grid}}
{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
    {{ if globals().get('rowContent_form', None) and not rowContent_form.readonly: }}

    let _$tab = $("#{{=D_tabOptions.s_tabId}}_reference").closest(".stv_tab");
    let _$form = _$tab.find('.stv_rowContent:first>.stv_rowContent_form,.detailTabContent:first>.stv_form_partOfMain');

    /** Validaciones para método y forma de pago */
    let _$empTraPermiso = _$form.find('[name=emp_tra_permiso_id]');

    _$empTraPermiso.on('change', function () {
        let _$inputs = _$form.find(".configmanual").find("input, select, button");
        let _$inputs2 = _$form.find("[name=idvehic_auto_configautotransporte_id]").parent().find("input, select, button");

        if (!_$empTraPermiso.val()) {
            _$inputs.prop('disabled', false);
            _$inputs2.prop('disabled', false);
        } else {
            _$inputs.prop('disabled', true);
            _$inputs2.prop('disabled', true);
        }
        _$inputs.trigger("chosen:updated");
        _$inputs2.trigger("chosen:updated");
    });
    _$empTraPermiso.trigger("change");

    {{ else: pass }}
</script>
{{end}}

