{{# -*- coding: utf-8 -*-}}
{{b_customRowContent_formAdvSearch = True}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}
{{end}}

{{block blockCustomRowContent_form}}

{{ if rowContent_form: }}

{{=rowContent_form.custom.begin}}

<div>
    <div class="row">
        <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
        <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.prodservcp_id}}</label> {{=rowContent_form.custom.widget.prodservcp_id}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tferr_prodservstcc_id}}</label> {{=rowContent_form.custom.widget.tferr_prodservstcc_id}}</div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}}</div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cantidad}}</label> {{=rowContent_form.custom.widget.cantidad}}</div>
        <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.unidad_id}}</label> {{=rowContent_form.custom.widget.unidad_id}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.pesoenkg}}</label> {{=rowContent_form.custom.widget.pesoenkg}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dimensiones}}</label> {{=rowContent_form.custom.widget.dimensiones}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.materialpeligroso}}</label> {{=rowContent_form.custom.widget.materialpeligroso}}</div>
        <div class="form-group col-sm-9"><label>{{=rowContent_form.custom.label.cvematerialpeligroso_id}}</label> {{=rowContent_form.custom.widget.cvematerialpeligroso_id}}</div>
    </div>
    <div class="row">
        <div class="form-group col-sm-9"><label>{{=rowContent_form.custom.label.tipoembalaje_id}}</label> {{=rowContent_form.custom.widget.tipoembalaje_id}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.valormercancia}}</label> {{=rowContent_form.custom.widget.valormercancia}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fraccionarancelaria_id}}</label> {{=rowContent_form.custom.widget.fraccionarancelaria_id}} </div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.uuidcomercioext}}</label> {{=rowContent_form.custom.widget.uuidcomercioext}} </div>
    </div>
    <hr/>
    <h2 class="bg-info">Detalle Mercancía: sólo en caso de traslados marítimos</h2>
    <div class="row">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.detallemerc_unidadpeso_id}}</label> {{=rowContent_form.custom.widget.detallemerc_unidadpeso_id}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.detallemerc_numpiezas}}</label> {{=rowContent_form.custom.widget.detallemerc_numpiezas}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.detallemerc_pesobruto}}</label> {{=rowContent_form.custom.widget.detallemerc_pesobruto}}</div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.detallemerc_pesoneto}}</label> {{=rowContent_form.custom.widget.detallemerc_pesoneto}} </div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.detallemerc_pesotara}}</label> {{=rowContent_form.custom.widget.detallemerc_pesotara}} </div>
    </div>
</div>

{{ if rowContent_form.custom.label.notas: }}
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
    </div>
</div>
{{ else: pass }}

{{=rowContent_form.custom.end}}
{{ else: pass  # rowContent_form }}

{{end}}

{{block blockCustomRowSearchResults_grid}}
{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">

    {{ if globals().get('rowContent_form', None) and not rowContent_form.readonly: }}

    let _$tab = $("#{{=D_tabOptions.s_tabId}}_reference").closest(".stv_tab");
    let _$form = _$tab.find('.stv_rowContent:first>.stv_rowContent_form,.detailTabContent:first>.stv_form_partOfMain');

    /** Validaciones para método y forma de pago */
    let _$materialpeligroso = _$form.find('[name=materialpeligroso]');

    _$materialpeligroso.on('change', function () {
        let _$inputs = _$form.find("[name=cvematerialpeligroso_id], [name=tipoembalaje_id]").parent().find("input, select, button");

        if (_$materialpeligroso.val() == "{{=TCFDI_COMPCARTAPORTE_MERCANCIAS.E_MATERIALPELIGROSO.SI}}") {
            _$inputs.prop('disabled', false);
        } else {
            _$inputs.prop('disabled', true);
            _$inputs.val("");
        }
        _$inputs.trigger("chosen:updated").trigger("change");
    });
    _$materialpeligroso.trigger("change");

    {{ else: pass }}
</script>
{{end}}

