{{# -*- coding: utf-8 -*-}}
{{b_customRowContent_formAdvSearch = False}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}
{{end}}

{{block blockCustomRowContent_form}}

{{ if rowContent_form: }}

{{=rowContent_form.custom.begin}}

<div>
    <div class="row">
        <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cantidad}}</label> {{=rowContent_form.custom.widget.cantidad}}</div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cfdi_compcartaporte_ubicacion_origen_id}}</label> {{=rowContent_form.custom.widget.cfdi_compcartaporte_ubicacion_origen_id}}</div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cfdi_compcartaporte_ubicacion_destino_id}}</label> {{=rowContent_form.custom.widget.cfdi_compcartaporte_ubicacion_destino_id}}</div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.transporte_id}}</label> {{=rowContent_form.custom.widget.transporte_id}}</div>
    </div>
</div>

{{ if rowContent_form.custom.label.notas: }}
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
    </div>
</div>
{{ else: pass }}

{{=rowContent_form.custom.end}}
{{ else: pass  # rowContent_form }}

{{end}}

{{block blockCustomRowSearchResults_grid}}
{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
</script>
{{end}}

