{{b_customRowContent_formAdvSearch = True}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_formAdvSearch}}

{{  if rowContent_formAdvSearch:  }}

    {{=rowContent_formAdvSearch.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_formAdvSearch.custom.label.categoria_id}}</label> {{=rowContent_formAdvSearch.custom.widget.categoria_id}}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.tiposeguimiento}}</label> {{=rowContent_formAdvSearch.custom.widget.tiposeguimiento}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.busqueda_predefinida}}</label> {{=rowContent_formAdvSearch.custom.widget.busqueda_predefinida}} </div>
        </div>
    </div>

    {{=rowContent_formAdvSearch.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
            <div class="form-group col-sm-11"><label>{{=rowContent_form.custom.label.empresa_prodserv_id}}</label> {{=rowContent_form.custom.widget.empresa_prodserv_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cantidad}}</label> {{=rowContent_form.custom.widget.cantidad}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cantidad_maxima}}</label> {{=rowContent_form.custom.widget.cantidad_maxima}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cantidad_minima}}</label> {{=rowContent_form.custom.widget.cantidad_minima}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.infoadicional}}</label> {{=rowContent_form.custom.widget.infoadicional}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.observaciones}}</label> {{=rowContent_form.custom.widget.observaciones}} </div>
        </div>
    </div>

    {{ if dbRow_prodserv: }}
    <h2 class="bg-info">Información del Producto/Servicio</h2>
    <div>
        <div class="row">
            <div class="form-group col-sm-1">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.id, dbRow_prodserv)}}</div>
            <div class="form-group col-sm-2">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.codigo, dbRow_prodserv)}}</div>
            <div class="form-group col-sm-3">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.tipo, dbRow_prodserv)}}</div>
            <div class="form-group col-sm-3">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.tiposeguimiento, dbRow_prodserv)}}</div>
            <div class="form-group col-sm-3">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.marca_id, dbRow_prodserv)}}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.unidad_id, dbRow_prodserv)}}</div>
            <div class="form-group col-sm-6">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.prodserv_id, dbRow_prodserv)}}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.categoria_id, dbRow_prodserv)}}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.preciotipocalculo, dbRow_prodserv)}}</div>
            <div class="form-group col-sm-8">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.empresa_proveedor_id, dbRow_prodserv)}}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.preciofijo, dbRow_prodserv)}}</div>
            <div class="form-group col-sm-3">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.porcentajeutilidad, dbRow_prodserv)}}</div>
            <div class="form-group col-sm-3">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.porcentajemaxdesc, dbRow_prodserv)}}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-2">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.empresa_productoajuste_id, dbRow_prodserv)}}</div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.empresa_prodserv_casco1a1_id, dbRow_prodserv)}}</div>
            <div class="form-group col-sm-3">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.excedente_preciomaximo, dbRow_prodserv)}}</div>
            <div class="form-group col-sm-3">{{=STV_FWK_LIB.HTML_REPRESENTAR_CAMPO(dbc01.tempresa_prodserv.excedente_preciopropuesto, dbRow_prodserv)}}</div>
        </div>
    </div>
    {{ else: pass }}
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {



    });
</script>

{{end}}
