{{# -*- coding: utf-8 -*-}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-11"><label>{{=rowContent_form.custom.label.empresa_prodserv_id}}</label> {{=rowContent_form.custom.widget.empresa_prodserv_id}} </div>
            {{ else: }}
                <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.empresa_prodserv_id}}</label> {{=rowContent_form.custom.widget.empresa_prodserv_id}} </div>
            {{ pass }}
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cantidad}}</label> {{=rowContent_form.custom.widget.cantidad}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.unidad_id}}</label> {{=rowContent_form.custom.widget.unidad_id}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.prodserv_id}}</label> {{=rowContent_form.custom.widget.prodserv_id}} </div>
        </div>
    </div>
    
    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

