{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}

    <div class="row">
        <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.comentarios}}</label><br/> {{=rowContent_form.custom.widget.comentarios}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.nombre}}</label><br/> {{=rowContent_form.custom.widget.nombre}} </div>
        <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.archivo_excel}}</label><br/> {{=rowContent_form.custom.widget.archivo_excel}} </div>
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

    {{ if D_useView == request.stv_fwk_permissions.view_refreshParent: }}

<script type="text/javascript">
    $(document).ready(function () {
        var _$modal = $("#{{=D_tabOptions.s_tabId}}_reference").closest(".stv_modal");
        if (_$modal.length > 0) {
            _$modal.modal("hide");
        } else {}
    });
</script>

    {{ else: pass }}

{{end}}
