{{# -*- coding: utf-8 -*-}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.nombrecorto}}</label> {{=rowContent_form.custom.widget.nombrecorto}} </div>
            {{ else: }}
                <div class="form-group col-sm-9"><label>{{=rowContent_form.custom.label.nombrecorto}}</label> {{=rowContent_form.custom.widget.nombrecorto}} </div>
            {{ pass }}
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.rfc}}</label> {{=rowContent_form.custom.widget.rfc}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.numlicencia}}</label> {{=rowContent_form.custom.widget.numlicencia}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.tipolicencia}}</label> {{=rowContent_form.custom.widget.tipolicencia}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fecha_finvigencia}}</label> {{=rowContent_form.custom.widget.fecha_finvigencia}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.nombre}}</label> {{=rowContent_form.custom.widget.nombre}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.residencia_pais_id}}</label> {{=rowContent_form.custom.widget.residencia_pais_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.numregidtriboperador}}</label> {{=rowContent_form.custom.widget.numregidtriboperador}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_calle}}</label> {{=rowContent_form.custom.widget.dom_calle}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_numexterior}}</label> {{=rowContent_form.custom.widget.dom_numexterior}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_numinterior}}</label> {{=rowContent_form.custom.widget.dom_numinterior}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_colonia}}</label> {{=rowContent_form.custom.widget.dom_colonia}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_localidad}}</label> {{=rowContent_form.custom.widget.dom_localidad}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_referencia}}</label> {{=rowContent_form.custom.widget.dom_referencia}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_municipio}}</label> {{=rowContent_form.custom.widget.dom_municipio}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_codigopostal}}</label> {{=rowContent_form.custom.widget.dom_codigopostal}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_pais_id}}</label> {{=rowContent_form.custom.widget.dom_pais_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.dom_pais_estado_id}}</label> {{=rowContent_form.custom.widget.dom_pais_estado_id}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.usuario_id}}</label> {{=rowContent_form.custom.widget.usuario_id}} </div>
        </div>
    </div>
    
    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">

    {{ if globals().get('rowContent_form', None) and not rowContent_form.readonly: }}

    let _$tab = $("#{{=D_tabOptions.s_tabId}}_reference").closest(".stv_tab");
    let _$form = _$tab.find('.stv_rowContent:first>.stv_rowContent_form,.detailTabContent:first>.stv_form_partOfMain');

    /** Validaciones para método y forma de pago */
    let _$residencia = _$form.find('[name=residencia_pais_id]');

    _$residencia.on('change', function () {
        let _$inputs = _$form.find("[name=numregidtriboperador]").parent().find("input, select, button");

        if (_$residencia.val() != "{{=TPAISES.MEX}}") {
            _$inputs.prop('disabled', false);
        } else {
            _$inputs.prop('disabled', true);
        }
        _$inputs.trigger("chosen:updated").trigger("change");
    });
    _$residencia.trigger("change");

    {{ else: pass }}
</script>
{{end}}

