{{# -*- coding: utf-8 -*-}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.nombrecorto}}</label> {{=rowContent_form.custom.widget.nombrecorto}} </div>
            {{ else: }}
                <div class="form-group col-sm-9"><label>{{=rowContent_form.custom.label.nombrecorto}}</label> {{=rowContent_form.custom.widget.nombrecorto}} </div>
            {{ pass }}
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.pertenencia}}</label> {{=rowContent_form.custom.widget.pertenencia}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.idvehic_auto_configautotransporte_id}}</label> {{=rowContent_form.custom.widget.idvehic_auto_configautotransporte_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.idvehic_placavm}}</label> {{=rowContent_form.custom.widget.idvehic_placavm}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.idvehic_aniomodelovm}}</label> {{=rowContent_form.custom.widget.idvehic_aniomodelovm}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.numtarjetacirculacion}}</label> {{=rowContent_form.custom.widget.numtarjetacirculacion}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.numtarjetacirculacion_vigencia}}</label> {{=rowContent_form.custom.widget.numtarjetacirculacion_vigencia}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.marca_id}}</label> {{=rowContent_form.custom.widget.marca_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_proveedor_id}}</label> {{=rowContent_form.custom.widget.empresa_proveedor_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.nombreaseg}}</label> {{=rowContent_form.custom.widget.nombreaseg}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.numpolizaseguro}}</label> {{=rowContent_form.custom.widget.numpolizaseguro}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.numpolizaseguro_vigencia}}</label> {{=rowContent_form.custom.widget.numpolizaseguro_vigencia}} </div>
        </div>
    </div>

<div id="{{=htmlid_arrendador}}">
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_rfc}}</label> {{=rowContent_form.custom.widget.arrendador_rfc}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_nombre}}</label> {{=rowContent_form.custom.widget.arrendador_nombre}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_numregidtriboperador}}</label> {{=rowContent_form.custom.widget.arrendador_numregidtriboperador}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_residencia_pais_id}}</label> {{=rowContent_form.custom.widget.arrendador_residencia_pais_id}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_referencia}}</label> {{=rowContent_form.custom.widget.arrendador_referencia}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_calle}}</label> {{=rowContent_form.custom.widget.arrendador_calle}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_numexterior}}</label> {{=rowContent_form.custom.widget.arrendador_numexterior}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_numinterior}}</label> {{=rowContent_form.custom.widget.arrendador_numinterior}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_colonia}}</label> {{=rowContent_form.custom.widget.arrendador_colonia}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_localidad}}</label> {{=rowContent_form.custom.widget.arrendador_localidad}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_municipio}}</label> {{=rowContent_form.custom.widget.arrendador_municipio}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_pais_id}}</label> {{=rowContent_form.custom.widget.arrendador_pais_id}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_pais_estado_id}}</label> {{=rowContent_form.custom.widget.arrendador_pais_estado_id}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.arrendador_codigopostal}}</label> {{=rowContent_form.custom.widget.arrendador_codigopostal}} </div>
    </div>
</div>

<div id="{{=htmlid_propietario}}">
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.mismoquearrendador}}</label> {{=rowContent_form.custom.widget.mismoquearrendador}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_rfc}}</label> {{=rowContent_form.custom.widget.propietario_rfc}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_nombre}}</label> {{=rowContent_form.custom.widget.propietario_nombre}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_numregidtriboperador}}</label> {{=rowContent_form.custom.widget.propietario_numregidtriboperador}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_residencia_pais_id}}</label> {{=rowContent_form.custom.widget.propietario_residencia_pais_id}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_referencia}}</label> {{=rowContent_form.custom.widget.propietario_referencia}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_calle}}</label> {{=rowContent_form.custom.widget.propietario_calle}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_numexterior}}</label> {{=rowContent_form.custom.widget.propietario_numexterior}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_numinterior}}</label> {{=rowContent_form.custom.widget.propietario_numinterior}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_colonia}}</label> {{=rowContent_form.custom.widget.propietario_colonia}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_localidad}}</label> {{=rowContent_form.custom.widget.propietario_localidad}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_municipio}}</label> {{=rowContent_form.custom.widget.propietario_municipio}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_pais_id}}</label> {{=rowContent_form.custom.widget.propietario_pais_id}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_pais_estado_id}}</label> {{=rowContent_form.custom.widget.propietario_pais_estado_id}} </div>
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.propietario_codigopostal}}</label> {{=rowContent_form.custom.widget.propietario_codigopostal}} </div>
    </div>
</div>

    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">

    {{ if globals().get('rowContent_form', None) and not rowContent_form.readonly: }}

    let _$tab = $("#{{=D_tabOptions.s_tabId}}_reference").closest(".stv_tab");
    let _$form = _$tab.find('.stv_rowContent:first>.stv_rowContent_form,.detailTabContent:first>.stv_form_partOfMain');

    /** Validaciones para método y forma de pago */
    let _$pertenencia = _$form.find('[name=pertenencia]');

    _$pertenencia.on('change', function () {
        let _$inputs = _$form.find("#{{=htmlid_arrendador}}, #{{=htmlid_propietario}}").find("input, select, button");
        let _$inputs2 = _$form.find("[name=empresa_proveedor_id]").parent().find("input, select, button");

        if (_$pertenencia.val() == "{{=TEMPRESA_TRANSPORTES.E_PERTENENCIA.ARRENDADO}}") {
            _$inputs.prop('disabled', false);
            _$inputs2.prop('disabled', false);
        } else {
            _$inputs.prop('disabled', true);
            _$inputs2.prop('disabled', true);
        }
        _$inputs.trigger("chosen:updated");
        _$inputs2.trigger("chosen:updated");
    });
    _$pertenencia.trigger("change");

    {{ else: pass }}
</script>
{{end}}

