{{b_customRowContent_form = False}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomRowAdditional}}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                {{
                    D_params = L_boxStatus[0]  }}
                {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_dashboard_box.html')}}
            </div>
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-title">
                        <span class="label label-info float-right">Annual</span>
                        <h5>Orders</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">275,800</h1>
                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                        <small>New orders</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-title">
                        <span class="label label-primary float-right">Today</span>
                        <h5>visits</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">106,120</h1>
                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                        <small>New visits</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-title">
                        <span class="label label-danger float-right">Low value</span>
                        <h5>User activity</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">80,600</h1>
                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                        <small>In first month</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                {{
                    D_params = L_boxStatus[1]  }}
                {{include os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_dashboard_box.html')}}
                

            </div>
        </div>
                    
    </div>
{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

<script type="text/javascript">
    $(document).ready(function() {
        $parent = $('#{{=str(D_tabOptions.s_tabId_main)}}_additional');
        $parent.find('#{{=L_boxStatus[0].s_id}}').on('click', function () {
            var _$this = $(this);
            stv_fwk_ajax(
                "{{=URL('610dashboards', 'statusbox1', args=[L_boxStatus[0].s_id])}}", 
                null, 
                "{{=L_boxStatus[0].s_id}}", 
                false, 
                {
                    x_data: $parent,
                    x_params: {},
                    fn_returnAjax: "", 
                });
            });

        stv_fwk_ajax(
            "{{=URL('610dashboards', 'flotchart1', args=[L_boxStatus[1].s_id])}}", 
            null, 
            "{{=L_boxStatus[1].s_id}}", 
            false, 
            {
                x_data: $parent,
                x_params: {},
                fn_returnAjax: "", 
            });

        stv_applyInspinia($('#{{=str(D_tabOptions.s_tabId_main)}}_additional'));
    });
</script>

{{end}}
