/*
 *
 *   Soluciones Tecnológicas Verticales
 *   version 0.1
 *
*/

/* Se requiere para evitar perder vista en formas dentro de grid/busquedas */
.form-inline .form-control {
    display: block;
    width: 100%;
}

#master_empresa_plaza_sucursal_almacen_id {
	height: inherit;
}

.top-navigation .navbar-brand {
  background: #ffffff;
  padding: 5px 5px;
}

.top-navigation .navbar-brand img{
  height: 100%;
}

.nav-header {
  padding: 10px 5px;
  background: none;
  background-color: #6F6F6F;
}

.nav-header {
  padding: 10px 5px;
  background: none;
  background-color: #FFFFFF;
}

body.mini-navbar .nav-header {
  background-color: #6F6F6F;    
}

span.help-block {
    display:none;
}

.input-group-btn {
    vertical-align: top;
    font-size: inherit;
}

.error_wrapper {
    background-color: red;
    color: white;
    padding-left: 5px;
}

.fa {
    font-size: initial;
}

.stv_lblButton {
    
}

.stv_rowContent_form {
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    content: " ";
    width: 100%;
}

.nav-tabs > li.active > span {
    
    background-color: #fff;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    border-bottom: #f3f3f4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
}    

.nav-tabs > li > span {   
    font-weight: 600;
    padding: 10px 20px 10px 25px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
}

.nav-tabs > li > span > a > i {   
    padding-left: 5px;
}

.nav-tabs.detailTabList > li > span {
    padding: 5px 10px 5px 15px;
}

.nav-tabs.detailTabList > li.active > span {
    background-color: #FCF8E3;
}

.form-group {
    margin-bottom: 5px;
}

.detailTabContent {
    clear: both;
    background-color: #FCF8E3;
    color: inherit;
    border-color: #888888;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5px;
    margin-top: 0;
}

.stv_tab .stv_tab {
    clear: both;
    background-color: #FCF8E3;
    color: inherit;
    padding: 15px 20px 20px 20px;
    margin-bottom: 5px;
    margin-top: 0;
}

.panel-body {
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.stv_tab {
    clear: both;
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
    margin-bottom: 25px;
    margin-top: 0;
}

.stv_tab .input-group {
    width: 100%;
}

.stv_tab .col-left {
    padding-left: 0px;
}

.stv_tab .col-right {
    padding-right: 0px;
}

.stv_tab .col-middle {
    padding-right: 5px;
    padding-left: 5px;
}

.stv_tab textarea.text {
    width: 100%;
}

.stv_tab .stv_lblButton {
    display: none;
}

.stv_buttonsBarModal .stv_lblButton {
    display: block;
}

.hr-line-solid, .hr-line-dashed {
    margin-top: 5px;
    margin-bottom: 5px;
}

.stv_img_uploaded {
    max-width: 100%;
    border: 1px dotted;
}

.stv_rowSeleccionado {
    color: #0D8DDB;
}

.input-group-addon {
    padding: 6px 4px;
}

.chosen-container {
    position: relative;
    /* display: table; No funciona en Tranportes cuando el texto es más grand que el box */
    border-collapse: separate;
}

.chosen-container-active .chosen-single, .chosen-container-active .chosen-choices {
    border: 1px solid #179D82;
}

.stv_chosen_flex {
    display: flex;
}

.stv_errorInTab {
    color: #CA4440;
}

.stv_error {
    
}

.float-e-margins .btn {
    margin-bottom: 0px;
}

.stv_hintsmall {
    padding: 6px 3px;
}

.stv_represent_atgrid  {
    display: block;
}

.stv_represent_atform  {
    display: block;
}

input.stv_represent_percentage, input.stv_represent_money, input.stv_represent_number  {
    text-align: right;
}

.stv_inputColumnHeader {
    text-align: center;
}

.stv_textFile {
    font-family: monospace;
    white-space: nowrap;
}

.stv_rowOver, .table-striped>tbody>tr.stv_rowOver {
    background-color: #eae6e6;
}

td.stv_rowresults_plus {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.stv_rowresults_plus {
    background: url('../resources/details_close.png') no-repeat center center;
}

th.stv_tabRowResults_col_plus, th.stv_tabRowResults_col_link {
    width: 10px;
}

td.stv_rowresults_plus, td.stv_rowresults_link, td.stv_rowresults_linktab {
    text-align: center;
    cursor: pointer;
}

div.stv_modalButtons {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: 0 0;
}
.icheckbox_square-green.hover {
    background-position: -24px 0;
}
.icheckbox_square-green.checked {
    background-position: -48px 0;
}
.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-green {
    background-position: -120px 0;
}
.iradio_square-green.hover {
    background-position: -144px 0;
}
.iradio_square-green.checked {
    background-position: -168px 0;
}
.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}

.stv_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
}

div.stv_lockscreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
}

.stv_represent_atgrid.stv_represent_calculated, .stv_represent_atgrid.stv_represent_number, .stv_represent_atgrid.stv_represent_money {
    text-align: right;
}

input.stv_password {
	/*-webkit-text-security: none;*/
    /*-webkit-text-security: circle;*/
    -webkit-text-security: square;
    /*-webkit-text-security: disc; *//* Default */
}

div.stv_msg_loading {
	padding-top: 10px;
    padding-bottom: 20px;
}

div.stv_widget_inputdaterange1, div.stv_widget_inputdaterange2, div.stv_widget_inputdatetimerange1, div.stv_widget_inputdatetimerange2, div.stv_widget_inputmoneyrange1, div.stv_widget_inputmoneyrange2
{
    float: left;
    width: 50%;	
}

div.panel-body>button {
	font-size: inherit;
}

.stv_panel_orange {
	background-color: orange;
    border-color: orange;
    color: white;
}

.form-control {
    font-size: inherit;
}

/* En las datatables, se tuvo que crear los colores de background para el grid, y poder funcionar con el hover */
table.dataTable tbody tr.stv_row_odd{
    background-color: #f9f9f9;
}
table.dataTable tbody tr.stv_row_even{
    background-color: #fff;
}