

<div class="white-bg">
    <h2>Movimientos para el almacen
    <form>
{{ if dbFieldAlmacenes.writable:
}}
    {{=dbFieldAlmacenes.widget(dbFieldAlmacenes, 0)}}
{{  else:
}}
    {{=dbFieldAlmacenes.represent(dbFieldAlmacenes.default, None)}}
{{      pass
}}
    </form>
    </h2>
    <ol class="breadcrumb">
    
{{    for _n_index, _D_breadcrumb in enumerate(L_breadcrub): 
         
}}    
        <li class="breadcrumb-item">
        
{{          if (len(L_breadcrub) - 1) == _n_index:
}}        
                <strong>{{=_D_breadcrumb.s_texto}}</strong>
{{          elif _D_breadcrumb.n_tipo == STV_CFG_APP_ALMACENES.E_TIPO_LLAMADA.DOC:
}}
                <a class="stv_link" href="#" data-stv_url="{{=_D_breadcrumb.s_url}}" data-stv_tipo="doc">{{=_D_breadcrumb.s_texto}}</a>
{{          elif _D_breadcrumb.n_tipo == STV_CFG_APP_ALMACENES.E_TIPO_LLAMADA.AJAX:
}}
                <a class="stv_link" href="#" data-stv_url="{{=_D_breadcrumb.s_url}}" data-stv_tipo="ajax">{{=_D_breadcrumb.s_texto}}</a>
{{          else:
}}              
                <strong>{{=_D_breadcrumb.s_texto}}</strong>  
{{              pass
}}                
        </li>
{{      pass
}}                
    </ol>
</div>



