{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_a01.html')}}

{{block html_header}}
    <style>
        .navbar-default .nav > li > a { text-align: left; }
        .nav > li.special_link { padding-bottom: 10px; }
        .nav > li.active { background: inherit; border-left: 4px; }
    </style>
{{end}}

<nav class="navbar-default" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            {{if globals().get('dbTreeMenuApps', None):}}
                {{for _dbTreeLevel1 in dbTreeMenuApps: }}
                    <li class="special_link">
                        <a href="#_"><i class="fa fa-database"></i> <span class="nav-label">{{=_dbTreeLevel1.data.tcuentas.nombrecorto}}</span><span class="fa arrow"></span></a>            
                        <ul class="nav nav-second-level">
                            {{for _dbTreeLevel2 in _dbTreeLevel1.get('subrows', []) : }}
                                <li>
                                    <a class="stv_btnCustomerApp" href="#_" 
                                        data-id="{{=_dbTreeLevel2.data.tcuenta_aplicaciones.id}}" 
                                        data-a="{{=_dbTreeLevel2.data.taplicaciones.aplicacion_w2p}}">
                                            {{=_dbTreeLevel2.data.tcuenta_aplicaciones.nombrecorto}}
                                            {{if _dbTreeLevel2.data.tcuenta_aplicaciones.empresa_id:}}
                                                {{=" : " + _dbTreeLevel2.data.tE.nombrecorto}}
                                            {{else:}}
                                            {{pass}}
                                    </a>
                                </li>
                            {{pass}}
                        </ul>         
                    </li>
                {{pass}}
            {{pass}}
                
            {{if globals().get('displayBackoffice', None):}}
                <li class="special_link">
                    <a class="stv_btnCustomerApp" href="#_" data-a="{{=D_stvFwkCfg.s_nameBackofficeApp}}">Puerta Trasera</a>
                </li>
            {{pass}}

            <li class="special_link">
                <a href="/acceso/default/user/logout">{{=T('Logout')}}</a>
            </li>
        </ul>
    </div>
</nav>

{{block body_js}}
    <script>
        /* Para lo botones con las aplicaciones de los clientes, al presionar click... */
        $(".stv_btnCustomerApp").click(function(e) {
            /* ...abrir una nueva pestaña y presentar la aplicación del cliente */
            var _vName = stv_fwk_getArrayFromMenuOption($(this), "{{=request.application}}", "default", "index");
            
            window.open('/'+_vName.join('/')+"?cfg_cuenta_aplicacion_id=" + $(this).data('id'));
            e.stopPropagation();
        });
    </script>
{{end}}
