{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_a01.html')}}


{{if request.args(0)=='profile':}}

    <div id="perfilUsuario" class="stv_tab tab-pane">
        <div class="stv_tab_content float-e-margins">
            {{=form.custom.begin}}
            <div class="row">
                <div class="form-group col-sm-1"><label>{{=form.custom.label.id}}</label><br/>{{=form.custom.widget.id}}</div>
                <div class="form-group col-sm-5"><label>{{=form.custom.label.first_name}}</label> {{=form.custom.widget.first_name}}</div>
                <div class="form-group col-sm-6"><label>{{=form.custom.label.last_name}}</label> {{=form.custom.widget.last_name}}</div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6"><label>{{=form.custom.label.email}}</label> {{=form.custom.widget.email}}</div>
                <div class="form-group col-sm-6"><label>{{=form.custom.label.phones}}</label> {{=form.custom.widget.phones}}</div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12"><label>{{=form.custom.label.address}}</label> {{=form.custom.widget.address}}</div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12"><label>{{=form.custom.label.zonahoraria_id}}</label> {{=form.custom.widget.zonahoraria_id}}</div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12"><label>{{=form.custom.label.foto}}</label> {{=form.custom.widget.foto}}</div>
            </div>
            {{=form.custom.submit.add_class('block full-width m-b')}}
            {{=form.custom.end}}
        </div>
    </div>

{{else:}}

    <div id="stv_login">
    {{=form.custom.begin}}

    {{if form.custom.label.email:}}
    <div class="form-group">
        <input type="email" class="string form-control" id="{{=form.table._tablename + '_email'}}" name="email" placeholder="{{=form.custom.label.email}}" value="{{=form.custom.dspval.email}}">
        {{=DIV(form.errors.email, _class='error_wrapper error') if form.errors.email else ''}}
    </div>
    {{pass}}
    {{if form.custom.label.password:}}
    <div class="form-group">
        <input type="password" class="string form-control" id="{{=form.table._tablename + '_password'}}" name="password" placeholder="{{=form.custom.label.password}}">
        {{=DIV(form.errors.password, _class='error_wrapper error') if form.errors.password else ''}}
    </div>
    {{pass}}
    {{if form.custom.label.old_password:}}
    <div class="form-group">
        <input type="password" class="string form-control" id="{{=form.table._tablename + '_old_password'}}" name="old_password" placeholder="{{=form.custom.label.old_password}}">
        {{=DIV(form.errors.old_password, _class='error_wrapper error') if form.errors.old_password else ''}}
    </div>
    {{pass}}
    {{if form.custom.label.new_password:}}
    <div class="form-group">
        <input type="password" class="string form-control" id="{{=form.table._tablename + '_new_password'}}" name="new_password" placeholder="{{=form.custom.label.new_password}}">
        {{=DIV(form.errors.new_password, _class='error_wrapper error') if form.errors.new_password else ''}}
    </div>
    {{pass}}
    {{if form.custom.label.new_password2:}}
    <div class="form-group">
        <input type="password" class="string form-control" id="{{=form.table._tablename + '_new_password2'}}" name="new_password2" placeholder="{{=form.custom.label.new_password2}}">
        {{=DIV(form.errors.new_password2, _class='error_wrapper error') if form.errors.new_password2 else ''}}
    </div>
    {{pass}}
    <input type="hidden" id="s_timezoneoffset" name="s_timezoneoffset" value=""/>
    {{=form.custom.submit.add_class('block full-width m-b')}}

    {{if request.args(0)=='login':}}
    <a href="{{=URL(a='acceso', c='default', f='user', args=['request_reset_password'], vars=request.vars)}}"><small>{{=T('Forgot password?')}}</small></a>
    {{pass}}
    {{=form.custom.end}}
    </div>
{{pass}}

{{block body_js}}
    <script>
        $(document).ready(function() {
            
            {{if request.args(0) in ('change_password','reset_password'):}}
                web2py_validate_entropy(jQuery("#{{=form.table._tablename + '_new_password'}}"),100);
            {{pass}}
            var _$form = $('#stv_login');
            var _$input_timezoneoffset = _$form.find("#s_timezoneoffset");
            _$input_timezoneoffset.val((new Date($.now()).getTimezoneOffset()).toString());

            _$formPerfilUsuario = $("#perfilUsuario");
            if (_$formPerfilUsuario) {
                stv_fwk_assignFunctionality_form(_$formPerfilUsuario, _$formPerfilUsuario.find('.stv_tab_content').first());
            } else {}

        });
        
    </script>
{{end}}
