
{{if O_form:}}
    <form onkeydown="return event.key != 'Enter';">
    <div class="middle-box text-center lockscreen animated fadeInDown ">
        <div>
            <img alt="image" class="img-circle" src="{{=s_urlPicture}}">            
            <h3 class="stv_username">{{=s_userName}} </h3>
            <p class="stv_msg">{{=s_msg}}</p>
        </div>
        <div class="form-group">
            <input type="password" class="string form-control" name="password">
            {{if s_msgError:}}
                <div class="error_wrapper error">{{=s_msgError}}</div>
            {{pass}}
        </div>
        <div style="display:none;">
        </div>
        <input type="hidden" id="s_timezoneoffset" name="s_timezoneoffset" value=""/>
        <input class="block btn full-width btn-primary m-b btnLogin" type="button" value="Log In">
        <a href="{{=URL(a='acceso', c='default', f='user', args=['request_reset_password'], vars=request.vars)}}"><small>{{=T('Forgot password?')}}</small></a>
    </div>
    </form>
    <script type="text/javascript">
        //$("body").addClass("gray-bg");
        $("body").children().hide();
        $(".stv_lockscreen").addClass("stv_active").show();
        $(".stv_lockscreen").find(".btnLogin").click(function() {
            var _s_fieldvalue = $(".stv_lockscreen").find("[name='password']").val();
            stv_fwk_ajax(
                "{{=URL( a = D_stvFwkCfg.s_nameAccesoApp, c = 'default', f = 'userajax', args = ['login'])}}", 
                false, 
                "stv_lockscreen", 
                "none", 
                {
                    x_data: {edpwd: _s_fieldvalue, s_timezoneoffset: new Date($.now()).getTimezoneOffset()}, 
                });        
            //stv_ajax_data("{{=URL( a = D_stvFwkCfg.s_nameAccesoApp, c = 'default', f = 'userajax', args = ['login'])}}", [['edpwd',_s_fieldvalue]], "stv_lockscreen");
        });
        $(".stv_lockscreen").find("[name='password']").keypress(function(e) {
            if(e.which == 13) {
                $(".stv_lockscreen").find(".btnLogin").click();
            }
        });
    </script>
{{else:}}
    <script type="text/javascript">
        $(".stv_lockscreen").removeClass("stv_active");
        //$("body").removeClass("gray-bg");
        $("body").children().show(400,function () { 
            $(".stv_lockscreen").hide();
        });
    </script>
{{pass}}