{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_producto_id}}</label> {{=rowContent_form.custom.widget.empresa_producto_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fecha}}</label> {{=rowContent_form.custom.widget.fecha}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_almacenesconcepto_id}}</label> {{=rowContent_form.custom.widget.empresa_almacenesconcepto_id}} </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.folio}}</label> {{=rowContent_form.custom.widget.folio}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipomovto}}</label> {{=rowContent_form.custom.widget.tipomovto}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.metodocosteo}}</label> {{=rowContent_form.custom.widget.metodocosteo}} </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.entrada_cantidad}}</label> {{=rowContent_form.custom.widget.entrada_cantidad}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.entrada_costounitario}}</label> {{=rowContent_form.custom.widget.entrada_costounitario}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.salida_cantidad}}</label> {{=rowContent_form.custom.widget.salida_cantidad}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.mvto_capa_id}}</label> {{=rowContent_form.custom.widget.mvto_capa_id}} </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.salida_costounitario_prom}}</label> {{=rowContent_form.custom.widget.salida_costounitario_prom}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.salida_costounitario_peps}}</label> {{=rowContent_form.custom.widget.salida_costounitario_peps}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.estatus}}</label> {{=rowContent_form.custom.widget.estatus}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.polizagenerada}}</label> {{=rowContent_form.custom.widget.polizagenerada}} </div>
        </div>

    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

