{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_almacenesconcepto_id}}</label> {{=rowContent_form.custom.widget.empresa_almacenesconcepto_id}} </div>
        </div>
        
        
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_proveedor_id}}</label> {{=rowContent_form.custom.widget.empresa_proveedor_id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.tipodocumento}}</label> {{=rowContent_form.custom.widget.tipodocumento}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.serie}}</label> {{=rowContent_form.custom.widget.serie}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.folio}}</label> {{=rowContent_form.custom.widget.folio}} </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.remision}}</label> {{=rowContent_form.custom.widget.remision}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.total}}</label> {{=rowContent_form.custom.widget.total}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.moneda_id}}</label> {{=rowContent_form.custom.widget.moneda_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cfdi_id}}</label> {{=rowContent_form.custom.widget.cfdi_id}} </div>
        </div>

    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            
            var _$form = $('#{{=rowContent_form.formname}}');
                          
            var _$triggerTipoDocumento = $(_$form.find("select[name=tipodocumento]"));
        
            var _$triggerSerie = $(_$form.find("input[name=serie]"));
            
            var _$triggerFolio = $(_$form.find("input[name=folio]"));
            
            var _$triggerRemision = $(_$form.find("input[name=remision]"));
                        
           _$triggerTipoDocumento.on('change', function() {
               var _x_tipoDocumento = _$triggerTipoDocumento.val();      
               
               
               // Cosntante para el tipo de documento "Remisión"
               var _x_tipoDocumento_Remision = {{=TEMPRESA_INVENTARIOMOVIMIENTOS.E_TIPODOCUMENTO.REMISION}};

               
               if(_x_tipoDocumento == _x_tipoDocumento_Remision){
            	   
                    _$triggerRemision.prop('disabled', false);    
                    
                    _$triggerSerie.val('');
                    _$triggerSerie.prop('disabled', true);
                    
                    _$triggerFolio.val('');
                    _$triggerFolio.prop('disabled', true);

               }
               else
               {
                    _$triggerSerie.prop('disabled', false);

                    _$triggerFolio.prop('disabled', false);

                    _$triggerRemision.val('');
                    _$triggerRemision.prop('disabled', true);    
               }
            });
           _$triggerTipoDocumento.change();
            
    {{  pass }}
   
    });
</script>
{{end}}

