{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipoconcepto}}</label> {{=rowContent_form.custom.widget.tipoconcepto}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.codigoconcepto}}</label> {{=rowContent_form.custom.widget.codigoconcepto}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.concepto}}</label> {{=rowContent_form.custom.widget.concepto}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipocosto}}</label> {{=rowContent_form.custom.widget.tipocosto}} </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.clasificacion}}</label> {{=rowContent_form.custom.widget.clasificacion}} </div>
        </div>

    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            
            var _$form = $('#{{=rowContent_form.formname}}');

            var _$triggerTipoConcepto = $(_$form.find("select[name=tipoconcepto]"));
        
            var _$triggerCodigoConcepto = $(_$form.find("input[name=codigoconcepto]"));
           
            var _$triggerAccionFormulario = $(_$form.find("input[name=_s_action]")); 
            
           _$triggerTipoConcepto.on('change', function() {
                var _x_tipoTipoConcepto = _$triggerTipoConcepto.val();
                
                // Contantes para los Tipo de conceptos
                var _x_tipoConcepto_entrada= {{=TEMPRESA_ALMACENESCONCEPTOS.TIPOCONCEPTO.ENTRADA}}
                var _x_tipoConcepto_salida = {{=TEMPRESA_ALMACENESCONCEPTOS.TIPOCONCEPTO.SALIDA}}
                
                var _x_accionFormulario = _$triggerAccionFormulario.val().toString();
                
                if(_x_accionFormulario != stv_gButtons.btn_edit){
	                if (_x_tipoTipoConcepto == _x_tipoConcepto_entrada)
	                {
	                     _$triggerCodigoConcepto.val('E-01');
	                }
	                else if(_x_tipoTipoConcepto == _x_tipoConcepto_salida)
	                {
	                    _$triggerCodigoConcepto.val('S-01');
	                }
	                else
	                {
	                 //pass
	                }
                }
                else
                {
                 //pass	
                }
            });
           _$triggerTipoConcepto.change();
            
    {{  pass }}

    });
    
</script>
{{end}}

