{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div class="row">
        {{ if rowContent_form.record_id:}}
            <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.nombrecorto}}</label> {{=rowContent_form.custom.widget.nombrecorto}} </div>
        {{ else: }}
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.nombrecorto}}</label> {{=rowContent_form.custom.widget.nombrecorto}} </div>
        {{ pass }}
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.orden}}</label> {{=rowContent_form.custom.widget.orden}} </div>
        <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.mostrarenpaginaweb}}</label> {{=rowContent_form.custom.widget.mostrarenpaginaweb}} </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.padre_id}}</label> {{=rowContent_form.custom.widget.padre_id}} </div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.porcentajeutilidad}}</label> {{=rowContent_form.custom.widget.porcentajeutilidad}} </div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.porcentajemaxdesc}}</label> {{=rowContent_form.custom.widget.porcentajemaxdesc}} </div>
        <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.uso_cascos1a1}}</label> {{=rowContent_form.custom.widget.uso_cascos1a1}} </div>
    </div>
    {{=rowContent_form.custom.end}}    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

<script type="text/javascript">


</script>

{{end}}
