{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
            <div class="form-group col-sm-11"><label>{{=rowContent_form.custom.label.especificacion}}</label> {{=rowContent_form.custom.widget.especificacion}} </div>    
            <div class="form-group col-sm-11"><label>{{=rowContent_form.custom.label.mensajecaptura}}</label> {{=rowContent_form.custom.widget.mensajecaptura}} </div>    
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.capturaobligatoria}}</label> {{=rowContent_form.custom.widget.capturaobligatoria}} </div>    
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipocaptura}}</label> {{=rowContent_form.custom.widget.tipocaptura}} </div>    
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.opciones}}</label> {{=rowContent_form.custom.widget.opciones}} </div>    
        </div>
    </div>    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}
 
{{block blockCustomJsAfter}}
<script type="text/javascript">

	function stv_fwk_button_beforepressaction_{{=D_stvFwkCfg.D_uniqueHtmlIds.s_idTab}}($button, $tab, _s_action, _s_send, _s_actualRow, _s_link, _s_idsForLink) {
			   
		var _b_result = false;
			    
	    var _s_categoria_id = stv_fwk_getSelectedRow_field($tab, "tempresa_prodcategoria_especificaciones.categoria_id", "value");
			    
	    if (_s_categoria_id.toString() == '{{=s_categoria_id}}')
	    {
	        /* Si la categoria_id corresponde a la categoria del maestro, se permite todo sin problemas */
	        _b_result = true;
	    }
	    else
	    {
	        swal("Uups!", "El registro no pudo modificarse ya que corresponde al padre, para editarlo es necesario ir a la clasificación padre que lo definió", "warning");
			_b_result = false;
			}
			    
	    return _b_result;
			    
	    }
	
	$(document).ready(function() {  
	    
	    {{  if rowContent_form and not(rowContent_form.readonly): }}
	            
	            var _$form = $('#{{=rowContent_form.formname}}');
	                          
	            var _$triggerTipoCaptura = $(_$form.find("select[name=tipocaptura]"));
	        
	            var _$triggerOpciones = $(_$form.find("textarea[name=opciones]"));
	                        
	           _$triggerTipoCaptura.on('change', function() {
	               var _x_tipoCaptura = _$triggerTipoCaptura.val();      
	               
	               // Contante para los Tipo de Producto
	               var _x_tipoCapturaOpcion= {{=TEMPRESA_PRODCATEGORIA_ESPECIFICACIONES.TIPOCAPTURA.OPCION}};
                   var _x_tipoCapturaMultiOpcion = {{=TEMPRESA_PRODCATEGORIA_ESPECIFICACIONES.TIPOCAPTURA.MULTIOPCION}};

	                              
	               if((_x_tipoCaptura == _x_tipoCapturaOpcion) || (_x_tipoCaptura == _x_tipoCapturaMultiOpcion)){
	                    _$triggerOpciones.prop('disabled', false);             
	               }
	               else
	               {
	                    _$triggerOpciones.val('');
	                    _$triggerOpciones.prop('disabled', true);
	               }
	            });
	           _$triggerTipoCaptura.change();
	            
	    {{  pass }}
	   
	    });


</script>
{{end}}

