{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        
        <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.empresa_plaza_sucursal_almacen_id}}</label> {{=rowContent_form.custom.widget.empresa_plaza_sucursal_almacen_id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.empresa_producto_id}}</label> {{=rowContent_form.custom.widget.empresa_producto_id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.entrada_cantidad}}</label> {{=rowContent_form.custom.widget.entrada_cantidad}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.fecha_movimiento}}</label> {{=rowContent_form.custom.widget.fecha_movimiento}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.fecha_registro}}</label> {{=rowContent_form.custom.widget.fecha_registro}} </div>
        </div>
        
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

