{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.nombre}}</label> {{=rowContent_form.custom.widget.nombre}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.metodocosteo}}</label> {{=rowContent_form.custom.widget.metodocosteo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_plaza_sucursal_id}}</label> {{=rowContent_form.custom.widget.empresa_plaza_sucursal_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_serie_traslado_id}}</label> {{=rowContent_form.custom.widget.empresa_serie_traslado_id}} </div>
        </div>

    <div id="{{=htmlid_domiciliofiscal}}">    
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pais_id}}</label> {{=rowContent_form.custom.widget.pais_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pais_estado_id}}</label> {{=rowContent_form.custom.widget.pais_estado_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pais_estado_municipio_id}}</label> {{=rowContent_form.custom.widget.pais_estado_municipio_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.ciudad}}</label> {{=rowContent_form.custom.widget.ciudad}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.colonia}}</label> {{=rowContent_form.custom.widget.colonia}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.calle}}</label> {{=rowContent_form.custom.widget.calle}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.numexterior}}</label> {{=rowContent_form.custom.widget.numexterior}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.numinterior}}</label> {{=rowContent_form.custom.widget.numinterior}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.codigopostal}}</label> {{=rowContent_form.custom.widget.codigopostal}} </div>
        </div>
    </div>
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

