{{b_customRowContent_formAdvSearch = True}}
{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

<!-- {{block blockCustomRowContent_formAdvSearch}} -->

<!-- {{  if rowContent_formAdvSearch:  }} -->

<!--     {{=rowContent_formAdvSearch.custom.begin}} -->
    
<!--     <div> -->
<!--         <div class="row"> -->
<!--             {{ if rowContent_formAdvSearch.custom.label.empresa_id: }} -->
<!--                 <div class="form-group col-sm-4"><label>{{=rowContent_formAdvSearch.custom.label.empresa_id}}</label> {{=rowContent_formAdvSearch.custom.widget.empresa_id}}</div> -->
<!--             {{ else:  }} -->
<!--             {{ pass  }} -->
<!-- <!--             <div class="form-group col-sm-3"><label>{{=rowContent_formAdvSearch.custom.label.empresa_plaza_sucursal_almacen_id}}</label> {{=rowContent_formAdvSearch.custom.widget.empresa_plaza_sucursal_almacen_id}} </div>     --> -->
<!--             <div class="form-group col-sm-3"><label>{{=rowContent_formAdvSearch.custom.label.empresa_almacenesconcepto_id}}</label> {{=rowContent_formAdvSearch.custom.widget.empresa_almacenesconcepto_id}} </div>     -->
<!--             <div class="form-group col-sm-3"><label>{{=rowContent_formAdvSearch.custom.label.empresa_proveedor_id}}</label> {{=rowContent_formAdvSearch.custom.widget.empresa_proveedor_id}} </div>          -->
<!--             <div class="form-group col-sm-3"><label>{{=rowContent_formAdvSearch.custom.label.tipodocumento}}</label> {{=rowContent_formAdvSearch.custom.widget.tipodocumento}} </div>          -->
<!--         </div>               -->
<!--         <div class="row"> -->
<!-- <!--             <div class="form-group col-sm-6"><label>{{=rowContent_formAdvSearch.custom.label.fecha_movimiento}}</label> {{=rowContent_formAdvSearch.custom.widget.fecha_movimiento}} </div>          --> -->
<!--         </div> -->
<!--     </div> -->
    
<!--     {{=rowContent_formAdvSearch.custom.end}} -->
<!-- {{  pass  }} -->

<!-- {{end}} -->



{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        
        <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.empresa_almacenesconcepto_id}}</label> {{=rowContent_form.custom.widget.empresa_almacenesconcepto_id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.fecha_movimiento}}</label> {{=rowContent_form.custom.widget.fecha_movimiento}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_proveedor_id}}</label> {{=rowContent_form.custom.widget.empresa_proveedor_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_plaza_sucursal_almacen_id}}</label> {{=rowContent_form.custom.widget.empresa_plaza_sucursal_almacen_id}} </div>
        </div>

        <div class="row">
        </div>        
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipodocumento}}</label> {{=rowContent_form.custom.widget.tipodocumento}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.remision}}</label> {{=rowContent_form.custom.widget.remision}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cfdi_id}}</label> {{=rowContent_form.custom.widget.cfdi_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cfdi_egreso_id}}</label> {{=rowContent_form.custom.widget.cfdi_egreso_id}} </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.empresa_embarque_id}}</label> {{=rowContent_form.custom.widget.empresa_embarque_id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.ordencompra}}</label> {{=rowContent_form.custom.widget.ordencompra}} </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.observaciones}}</label> {{=rowContent_form.custom.widget.observaciones}} </div>
        </div>

    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            
            var _$form = $('#{{=rowContent_form.formname}}');
                          
            var _$triggerTipoDocumento = $(_$form.find("select[name=tipodocumento]"));
        
            var _$triggerSerie = $(_$form.find("input[name=serie]"));
            
            var _$triggerFolio = $(_$form.find("input[name=folio]"));
            
            var _$triggerRemision = $(_$form.find("input[name=remision]"));
                        
           _$triggerTipoDocumento.on('change', function() {
               var _x_tipoDocumento = _$triggerTipoDocumento.val();      
               
               // Cosntante para el tipo de documento "Remisión"
               var _x_tipoDocumento_Remision = {{=TEMPRESA_INVENTARIOMOVIMIENTOS.E_TIPODOCUMENTO.REMISION}};

               
               if(_x_tipoDocumento == _x_tipoDocumento_Remision){
            	   
                    _$triggerRemision.prop('disabled', false);    
                    
                    _$triggerSerie.val('');
                    _$triggerSerie.prop('disabled', true);
                    
                    _$triggerFolio.val('');
                    _$triggerFolio.prop('disabled', true);

               }
               else
               {
                    _$triggerSerie.prop('disabled', false);

                    _$triggerFolio.prop('disabled', false);

                    _$triggerRemision.val('');
                    _$triggerRemision.prop('disabled', true);    
               }
            });
           _$triggerTipoDocumento.change();
            
    {{  pass }}
   
    });
</script>
{{end}}

