{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_proveedor_id}}</label> {{=rowContent_form.custom.widget.empresa_proveedor_id}} </div>    
            <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.comentario}}</label> {{=rowContent_form.custom.widget.comentario}} </div>    
        </div>
    </div>    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}
 
{{block blockCustomJsAfter}}
<script type="text/javascript">

	function stv_fwk_button_beforepressaction_{{=D_stvFwkCfg.D_uniqueHtmlIds.s_idTab}}($button, $tab, _s_action, _s_send, _s_actualRow, _s_link, _s_idsForLink) {
			   
		var _b_result = false;
		
	    var _s_categoria_id = stv_fwk_getSelectedRow_field($tab, "tempresa_prodcategoria_proveedores_categoria_id", "value");
			    
	    if (_s_categoria_id.toString() == '{{=s_categoria_id}}'){
	    	
	        /* Si la categoria_id corresponde a la categoria del maestro, se permite todo sin problemas */
	        _b_result = true;
	    }
	    else{
	    	
	        swal("Uups!", "El registro no pudo modificarse ya que corresponde al padre, para editarlo es necesario ir a la clasificación padre que lo definió", "warning");
			_b_result = false;
		}
			    
	    return _b_result;
			    
	    }

</script>
{{end}}

