{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
     <div>
        <div class="row">
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_tipopoliza_id}}</label> {{=rowContent_form.custom.widget.empresa_tipopoliza_id}} </div>    
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_diario_id}}</label> {{=rowContent_form.custom.widget.empresa_diario_id}} </div>    
                <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.concepto}}</label> {{=rowContent_form.custom.widget.concepto}} </div>    
        </div>
        <div class="row">
                <div class="form-group col-sm-3"><label>{{="Cargos"}}</label> {{=stv_represent_money(sumaCargos, dbRecord)}} </div>   
                <div class="form-group col-sm-3"><label>{{="Abonos"}}</label> {{=stv_represent_money(sumaAbonos, dbRecord)}} </div>   
                <div class="form-group col-sm-3"><label>{{="Diferencia Cargos y Abonos"}}</label> {{=stv_represent_money((sumaAbonos - sumaCargos), dbRecord)}} </div>   
        
         </div>
    </div>
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}
 
{{block blockCustomJsAfter}}
{{end}}

