{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_web_b01.html')}}

{{block web_head}}
{{end}}

{{block body_options}}

{{  if globals().get('dbTree', None):}}

{{    for _dbTreeLevel1 in dbTree: }}
        <li class="special_link">
            <a href="#_"><i class="fa fa-database"></i> <span class="nav-label">{{=_dbTreeLevel1.data.tcuentas.nombrecorto}}</span><span class="fa arrow"></span></a>            
            <ul class="nav nav-second-level">
{{      for _dbTreeLevel2 in _dbTreeLevel1.get('subrows', []) : }}
                <li>
                {{if _dbTreeLevel2.data.taplicaciones.aplicacion_w2p:}}
                    <a class="stv_btnCustomerApp" href="#_" data-id="{{=_dbTreeLevel2.data.tcuenta_aplicaciones.id}}" data-a="{{=_dbTreeLevel2.data.taplicaciones.aplicacion_w2p}}">{{=_dbTreeLevel2.data.tcuenta_aplicaciones.nombrecorto}}</a>
                {{else:}}
                    <a class="stv_btnCustomerApp disabled" href="#_" data-id="{{=_dbTreeLevel2.data.tcuenta_aplicaciones.id}}" data-a="{{=_dbTreeLevel2.data.taplicaciones.aplicacion_w2p}}">{{=_dbTreeLevel2.data.tcuenta_aplicaciones.nombrecorto}}</a>
                {{pass}}
                </li>
{{      pass}}
            </ul>         
        </li>
{{    pass}}
{{  pass}}

{{end}}


{{block body_footer}}
{{end}}

{{block body_js}}
    <script>
        $(document).ready(function() {
            
            /* Para lo botones con las aplicaciones de los clientes, al presionar click... */
            $(".stv_btnCustomerApp").click(function(e) {
                /* ...abrir una nueva pestaña y presentar la aplicación del cliente */
                var _$obj = $(this);
                if (_$obj.data('a') == "None") {
                    stv_fwk_flashMessage({
                        type : 'warning',
                        title : 'Abriendo aplicación',
                        msg : 'Aplicación no referenciada en cuenta',
                        mode : 'swal'
                    });                	
                } else {
                    stv_fwk_appOptionClick(_$obj, "{{=request.application}}", "default", "index");
                }
                e.stopPropagation();
            });
        });
    </script>
{{end}}