{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.nombrecontacto}}</label> {{=rowContent_form.custom.widget.nombrecontacto}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.emails}}</label> {{=rowContent_form.custom.widget.emails}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.telefonos}}</label> {{=rowContent_form.custom.widget.telefonos}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.pais_id}}</label> {{=rowContent_form.custom.widget.pais_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.pais_estado_id}}</label> {{=rowContent_form.custom.widget.pais_estado_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.pais_estado_municipio_id}}</label> {{=rowContent_form.custom.widget.pais_estado_municipio_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ciudad}}</label> {{=rowContent_form.custom.widget.ciudad}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.colonia}}</label> {{=rowContent_form.custom.widget.colonia}} </div>
            <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.referencia}}</label> {{=rowContent_form.custom.widget.referencia}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.calle}}</label> {{=rowContent_form.custom.widget.calle}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.numexterior}}</label> {{=rowContent_form.custom.widget.numexterior}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.numinterior}}</label> {{=rowContent_form.custom.widget.numinterior}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.codigopostal}}</label> {{=rowContent_form.custom.widget.codigopostal}} </div>
        </div>
    </div>

    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

