{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cliente_codigo_contpaqi}}</label> {{=rowContent_form.custom.widget.cliente_codigo_contpaqi}} </div>
            {{ else: }}
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cliente_codigo_contpaqi}}</label> {{=rowContent_form.custom.widget.cliente_codigo_contpaqi}} </div>
            {{ pass }}
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.nombrecorto}}</label> {{=rowContent_form.custom.widget.nombrecorto}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipocliente}}</label> {{=rowContent_form.custom.widget.tipocliente}} </div>     
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.rfc}}</label> {{=rowContent_form.custom.widget.rfc}} </div>
            <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.razonsocial}}</label> {{=rowContent_form.custom.widget.razonsocial}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_grupo_id}}</label> {{=rowContent_form.custom.widget.empresa_grupo_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.receptorusocfdi_id}}</label> {{=rowContent_form.custom.widget.receptorusocfdi_id}} </div>
        </div>
    </div>

    {{  if globals().get('htmlid_credito', None):  }}
    <div id="{{=htmlid_credito}}">
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.credito_limite}}</label> {{=rowContent_form.custom.widget.credito_limite}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.credito_plazo}}</label> {{=rowContent_form.custom.widget.credito_plazo}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.facturacomplementos}}</label> {{=rowContent_form.custom.widget.facturacomplementos}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.credito_politica}}</label> {{=rowContent_form.custom.widget.credito_politica}} </div>
        </div>
    </div>
    {{  else: pass  }}      

    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

