{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}

<div>
    <div class="row">
        {{ if rowContent_form.record_id:}}
        <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/>{{=rowContent_form.custom.widget.id}}</div>
        <div class="form-group col-sm-7"><label>{{=rowContent_form.custom.label.group_id}}</label> {{=rowContent_form.custom.widget.group_id}}</div>
        {{ else: }}
        <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.group_id}}</label> {{=rowContent_form.custom.widget.group_id}}</div>
        {{ pass }}
        <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuenta_id}}</label> {{=rowContent_form.custom.widget.cuenta_id}}</div>
    </div>
</div>
{{if rowContent_form.custom.label.notes:}}
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label>{{=rowContent_form.custom.label.notes}}</label> {{=rowContent_form.custom.widget.notes}}
        </div>
    </div>
</div>
{{pass}}


    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

