{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}

<div>
    <div class="row">
        <div class="form-group col-sm-8">
            <div class="row">
                {{ if rowContent_form.record_id:}}
                    <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/>{{=rowContent_form.custom.widget.id}}</div>
                    <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.first_name}}</label> {{=rowContent_form.custom.widget.first_name}}</div>
                {{ else: }}
                    <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.first_name}}</label> {{=rowContent_form.custom.widget.first_name}}</div>
                {{ pass }}
                <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.last_name}}</label> {{=rowContent_form.custom.widget.last_name}}</div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.email}}</label> {{=rowContent_form.custom.widget.email}}</div>
                <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.address}}</label> {{=rowContent_form.custom.widget.address}}</div>      
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.phones}}</label> {{=rowContent_form.custom.widget.phones}}</div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.zonahoraria_id}}</label> {{=rowContent_form.custom.widget.zonahoraria_id}}</div>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.foto}}</label> {{=rowContent_form.custom.widget.foto}}</div>
        </div>
    </div>
</div>
{{if rowContent_form.custom.label.notes:}}
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label>{{=rowContent_form.custom.label.notes}}</label> {{=rowContent_form.custom.widget.notes}}
        </div>
    </div>
</div>
{{pass}}

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

