{{extend os.path.join(D_stvSiteCfg.s_dirSiteViews, 'stv_web_p01_apps.html')}}

{{block web_head}}
  <!-- CSS Unify -->
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/css/unify-globals.css')}}">
 
{{end}}

{{block stv_contenido}}

    {{include 'linea_breadcrumb.html'}}
    
    <div id="{{=D_tabinfo.s_idDivToUse}}">
    </div>
    

    <div class="panel-body g-pt-10 g-font-size-32--md">
        <div class="panel-group stv_movimientos" id="accordion">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed" aria-expanded="false">Entradas</a>
                    </h5>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" style="">
                    <div class="panel-body g-pt-10">
                        <button data-url="{{=URL(c='610entradas', f='movto_entrada_porcompra')}}" data-codigo="porcompra" type="button" class="btn btn-outline btn-primary">Por compra</button>                    
                        <button data-url="{{=URL(c='610entradas', f='movto_entrada_pordevolucion_venta')}}" data-codigo="pordevolucion_venta" type="button" class="btn btn-outline btn-primary">Por devolución de venta</button>                    
                        <button data-url="{{=URL(c='610entradas', f='movto_entrada_pordevolucion_interna')}}" data-codigo="pordevolucion_interna" type="button" class="btn btn-outline btn-primary">Por devolución interna</button>                    
                        <button data-url="{{=URL(c='610entradas', f='movto_entrada_portraspaso')}}" data-codigo="portraspaso" type="button" class="btn btn-outline btn-primary">Por traspaso</button>                    
                        <button data-url="{{=URL(c='610entradas', f='movto_entrada_otra')}}" data-codigo="otra" type="button" class="btn btn-outline btn-primary">Otra entrada</button>                    
                        <button data-url="{{=URL(c='610entradas', f='movto_entrada_inventarioinicial')}}" data-codigo="inventarioinicial" type="button" class="btn btn-outline btn-primary">Inventario inicial</button>                    
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">Salidas</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" style="">
                    <div class="panel-body g-pt-10">
                        <button data-url="{{=URL(c='620salidas', f='movto_salida_porventa')}}" data-codigo="porventa" type="button" class="btn btn-outline btn-success">Por Venta</button>                    
                        <button data-url="{{=URL(c='620salidas', f='movto_salida_pordevolucion_compra')}}" data-codigo="pordevolucion_compra" type="button" class="btn btn-outline btn-success">Devolución por compra</button>                    
                        <button data-url="{{=URL(c='620salidas', f='movto_salida_porconsumo')}}" data-codigo="porconsumo" type="button" class="btn btn-outline btn-success">Consumo interno</button>                    
                        <button data-url="{{=URL(c='620salidas', f='movto_salida_portraspaso')}}" data-codigo="portraspaso" type="button" class="btn btn-outline btn-success">Por Traspaso</button>                    
                        <button data-url="{{=URL(c='620salidas', f='movto_salida_otra')}}" data-codigo="otra" type="button" class="btn btn-outline btn-success">Otra</button>                    
                    </div>
                </div>
            </div>
            <div class="panel stv_panel_orange">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-url="{{=URL(c='630embarques', f='empresa_embarques')}}" data-codigo="embarques" href="#" class="collapsed stv_opcion" aria-expanded="false">Embarques</a>
                    </h4>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">Reportes</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" style="">
                    <div class="panel-body g-pt-10">
                        <button data-url="{{=URL(f='movto_reporte_inventarios')}}" data-codigo="inventario" type="button" class="btn btn-outline btn-info">Inventario</button>                    
                        <button data-url="{{=URL(f='movto_reporte_movimientos')}}" data-codigo="movimientos" type="button" class="btn btn-outline btn-info">Movimientos</button>                    
                        <button data-url="{{=URL(f='movto_reporte_traspasos')}}" data-codigo="traspasos" type="button" class="btn btn-outline btn-info">Traspasos</button>                    
                        <button data-url="{{=URL(f='movto_reporte_otros')}}" data-codigo="otros" type="button" class="btn btn-outline btn-info">Otros</button>                    
                    </div>
                </div>
            </div>
        </div>
    </div>

{{end}}


{{block body_footer}}
{{end}}

{{block body_js}}
  <script>
    $(document).on('ready', function () {
        $('#stv_contenido').data(
            'breadcrumb',
            {{=XML(simplejson.dumps(L_breadcrub))}}
            );
        
        var _s_almacen_id = $("#{{=dbFieldAlmacenes.name}}").val();
        stv_fwk_tabAdd(
			$('#{{=D_tabinfo.s_idDivToUse}}'), 
			"{{=D_tabinfo.s_tabName}}", 
			"{{=D_tabinfo.s_idHtml}}", 
			false, 
			false, 
			{
			    url_ifEmpty: "{{=D_tabinfo.s_url}}" + "/" + _s_almacen_id.toString()
			}
			);            
        
        $('#master_empresa_plaza_sucursal_almacen_id').on('change', function(e) {
            e.stopPropagation();
            var $selector = $(e.target);
            stv_fwk_ajax(
                ("{{=D_tabinfo.s_url}}" + "/" + $selector.val().toString() + "/buscartodo/"), 
                $("{{=D_tabinfo.s_idHtml}}"), 
                "{{=D_tabinfo.s_idHtml}}", 
                false, 
                {
                    x_data: {},
                    b_hideAllTabRows: true
                });
            });
        
      $('.stv_movimientos').find('button,.stv_opcion').on('click', function(e) {
        e.stopPropagation();
        var $btn = $(e.target);
        stv_fwk_ajax(
	        $btn.data('url'), 
	        null, 
	        "stv_contenido", 
	        "none", 
	        {
	            x_data: {codigo: $btn.data('codigo')}
	        });
        });
      
      // TODO Habilitar el poder modificar el almacen
      
      
    });
  </script>
{{end}}