<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Acullagsa | Almacenes</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="shortcut icon" href="{{=response.favicon_shortcut}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=response.favicon_apple_touch}}">



    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500%2C700%7CPlayfair+Display%7CRaleway%7CSpectral%7CRubik">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/bootstrap/bootstrap.min.css')}}">
    
    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/icon-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/icon-line/css/simple-line-icons.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/icon-etlinefont/style.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/icon-line-pro/style.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/icon-hs/style.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/dzsparallaxer/dzsparallaxer.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/dzsparallaxer/dzsscroller/scroller.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/dzsparallaxer/advancedscroller/plugin.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/animate.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/jquery-ui/themes/base/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/wait-animate.min.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/hs-megamenu/src/hs.megamenu.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/hamburgers/hamburgers.min.css')}}">

  <!-- Show / Copy Code -->
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/prism/themes/prism.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/custombox/custombox.min.css')}}">
  
  <!-- CSS Unify -->
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/css/unify-core.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/css/unify-components.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/css/unify-globals.css')}}">

  <!-- CSS Customization -->
    <link rel="stylesheet" href="{{=stv_generateUrlForFile(c='static', f='unify/css/custom.css')}}">
    
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/plugins/toastr/toastr.min.css')}}"/>

    <!-- > > > CSS Data Tables -->
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/plugins/dataTables/datatables.min.css')}}"/>
    
    <!-- Sweet Alert -->
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/plugins/sweetalert/sweetalert.css')}}"/>
    
    <!-- > > > CSS Customization -->
    <link rel="stylesheet" href="{{=stv_generateUrlForFile(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/css/stv_fwk_inspinia.css')}}"/>
    
    
    
</head>

<body>
  <main>



    <!-- Header -->
    <header id="js-header" class="u-header u-header--static">
      <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
        <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
          <div class="container">
            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-2 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Logo -->
            <div class="align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg">
                LOGO ACULLAGSA de 86px X 32px <br/>
              Hola {{=session.auth.user.first_name+" "+session.auth.user.last_name}}, estas en el Almacen {{="bla"}} de la sucursal {{="ble"}} en la plaza {{="A"}} de {{="Mazatlan"}}, {{="Sinaloa"}}.
            </div>
            <!-- End Logo -->

            <!-- Navigation -->
              <div id="navBar" class="collapse navbar-collapse align-items-center flex-sm-row g-pt-15 g-pt-0--lg">
                <ul class="navbar-nav ml-auto">
                  <!-- Home - Submenu -->
                  <li class="nav-item g-ml-10--lg">
                    <a class="nav-link text-uppercase g-color-primary--hover g-pl-5 g-pr-0 g-py-20" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item g-ml-10--lg">
                    <a class="nav-link text-uppercase g-color-primary--hover g-pl-5 g-pr-0 g-py-20" href="../index.html">Cambiar Almacén</a>
                  </li>
                  <li class="nav-item g-ml-10--lg">
                    <a class="nav-link text-uppercase g-color-primary--hover g-pl-5 g-pr-0 g-py-20" href="../index.html">Salir</a>
                  </li>
              </ul>
            </div>
            <!-- End Navigation -->

          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->
    
    <div id="stv_contenido">

              <section class="g-bg-primary g-color-white g-py-10">
                <div class="container">
                  <div class="d-sm-flex text-center">
                    <div class="align-self-center">
                      <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Navegación</h2>
                    </div>

                    <div class="align-self-center ml-auto">
                      <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                          <span class="u-link-v5 g-color-black" href="#">Movimiento</span>
                        </li>
                        <!-- 
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-white g-color-black--hover" href="#">Pages</a>
                          <i class="g-color-white g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-black">
                          <span>About Us</span>
                        </li>
                         -->
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
              
    
    <!-- Page Title -->
    <section class="auto-init height-is-based-on-content">
      <div class="container g-z-index-1 g-bg-gray-light-v4 g-pb-15">
        <h4 class="g-letter-spacing-1 g-my-15">Pendientes</h4>

        <div class="lead g-font-weight-100 g-line-height-1">
          <p class="mb-0">Existe la entrada por compra con remisión no. 23 que requiere ser asociada a una factura.</p>
        </div>
      </div>
    </section>
    <!-- End Page Title -->

    <section class="container-fluid g-px-0">
      <!-- Accordions -->
      <section class="container g-pt-20 g-pb-20">
        <div class="row">
          <div class="col-md-12 g-mb-20">
            <!-- Accordion v1 -->
            <section class="g-py-30">
              <div class="text-center">
                <h2 class="h4">Selecciona Movimiento
                </h2>
              </div>


                <div class="shortcode-html">
                  <div id="stv_menu_movimientos" role="tablist" aria-multiselectable="true">
                    <!-- Card -->
                    <div class="card g-mb-5">
                      <div id="stv_menu_movimientos-titulo-entradas" class="card-header" role="tab">
                        <h5 class="mb-0">
                          <a class="d-block u-link-v5 g-color-main g-color-primary--hover" href="#stv_menu_movimientos-opciones-entradas" data-toggle="collapse" data-parent="#stv_menu_movimientos" aria-expanded="true" aria-controls="stv_menu_movimientos-opciones-entradas">Entradas
                          </a>
                        </h5>
                      </div>
                      <div id="stv_menu_movimientos-opciones-entradas" class="collapse show g-mt-15 g-ml-15 g-mb-15" role="tabpanel" aria-labelledby="stv_menu_movimientos-titulo-entradas" data-parent="#stv_menu_movimientos">
                        <button type="button" class="btn btn-outline btn-default">Default</button>                      
                        <a data-url="{{=URL(f='movto_entrada_porcompra')}}" data-codigo="porcompra" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Por Compra</a>
                        <a data-url="{{=URL(f='movto_entrada_pordevolucion')}}" data-codigo="pordevolucion" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Por Devolución</a>
                        <a data-url="{{=URL(f='movto_entrada_portraspaso')}}" data-codigo="portraspaso" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Por Traspaso</a>
                        <a data-url="{{=URL(f='movto_entrada_otra')}}" data-codigo="otra" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Otra</a>
                      </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card g-mb-5">
                      <div id="stv_menu_movimientos-titulo-salidas" class="card-header" role="tab">
                        <h5 class="mb-0">
                          <a class="collapsed d-block u-link-v5 g-color-main g-color-primary--hover" href="#stv_menu_movimientos-opciones-salidas" data-toggle="collapse" data-parent="#stv_menu_movimientos" aria-expanded="false" aria-controls="stv_menu_movimientos-opciones-salidas">Salidas
                          </a>
                        </h5>
                      </div>
                      <div id="stv_menu_movimientos-opciones-salidas" class="collapse  g-mt-15 g-ml-15 g-mb-15" role="tabpanel" aria-labelledby="stv_menu_movimientos-titulo-salidas" data-parent="#stv_menu_movimientos">
                        <a data-url="{{=URL(f='movto_salida_porventa')}}" data-codigo="porventa" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Por Venta</a>
                        <a data-url="{{=URL(f='movto_salida_porperdida')}}" data-codigo="porperdida" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Por Pérdida</a>
                        <a data-url="{{=URL(f='movto_salida_portraspaso')}}" data-codigo="portraspaso" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Por Traspaso</a>
                        <a data-url="{{=URL(f='movto_salida_otra')}}" data-codigo="otra" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Otra</a>
                      </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card g-mb-5">
                      <div id="stv_menu_movimientos-titulo-reportes" class="card-header" role="tab">
                        <h5 class="mb-0">
                          <a class="collapsed d-block u-link-v5 g-color-main g-color-primary--hover" href="#stv_menu_movimientos-opciones-reportes" data-toggle="collapse" data-parent="#stv_menu_movimientos" aria-expanded="false" aria-controls="stv_menu_movimientos-opciones-reportes">Reportes
                          </a>
                        </h5>
                      </div>
                      <div id="stv_menu_movimientos-opciones-reportes" class="collapse  g-mt-15 g-ml-15 g-mb-15" role="tabpanel" aria-labelledby="stv_menu_movimientos-titulo-reportes" data-parent="#stv_menu_movimientos">
                        <a data-url="{{=URL(f='movto_reporte_inventarios')}}" data-codigo="inventario" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Inventario</a>
                        <a data-url="{{=URL(f='movto_reporte_movimientos')}}" data-codigo="movimientos" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Movimientos</a>
                        <a data-url="{{=URL(f='movto_reporte_traspasos')}}" data-codigo="traspasos" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Traspasos</a>
                        <a data-url="{{=URL(f='movto_reporte_otros')}}" data-codigo="otros" href="#" class="btn btn-lg u-btn-outline-primary u-btn-hover-v2-1 g-mr-10">Otros</a>
                      </div>
                    </div>
                    <!-- End Card -->
                  </div>
                </div>
             


            </section>
            <!-- End Accordion v1 -->
          </div>

        </div>
      </section>

      <!-- End Accordions -->
    </section>
    
    </div>
    <!-- Footer -->
    <div id="stv_contenido" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60" style="display:none">
      <div class="container">
        <div class="row">
          <!-- Footer Content -->
          <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
              <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
            </div>

            <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
          </div>
          <!-- End Footer Content -->

          <!-- Footer Content -->
          <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
              <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Latest Posts</h2>
            </div>

            <article>
              <h3 class="h6 g-mb-2">
            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Incredible template</a>
          </h3>
              <div class="small g-color-white-opacity-0_6">May 8, 2017</div>
            </article>

            <hr class="g-brd-white-opacity-0_1 g-my-10">

            <article>
              <h3 class="h6 g-mb-2">
            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">New features</a>
          </h3>
              <div class="small g-color-white-opacity-0_6">June 23, 2017</div>
            </article>

            <hr class="g-brd-white-opacity-0_1 g-my-10">

            <article>
              <h3 class="h6 g-mb-2">
            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">New terms and conditions</a>
          </h3>
              <div class="small g-color-white-opacity-0_6">September 15, 2017</div>
            </article>
          </div>
          <!-- End Footer Content -->

          <!-- Footer Content -->
          <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
              <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Useful Links</h2>
            </div>

            <nav class="text-uppercase1">
              <ul class="list-unstyled g-mt-minus-10 mb-0">
                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                  <h4 class="h6 g-pr-20 mb-0">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">About Us</a>
                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
              </h4>
                </li>
                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                  <h4 class="h6 g-pr-20 mb-0">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Portfolio</a>
                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
              </h4>
                </li>
                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                  <h4 class="h6 g-pr-20 mb-0">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Our Services</a>
                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
              </h4>
                </li>
                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                  <h4 class="h6 g-pr-20 mb-0">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Latest Jobs</a>
                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
              </h4>
                </li>
                <li class="g-pos-rel g-py-10">
                  <h4 class="h6 g-pr-20 mb-0">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Contact Us</a>
                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
              </h4>
                </li>
              </ul>
            </nav>
          </div>
          <!-- End Footer Content -->

          <!-- Footer Content -->
          <div class="col-lg-3 col-md-6">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
              <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Our Contacts</h2>
            </div>

            <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../assets/img/maps/map2.png);">
          <!-- Location -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-map-marker"></i>
              </span>
            </div>
            <p class="mb-0">795 Folsom Ave, Suite 600, <br> San Francisco, CA 94107 795</p>
          </div>
          <!-- End Location -->

          <!-- Phone -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-phone"></i>
              </span>
            </div>
            <p class="mb-0">(+123) 456 7890 <br> (+123) 456 7891</p>
          </div>
          <!-- End Phone -->

          <!-- Email and Website -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-globe"></i>
              </span>
            </div>
            <p class="mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@htmlstream.com">info@htmlstream.com</a>
              <br>
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">www.htmlstream.com</a>
            </p>
          </div>
          <!-- End Email and Website -->
        </address>
          </div>
          <!-- End Footer Content -->
        </div>
      </div>
    </div>
    <!-- End Footer -->

    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
              <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2019 &copy; Derechos reservados.</small>
              <ul class="u-list-inline">
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Términos de uso</a>
                </li>
                <li class="list-inline-item">
                  <span>|</span>
                </li>
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Licencia</a>
                </li>
                <li class="list-inline-item">
                  <span>|</span>
                </li>
                <li class="list-inline-item">
                  <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Soporte</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-4 align-self-center" style="display:none">
            <ul class="list-inline text-center text-md-right mb-0">
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Skype">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Pinterest">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-pinterest"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Dribbble">
                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Copyright Footer -->
    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>


  <!-- JS Global Compulsory -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/jquery-migrate/jquery-migrate.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/popper.js/popper.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/bootstrap/bootstrap.min.js')}}"></script>
  
  <!-- JS Implementing Plugins -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/hs-megamenu/src/hs.megamenu.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/dzsparallaxer/dzsparallaxer.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/dzsparallaxer/dzsscroller/scroller.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/dzsparallaxer/advancedscroller/plugin.js')}}"></script>

  <!-- jQuery UI Core -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/jquery-ui/jquery-ui.core.min.js')}}"></script>

  <!-- jQuery UI Helpers -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/jquery-ui/ui/widgets/menu.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/jquery-ui/ui/widgets/mouse.js')}}"></script>

  <!-- jQuery UI Widgets -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/jquery-ui/ui/widgets/autocomplete.js')}}"></script>
    
  <!-- JS Unify -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/hs.core.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.header.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/helpers/hs.hamburgers.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.header-side.js')}}"></script>

    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/helpers/hs.hover-blocks.js')}}"></script>
  
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.autocomplete-local-search.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/cookiejs/jquery.cookie.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/helpers/hs.shortcode-filter.js')}}"></script>
  
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.go-to.js')}}"></script>
    
  <!-- Show / Copy Code -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/clipboard/dist/clipboard.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/prism/prism.core.min.js')}}"></script>

    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/custombox/custombox.min.js')}}"></script>

    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.scrollbar.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.modal-window.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/helpers/hs.modal-markup.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.markup-copy.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.tabs.js')}}"></script>    

    <!-- Toastr -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/toastr/toastr.min.js')}}"></script>

    <!-- Data Tables -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/dataTables/datatables.min.js')}}"></script>

    <!-- Sweet Alert -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/plugins/sweetalert/sweetalert.min.js')}}"></script>
    

    <script src="{{=stv_generateUrlForFile(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='inspinia/js/stv_fwk_inspinia.js')}}"></script>

 <script>
    $(document).on('ready', function () {
      $.HSCore.helpers.HSModalMarkup.init('.js-modal-markup');
  
      $.HSCore.components.HSMarkupCopy.init('.js-copy');
    });
  </script>

  <!-- JS Customization -->
    <script src="{{=stv_generateUrlForFile(c='static', f='unify/js/custom.js')}}"></script>

  
  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      $('#accordion-13 a').on('click', function(e) {
        e.stopPropagation();
      });

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
      $.HSCore.components.HSHeaderSide.init($('#sideNav'));

      // initialization of autocomplet
      $.HSCore.components.HSLocalSearchAutocomplete.init('#u-sidebar-navigation__search-autocomplete');

      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });
      
      $('#stv_menu_movimientos .btn').on('click', function(e) {
        e.stopPropagation();
        var $btn = $(e.target);
        
        stv_fwk_ajax(
                $btn.data('url'), 
                null, 
                "stv_contenido", 
                "none", 
                {
                    x_data: {codigo: $btn.data('codigo')}
                });
        
      });
      
      // TODO Habilitar el poder modificar el almacen
      
      
    });
  </script>



</body>

</html>
