<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>Business | Unify - Responsive Website Template</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    
    <link rel="shortcut icon" href="{{=response.favicon_shortcut}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=response.favicon_apple_touch}}">
    
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/bootstrap/bootstrap.min.css')}}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/icon-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/icon-line/css/simple-line-icons.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/icon-hs/style.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/hamburgers/hamburgers.min.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/animate.css')}}">
    <link rel="stylesheet" href="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/slick-carousel/slick/slick.css')}}">

    <!-- CSS Template -->
    <link rel="stylesheet" href="{{=URL(c='static', f='unify/css/styles.op-business.css')}}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{=URL(c='static', f='unify/css/custom.css')}}">
  </head>

  <body>
    <main>
      <!-- Header v1 -->
      <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance"
              data-header-fix-moment="100">
        <div class="u-header__section g-theme-bg-blue-dark-v1-opacity-0_9 g-transition-0_3 g-py-25"
             data-header-fix-moment-exclude="g-py-25"
             data-header-fix-moment-classes="g-py-20">
          <nav class="navbar navbar-expand-lg py-0">
            <div class="container g-pos-rel">
              <!-- Logo -->
              <a href="#" class="js-go-to navbar-brand u-header__logo"
                 data-type="static">
                <img class="u-header__logo-img u-header__logo-img--main" src="assets/img/logo.png" alt="Image Description">
              </a>
              <!-- End Logo -->

              <!-- Navigation -->
              <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar" data-mobile-scroll-hide="true">
                <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-letter-spacing-2 g-font-size-11 g-pt-20 g-pt-0--lg ml-auto">
                  <li class="nav-item g-mr-10--lg g-mr-15--xl g-mb-7 g-mb-0--lg active">
                    <a href="#home" class="nav-link g-color-white p-0">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item g-mx-10--lg g-mx-15--xl g-mb-7 g-mb-0--lg">
                    <a href="#about" class="nav-link g-color-white p-0">About</a>
                  </li>
                  <li class="nav-item g-mx-10--lg g-mx-15--xl g-mb-7 g-mb-0--lg">
                    <a href="#services" class="nav-link g-color-white p-0">Services</a>
                  </li>
                  <li class="nav-item g-mx-10--lg g-mx-15--xl g-mb-7 g-mb-0--lg">
                    <a href="#processes" class="nav-link g-color-white p-0">Processes</a>
                  </li>
                  <li class="nav-item g-mx-10--lg g-mx-15--xl g-mb-7 g-mb-0--lg">
                    <a href="#projects" class="nav-link g-color-white p-0">Projects</a>
                  </li>
                  <li class="nav-item g-mx-10--lg g-mx-15--xl g-mb-7 g-mb-0--lg">
                    <a href="#howWeWork" class="nav-link g-color-white p-0">How we work</a>
                  </li>
                  <li class="nav-item g-mx-10--lg g-mx-15--xl g-mb-7 g-mb-0--lg">
                    <a href="#news" class="nav-link g-color-white p-0">News</a>
                  </li>
                  <li class="nav-item g-ml-10--lg g-ml-15--xl">
                    <a href="#contact" class="nav-link g-color-white p-0">Contact</a>
                  </li>
                </ul>
              </div>
              <!-- End Navigation -->

              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-10 g-right-0" type="button"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="navBar"
                      data-toggle="collapse"
                      data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header v1 -->

      <!-- Promo -->
      <section id="home" class="g-pos-rel">
        <div class="js-carousel g-overflow-hidden g-max-height-100vh"
             data-autoplay="true"
             data-infinite="true"
             data-fade="true"
             data-speed="5000">
          <div class="js-slide g-bg-img-hero g-height-100vh g-min-height-500--md" style="background-image: url(assets/img-temp/1600x1075/img1.jpg);"></div>

          <div class="js-slide g-bg-img-hero g-height-100vh g-min-height-500--md" style="background-image: url(assets/img-temp/1600x1075/img2.jpg);"></div>
        </div>

        <div class="g-absolute-centered w-100">
          <div class="container text-center g-width-780">
            <div class="info-v3-4 g-theme-bg-blue-dark-v1-opacity-0_9 g-pa-40 g-pa-60--md">
              <div class="g-pos-rel g-z-index-3">
                <h3 class="h3 text-uppercase g-letter-spacing-3 g-font-size-default g-color-white g-mb-10">We are Unify</h3>
                <h2 class="h2 text-uppercase g-color-white g-letter-spacing-5 g-font-weight-400 g-font-size-25 g-font-size-35--md g-mb-20">Business &amp; Corporation</h2>
                <p class="g-line-height-1_8 g-letter-spacing-3 g-color-white g-mb-20">Sed feugiat porttitor nunc, non dignissim
                  <br> ipsum vestibulum in. Donec in blandit dolor.</p>
                <a href="#" class="btn text-uppercase u-btn-outline-white rounded-0">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Promo -->

      <!-- Section Content -->
      <section id="about" class="container-fluid px-0">
        <div class="row no-gutters">
          <div class="g-hidden-md-down col-lg-4 g-bg-img-hero" style="background-image: url(assets/img-temp/1600x1920/img2.jpg);"></div>

          <div class="col-md-6 col-lg-4 g-flex-centered g-theme-bg-blue-dark-v1">
            <div class="text-center g-color-gray-light-v2 g-pa-30">
              <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-40">
                <h4 class="h6 g-font-weight-800 g-font-size-12 g-letter-spacing-2 g-color-primary g-mb-20">About us</h4>
                <h2 class="h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-font-size-40 g-color-white g-mb-minus-10">Help make
                  <br> money</h2>
              </div>

              <p class="g-color-gray-light-v2 mb-0">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio. Praesent egestas ac arcu ac convallis. Donec ut diam risus purus.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 g-theme-bg-blue-dark-v2">
            <div class="js-carousel g-pb-90"
                 data-infinite="true"
                 data-slides-show="true"
                 data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-30">
              <div class="js-slide">
                <img class="img-fluid w-100" src="assets/img-temp/450x300/img1.jpg" alt="Image description">

                <div class="g-pa-30">
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-20 g-color-white g-mb-10">Since 2008</h3>
                  <p class="g-color-gray-light-v2 g-mb-10">Etiam consectetur placerat gravida. Pellentesque ultricies mattis est, quis elementum neque pulvinar at.</p>
                  <p class="g-color-gray-light-v2 mb-0">Aenean odio ante, varius vel tempor sed Ut condimentum ex ac enim ullamcorper volutpat. Integer arcu nisl, finibus vitae sodales vitae, malesuada ultricies sapien.</p>
                </div>
              </div>

              <div class="js-slide">
                <img class="img-fluid w-100" src="assets/img-temp/450x300/img2.jpg" alt="Image description">

                <div class="g-pa-30">
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-20 g-color-white g-mb-10">Past 2012</h3>
                  <p class="g-color-gray-light-v2 g-mb-10">Etiam consectetur placerat gravida. Pellentesque ultricies mattis est, quis elementum neque pulvinar at.</p>
                  <p class="g-color-gray-light-v2 mb-0">Aenean odio ante, varius vel tempor sed Ut condimentum ex ac enim ullamcorper volutpat. Integer arcu nisl, finibus vitae sodales vitae, malesuada ultricies sapien.</p>
                </div>
              </div>

              <div class="js-slide">
                <img class="img-fluid w-100" src="assets/img-temp/450x300/img3.jpg" alt="Image description">

                <div class="g-pa-30">
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-20 g-color-white g-mb-10">Present 2017</h3>
                  <p class="g-color-gray-light-v2 g-mb-10">Etiam consectetur placerat gravida. Pellentesque ultricies mattis est, quis elementum neque pulvinar at.</p>
                  <p class="g-color-gray-light-v2 mb-0">Aenean odio ante, varius vel tempor sed Ut condimentum ex ac enim ullamcorper volutpat. Integer arcu nisl, finibus vitae sodales vitae, malesuada ultricies sapien.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Section Content -->

      <!-- Section Content -->
      <section id="services" class="g-py-80">
        <div class="container">
          <div class="text-uppercase text-center u-heading-v2-4--bottom g-brd-primary g-mb-80">
            <h4 class="h6 g-font-weight-800 g-font-size-12 g-letter-spacing-2 g-color-primary g-mb-20">Our services</h4>
            <h2 class="h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-font-size-40 g-mb-minus-10">What we do</h2>
          </div>

          <!-- Icon Blocks -->
          <div class="row no-gutters">
            <div class="col-md-6 col-lg-3 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-transition-0_2 g-transition--ease-in">
              <!-- Icon Blocks -->
              <div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">
                <span class="d-block g-color-primary g-font-size-40 g-mb-15">
                  <i class="icon-fire"></i>
                </span>
                <h3 class="h5 text-uppercase g-color-black g-mb-10">Analisys</h3>
                <p class="g-color-gray-dark-v4">Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>

                <div class="d-inline-block g-width-40 g-brd-bottom g-brd-2 g-brd-primary g-my-15"></div>

                <ul class="list-unstyled text-uppercase g-mb-0">
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Responsive Web Desgin</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">E-commerce</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">App &amp; Icon Design</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Logo &amp; Brand Design</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Mobile Development</li>
                  <li class="g-py-8">UI/UX Design</li>
                </ul>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-md-6 col-lg-3 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-ml-minus-1 g-transition-0_2 g-transition--ease-in">
              <!-- Icon Blocks -->
              <div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">
                <span class="d-block g-color-primary g-font-size-40 g-mb-15">
                  <i class="icon-energy"></i>
                </span>
                <h3 class="h5 text-uppercase g-color-black g-mb-10">Strategy</h3>
                <p class="g-color-gray-dark-v4">Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>

                <div class="d-inline-block g-width-40 g-brd-bottom g-brd-2 g-brd-primary g-my-15"></div>

                <ul class="list-unstyled text-uppercase g-mb-0">
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Analysis &amp; Consulting</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Email Marketing</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">App &amp; Icon Design</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Responsive Web Desgin</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Social Networking</li>
                  <li class="g-py-8">Documentation</li>
                </ul>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-md-6 col-lg-3 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-ml-minus-1 g-transition-0_2 g-transition--ease-in">
              <!-- Icon Blocks -->
              <div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">
                <span class="d-block g-color-primary g-font-size-40 g-mb-15">
                  <i class="icon-layers"></i>
                </span>
                <h3 class="h5 text-uppercase g-color-black g-mb-10">Social media</h3>
                <p class="g-color-gray-dark-v4">Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>

                <div class="d-inline-block g-width-40 g-brd-bottom g-brd-2 g-brd-primary g-my-15"></div>

                <ul class="list-unstyled text-uppercase g-mb-0">
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Display Advertising</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">App &amp; Icon Design</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Analysis &amp; Consulting</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Google AdSense</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Social Media</li>
                  <li class="g-py-8">Google/Bing Analysis</li>
                </ul>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-md-6 col-lg-3 g-parent g-brd-around g-brd-gray-light-v4 g-brd-bottom-primary--hover g-brd-bottom-2--hover g-mb-30 g-mb-0--lg g-ml-minus-1 g-transition-0_2 g-transition--ease-in">
              <!-- Icon Blocks -->
              <div class="text-center g-px-10 g-px-30--lg g-py-40 g-pt-25--parent-hover g-transition-0_2 g-transition--ease-in">
                <span class="d-block g-color-primary g-font-size-40 g-mb-15">
                  <i class="icon-social-youtube"></i>
                </span>
                <h3 class="h5 text-uppercase g-color-black g-mb-10">Marketing</h3>
                <p class="g-color-gray-dark-v4">Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>

                <div class="d-inline-block g-width-40 g-brd-bottom g-brd-2 g-brd-primary g-my-15"></div>

                <ul class="list-unstyled text-uppercase g-mb-0">
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Google AdSense</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Social Media</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Google/Bing Analysis</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Google AdSense</li>
                  <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Social Media</li>
                  <li class="g-py-8">Analysis &amp; Consulting</li>
                </ul>
              </div>
              <!-- End Icon Blocks -->
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </section>
      <!-- End Section Content -->

      <!-- Section Content -->
      <section id="processes" class="g-theme-bg-blue-dark-v1 g-py-80">
        <div class="container text-center g-width-780 g-color-gray-light-v2 g-mb-60">
          <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-40">
            <h4 class="h6 g-font-weight-800 g-font-size-12 g-letter-spacing-2 g-color-primary g-mb-20">Work process</h4>
            <h2 class="h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-font-size-40 g-color-white g-mb-minus-10">Step by step</h2>
          </div>

          <p class="g-color-gray-light-v2 mb-0">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio.</p>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-6 g-px-30 g-mb-40">
              <!-- Icon Blocks -->
              <div class="g-pos-rel g-parent g-theme-bg-blue-dark-v2 g-py-35 g-px-25 g-pl-70--sm">
                <div class="g-hidden-xs-down g-absolute-centered--y g-left-0">
                  <div class="g-pull-50x-left g-brd-around g-brd-5 g-brd-primary-dark-v3 g-rounded-50x g-overflow-hidden">
                    <span class="d-block g-pos-abs g-top-0 g-left-0 g-width-95 g-height-95 g-brd-around g-brd-5 g-brd-primary g-rounded-50x" style="background-image: url(assets/img-temp/80x80/img1.jpg);"></span>
                    <span class="u-icon-v3 u-icon-size--xl g-width-95 g-height-95 g-color-white g-bg-primary g-opacity-1 opacity-0--parent-hover g-transition-0_1 g-transition--ease-in">
                      <i class="icon-fire"></i>
                    </span>
                  </div>
                </div>

                <h3 class="h5 text-uppercase g-font-size-16 g-color-gray-light-v2 g-mb-10">Step 1. Analisys</h3>
                <p class="g-color-gray-light-v2 mb-0">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-6 g-px-30 g-mb-40">
              <!-- Icon Blocks -->
              <div class="g-pos-rel g-parent g-theme-bg-blue-dark-v2 g-py-35 g-px-25 g-pl-70--sm">
                <div class="g-hidden-xs-down g-absolute-centered--y g-left-0">
                  <div class="g-pull-50x-left g-brd-around g-brd-5 g-brd-primary-dark-v3 g-rounded-50x g-overflow-hidden">
                    <span class="d-block g-pos-abs g-top-0 g-left-0 g-width-95 g-height-95 g-brd-around g-brd-5 g-brd-primary g-rounded-50x" style="background-image: url(assets/img-temp/80x80/img2.jpg);"></span>
                    <span class="u-icon-v3 u-icon-size--xl g-width-95 g-height-95 g-color-white g-bg-primary g-opacity-1 opacity-0--parent-hover g-transition-0_1 g-transition--ease-in">
                      <i class="icon-energy"></i>
                    </span>
                  </div>
                </div>

                <h3 class="h5 text-uppercase g-font-size-16 g-color-gray-light-v2 g-mb-10">Step 2. Creative concept</h3>
                <p class="g-color-gray-light-v2 mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>
          </div>
          <!-- End Icon Blocks -->

          <!-- Icon Blocks -->
          <div class="row g-mb-50">
            <div class="col-lg-6 g-px-30 g-mb-40">
              <!-- Icon Blocks -->
              <div class="g-pos-rel g-parent g-theme-bg-blue-dark-v2 g-py-35 g-px-25 g-pl-70--sm">
                <div class="g-hidden-xs-down g-absolute-centered--y g-left-0">
                  <div class="g-pull-50x-left g-brd-around g-brd-5 g-brd-primary-dark-v3 g-rounded-50x g-overflow-hidden">
                    <span class="d-block g-pos-abs g-top-0 g-left-0 g-width-95 g-height-95 g-brd-around g-brd-5 g-brd-primary g-rounded-50x" style="background-image: url(assets/img-temp/80x80/img3.jpg);"></span>
                    <span class="u-icon-v3 u-icon-size--xl g-width-95 g-height-95 g-color-white g-bg-primary g-opacity-1 opacity-0--parent-hover g-transition-0_1 g-transition--ease-in">
                      <i class="icon-rocket"></i>
                    </span>
                  </div>
                </div>

                <h3 class="h5 text-uppercase g-font-size-16 g-color-gray-light-v2 g-mb-10">Step 3. Production</h3>
                <p class="g-color-gray-light-v2 mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-6 g-px-30 g-mb-40">
              <!-- Icon Blocks -->
              <div class="g-pos-rel g-parent g-theme-bg-blue-dark-v2 g-py-35 g-px-25 g-pl-70--sm">
                <div class="g-hidden-xs-down g-absolute-centered--y g-left-0">
                  <div class="g-pull-50x-left g-brd-around g-brd-5 g-brd-primary-dark-v3 g-rounded-50x g-overflow-hidden">
                    <span class="d-block g-pos-abs g-top-0 g-left-0 g-width-95 g-height-95 g-brd-around g-brd-5 g-brd-primary g-rounded-50x" style="background-image: url(assets/img-temp/80x80/img4.jpg);"></span>
                    <span class="u-icon-v3 u-icon-size--xl g-width-95 g-height-95 g-color-white g-bg-primary g-opacity-1 opacity-0--parent-hover g-transition-0_1 g-transition--ease-in">
                      <i class="icon-layers"></i>
                    </span>
                  </div>
                </div>

                <h3 class="h5 text-uppercase g-font-size-16 g-color-gray-light-v2 g-mb-10">Step 4. Happy client</h3>
                <p class="g-color-gray-light-v2 mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>
          </div>
          <!-- End Icon Blocks -->

          <div class="text-center">
            <p class="g-color-gray-light-v2 g-mb-35">Sed eget aliquet nisl. Proin laoreet accumsan nisl non vestibulum. Donec molestie, lorem nec sollicitudin elementum
              <br> tristique senectus et netus et malesuada fames ac turpis egestas.</p>

            <a class="btn btn-md text-uppercase u-btn-primary rounded-0 g-px-15" href="#">Learn more</a>
          </div>
        </div>
      </section>
      <!-- End Section Content -->

      <!-- Section Content -->
      <section id="projects" class="g-pt-115 g-pb-80">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-xl-4 g-mb-40 g-mb-0--lg">
              <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-40">
                <h4 class="h6 g-font-weight-800 g-font-size-12 g-letter-spacing-2 g-color-primary g-mb-20">Our projects</h4>
                <h2 class="h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-font-size-40 g-mb-minus-10">We are the<br> best</h2>
              </div>

              <p class="g-mb-10">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio.</p>
              <p class="mb-0">In rutrum tellus vitae blandit lacinia. Phasellus eget sapien odio. Phasellus eget sapien odio. Vivamus at risus quis leo tincidunt scelerisque non et erat.</p>
            </div>

            <div class="col-lg-7 col-xl-8">
              <div class="js-carousel"
                   data-infinite="true"
                   data-speed="5000"
                   data-rows="2"
                   data-slides-show="2"
                   data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-100x g-right-0 g-width-35 g-height-35 g-font-size-default g-color-gray g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-mb-5 g-transition-0_2 g-transition--ease-in"
                   data-arrow-left-classes="fa fa-angle-left g-mr-50"
                   data-arrow-right-classes="fa fa-angle-right g-mr-5"
                   data-responsive='[{
                     "breakpoint": 1200,
                     "settings": {
                       "slidesToShow": 2
                     }
                   }, {
                     "breakpoint": 768,
                     "settings": {
                       "slidesToShow": 1
                     }
                   }]'>
                <div class="js-slide g-pa-5">
                  <div class="g-parent g-pos-rel g-overflow-hidden">
                    <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img9.jpg" alt="Image description">

                    <div class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in">
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0">The moon ltd</h3>
                      <p class="g-font-size-12 g-color-gray-light-v4 mb-0">Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum fringilla velit.</p>
                    </div>
                  </div>
                </div>
                <div class="js-slide g-pa-5">
                  <div class="g-parent g-pos-rel g-overflow-hidden">
                    <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img10.jpg" alt="Image description">
                    <div class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in">
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0">Support &amp; development</h3>
                      <p class="g-font-size-12 g-color-gray-light-v4 mb-0">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in nulla non arcu at lectus.</p>
                    </div>
                  </div>
                </div>

                <div class="js-slide g-pa-5">
                  <div class="g-parent g-pos-rel g-overflow-hidden">
                    <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img11.jpg" alt="Image description">
                    <div class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in">
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0">Boston global</h3>
                      <p class="g-font-size-12 g-color-gray-light-v4 mb-0">In rutrum tellus vitae blandit lacinia. Phasellus eget sapien odio. Phasellus eget sapien odio.</p>
                    </div>
                  </div>
                </div>

                <div class="js-slide g-pa-5">
                  <div class="g-parent g-pos-rel g-overflow-hidden">
                    <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img12.jpg" alt="Image description">
                    <div class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in">
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0">Marketing group</h3>
                      <p class="g-font-size-12 g-color-gray-light-v4 mb-0">Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor.</p>
                    </div>
                  </div>
                </div>

                <div class="js-slide g-pa-5">
                  <div class="g-parent g-pos-rel g-overflow-hidden">
                    <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img9.jpg" alt="Image description">

                    <div class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in">
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0">The moon ltd</h3>
                      <p class="g-font-size-12 g-color-gray-light-v4 mb-0">Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum fringilla velit.</p>
                    </div>
                  </div>
                </div>

                <div class="js-slide g-pa-5">
                  <div class="g-parent g-pos-rel g-overflow-hidden">
                    <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img10.jpg" alt="Image description">

                    <div class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in">
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0">Support &amp; development</h3>
                      <p class="g-font-size-12 g-color-gray-light-v4 mb-0">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in nulla non arcu at lectus.</p>
                    </div>
                  </div>
                </div>

                <div class="js-slide g-pa-5">
                  <div class="g-parent g-pos-rel g-overflow-hidden">
                    <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img11.jpg" alt="Image description">

                    <div class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in">
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0">Boston global</h3>
                      <p class="g-font-size-12 g-color-gray-light-v4 mb-0">In rutrum tellus vitae blandit lacinia. Phasellus eget sapien odio. Phasellus eget sapien odio.</p>
                    </div>
                  </div>
                </div>

                <div class="js-slide g-pa-5">
                  <div class="g-parent g-pos-rel g-overflow-hidden">
                    <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img12.jpg" alt="Image description">

                    <div class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in">
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0">Marketing group</h3>
                      <p class="g-font-size-12 g-color-gray-light-v4 mb-0">Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Section Content -->

      <!-- Info Blocks -->
      <section id="howWeWork" class="row no-gutters">
        <!-- Info Image -->
        <div class="g-hidden-md-down col-lg-4 col-xl-5 g-min-height-360 g-bg-img-hero" data-bg-img-src="assets/img-temp/1600x1920/img1.jpg"></div>
        <!-- End Info Image -->

        <div class="col-xl-7 col-lg-8 g-theme-bg-blue-dark-v1 g-pt-100 g-pb-80 g-px-15 g-px-40--md">
          <header class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-40">
            <h4 class="h6 g-font-weight-800 g-font-size-12 g-letter-spacing-2 g-color-primary g-mb-20">How we work</h4>
            <h2 class="h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-font-size-40 g-color-white g-mb-minus-10">Do all the best</h2>
          </header>

          <p class="g-color-white-opacity-0_7 g-mb-65">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio.</p>

          <div class="row align-items-stretch">
            <div class="col-sm-6 g-mb-30">
              <!-- Article -->
              <article class="h-100 g-flex-middle g-brd-left g-brd-3 g-brd-primary g-brd-white--hover g-theme-bg-blue-dark-v2 g-transition-0_3 g-pa-20">
                <div class="g-flex-middle-item">
                  <h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">Agency Search</h4>
                  <p class="g-color-white-opacity-0_7 mb-0">Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum ipsum vestibulum velit.</p>
                </div>
              </article>
              <!-- End Article -->
            </div>

            <div class="col-sm-6 g-mb-30">
              <!-- Article -->
              <article class="h-100 g-flex-middle g-brd-left g-brd-3 g-brd-primary g-brd-white--hover g-theme-bg-blue-dark-v2 g-transition-0_3 g-pa-20">
                <div class="g-flex-middle-item">
                  <h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">Management &amp; Marketing</h4>
                  <p class="g-color-white-opacity-0_7 mb-0">Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum ipsum vestibulum velit.</p>
                </div>
              </article>
              <!-- End Article -->
            </div>
          </div>

          <div class="row align-items-stretch">
            <div class="col-sm-6 g-mb-30">
              <!-- Article -->
              <article class="h-100 g-flex-middle g-brd-left g-brd-3 g-brd-primary g-brd-white--hover g-theme-bg-blue-dark-v2 g-transition-0_3 g-pa-20">
                <div class="g-flex-middle-item">
                  <h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">Coaching &amp; Planning</h4>
                  <p class="g-color-white-opacity-0_7 mb-0">Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum ipsum vestibulum velit.</p>
                </div>
              </article>
              <!-- End Article -->
            </div>

            <div class="col-sm-6 g-mb-30">
              <!-- Article -->
              <article class="h-100 g-flex-middle g-brd-left g-brd-3 g-brd-primary g-brd-white--hover g-theme-bg-blue-dark-v2 g-transition-0_3 g-pa-20">
                <div class="g-flex-middle-item">
                  <h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">Consulation Services</h4>
                  <p class="g-color-white-opacity-0_7 mb-0">Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum ipsum vestibulum velit.</p>
                </div>
              </article>
              <!-- End Article -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Info Blocks -->

      <!-- Pricing Table -->
      <section class="g-pt-100 g-pb-80">
        <div class="container">
          <div class="container text-center g-width-780 g-mb-60">
            <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-45">
              <h4 class="h6 g-font-weight-800 g-font-size-12 g-letter-spacing-2 g-color-primary g-mb-20">Our offers</h4>
              <h2 class="h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-font-size-40 g-mb-minus-10">Best offers for you</h2>
            </div>

            <p class="mb-0">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio.</p>
          </div>

          <div class="row no-gutters">
            <div class="col-md-4 g-mb-30 g-mb-0--md">
              <!-- Article -->
              <article class="text-center g-brd-around g-color-gray g-brd-gray-light-v5 g-pa-10">
                <div class="g-bg-gray-light-v5 g-pa-30">
                  <!-- Article Title -->
                  <h4 class="text-uppercase h5 g-color-gray-dark-v3 g-font-weight-500 g-mb-10">Starter</h4>
                  <!-- End Article Title -->
                  <em class="g-font-style-normal">ed feugiat porttitor nunc, non</em>

                  <hr class="g-brd-gray-light-v3 g-my-10">

                  <div class="g-color-primary g-my-20">
                    <strong class="d-block g-font-size-30 g-line-height-1_2">$25.00</strong>
                    per month
                  </div>

                  <hr class="g-brd-gray-light-v3 g-mt-10 mb-0">

                  <ul class="list-unstyled g-mb-25">
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12">Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper justo..</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>10%</b> In hac habitasse platea</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>10gb</b> Praesent egestas ac arcu</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>25</b> emails Sed eget aliquet nisl</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>No</b> Proin laoreet accumsan nisl non</li>
                  </ul>
                  <a class="btn btn-md text-uppercase u-btn-primary rounded-0 g-px-15" href="#">Order Now</a>
                </div>
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-4 g-mb-30 g-mb-0--md">
              <!-- Article -->
              <article class="text-center g-brd-around g-color-gray g-brd-gray-light-v5 g-pa-10 g-mt-minus-20">
                <div class="g-bg-gray-light-v5 g-py-50 g-px-30">
                  <!-- Article Title -->
                  <h4 class="text-uppercase h5 g-color-gray-dark-v3 g-font-weight-500 g-mb-10">Advanced</h4>
                  <!-- End Article Title -->
                  <em class="g-font-style-normal">ed feugiat porttitor nunc, non</em>

                  <hr class="g-brd-gray-light-v3 g-my-10">

                  <div class="g-color-primary g-my-20">
                    <strong class="d-block g-font-size-30 g-line-height-1_2">$50.00</strong>
                    per month
                  </div>

                  <hr class="g-brd-gray-light-v3 g-mt-10 mb-0">

                  <ul class="list-unstyled g-mb-25">
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in...</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>20%</b> In hac habitasse platea</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>20gb</b> Praesent egestas ac arcu</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>50</b> emails Sed eget aliquet nisl</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>YES</b> Proin laoreet accumsan nisl non</li>
                  </ul>
                  <a class="btn btn-md text-uppercase u-btn-primary rounded-0 g-px-15" href="#">Order Now</a>
                </div>
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-4">
              <!-- Article -->
              <article class="text-center g-brd-around g-color-gray g-brd-gray-light-v5 g-pa-10">
                <div class="g-bg-gray-light-v5 g-pa-30">
                  <!-- Article Title -->
                  <h4 class="text-uppercase h5 g-color-gray-dark-v3 g-font-weight-500 g-mb-10">Professional</h4>
                  <!-- End Article Title -->
                  <em class="g-font-style-normal">ed feugiat porttitor nunc, non</em>

                  <hr class="g-brd-gray-light-v3 g-my-10">

                  <div class="g-color-primary g-my-20">
                    <strong class="d-block g-font-size-30 g-line-height-1_2">$75.00</strong>
                    per month
                  </div>

                  <hr class="g-brd-gray-light-v3 g-mt-10 mb-0">

                  <ul class="list-unstyled g-mb-25">
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12">Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper justo..</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>30%</b> In hac habitasse platea</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>40gb</b> Praesent egestas ac arcu</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>100</b> emails Sed eget aliquet nisl</li>
                    <li class="g-brd-bottom g-brd-gray-light-v3 g-py-12"><b>YES</b> Proin laoreet accumsan nisl non</li>
                  </ul>

                  <a class="btn btn-md text-uppercase u-btn-primary rounded-0 g-px-15" href="#">Order Now</a>
                </div>
              </article>
              <!-- End Article -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Pricing Table -->

      <!-- Section Content -->
      <section id="news" class="g-theme-bg-blue-dark-v1 g-pt-80">
        <div class="container text-center g-width-780 g-color-gray-light-v2 g-mb-60">
          <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-40">
            <h4 class="h6 g-font-weight-800 g-font-size-12 g-letter-spacing-2 g-color-primary g-mb-20">From our blog</h4>
            <h2 class="h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-font-size-40 g-color-gray-light-v2 g-mb-minus-10">Latest news</h2>
          </div>

          <p class="g-color-gray-light-v2 mb-0">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio.</p>
        </div>

        <div class="container-fluid px-0">
          <div class="js-carousel g-line-height-0"
               data-infinite="true"
               data-autoplay="true"
               data-speed="5000"
               data-rows="2"
               data-slides-show="4"
               data-responsive='[{
                 "breakpoint": 1200,
                 "settings": {
                   "slidesToShow": 4
                 }
               }, {
                 "breakpoint": 992,
                 "settings": {
                   "slidesToShow": 3
                 }
               }, {
                 "breakpoint": 768,
                 "settings": {
                   "slidesToShow": 2
                 }
               }, {
                 "breakpoint": 576,
                 "settings": {
                   "slidesToShow": 1
                 }
               }]'>
            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img1.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img2.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img3.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img4.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img5.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img6.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img7.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img8.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img1.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img2.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img3.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img4.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img5.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img6.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img7.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="js-slide">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in" src="assets/img-temp/400x269/img8.jpg" alt="Image description">

                <div class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-brd-around g-brd-10 g-brd-white g-pa-30 g-transition-0_3 g-transition--ease-in">
                  <div class="g-flex-middle-item--bottom">
                    <header class="g-mb-5">
                      <h4 class="g-font-weight-700 g-font-size-12 g-color-gray-light-v4 g-mb-5">May 20, 2017</h4>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-18 mb-0">
                        <a class="g-color-white" href="#">Master class of the week</a>
                      </h3>
                    </header>

                    <p class="g-color-gray-light-v4 mb-0">By Kate Lee for Business</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Section Content -->

      <!-- Clients -->
      <section class="text-center g-py-80">
        <div class="container">
          <div class="container g-width-780 g-mb-60">
            <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-45">
              <h4 class="h6 g-font-weight-800 g-font-size-12 g-letter-spacing-2 g-color-primary g-mb-20">Our clients</h4>
              <h2 class="h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-font-size-40 g-mb-minus-10">Who work with us</h2>
            </div>
          </div>

          <div class="js-carousel g-mb-60"
               data-autoplay="true"
               data-infinite="true"
               data-slides-show="6"
               data-responsive='[{
                 "breakpoint": 1200,
                 "settings": {
                   "slidesToShow": 5
                 }
               }, {
                 "breakpoint": 992,
                 "settings": {
                   "slidesToShow": 4
                 }
               }, {
                 "breakpoint": 768,
                 "settings": {
                   "slidesToShow": 3
                 }
               }, {
                 "breakpoint": 576,
                 "settings": {
                   "slidesToShow": 2
                 }
               }]'>
            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="assets/img-temp/200x150/img1.png" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="assets/img-temp/200x150/img2.png" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="assets/img-temp/200x150/img3.png" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="assets/img-temp/200x150/img4.png" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="assets/img-temp/200x150/img5.png" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="assets/img-temp/200x150/img6.png" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="assets/img-temp/200x150/img7.png" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="assets/img-temp/200x150/img8.png" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="assets/img-temp/200x150/img9.png" alt="Image Description">
            </div>
          </div>

          <p class="g-mb-35">Sed eget aliquet nisl. Proin laoreet accumsan nisl non vestibulum. Donec molestie, lorem nec sollicitudin elementum
            <br> tristique senectus et netus et malesuada fames ac turpis egestas.</p>

          <a class="btn btn-md text-uppercase u-btn-primary rounded-0 g-px-15" href="#">Projects</a>
        </div>
      </section>
      <!-- End Clients -->

      <footer>
        <div id="contact" class="text-center g-color-gray-light-v2 g-theme-bg-blue-dark-v1 g-py-80">
          <div class="container g-width-780 g-mb-60">
            <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-45">
              <h4 class="h6 g-font-weight-800 g-font-size-12 g-letter-spacing-2 g-color-primary g-mb-20">Contact</h4>
              <h2 class="h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-font-size-40 g-color-gray-light-v2 g-mb-minus-10">Our contacts</h2>
            </div>

            <p class="g-color-gray-light-v2 mb-0">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio.</p>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-3 g-px-15 g-py-30 g-py-0--md">
                <i class="icon-globe d-inline-block g-font-size-50 g-color-primary g-mb-20"></i>
                <h3 class="text-uppercase g-font-size-default g-color-white-opacity-0_5 g-letter-spacing-1 g-mb-5">Address</h3>
                <strong class="g-font-size-default g-color-white">61 Oxford str., London, 3DG</strong>
              </div>

              <div class="col-sm-6 col-md-3 g-brd-top g-brd-top-none g-brd-left--md g-brd-primary g-px-15 g-py-30 g-py-0--md">
                <i class="icon-call-in d-inline-block g-font-size-50 g-color-primary g-mb-20"></i>
                <h3 class="text-uppercase g-font-size-default g-color-white-opacity-0_5 g-letter-spacing-1 g-mb-5">Phone number</h3>
                <strong class="g-font-size-default g-color-white">1-800-643-4500</strong>
              </div>

              <div class="col-sm-6 col-md-3 g-brd-top g-brd-top-none g-brd-left--md g-brd-primary g-px-15 g-py-30 g-py-0--md">
                <i class="icon-envelope d-inline-block g-font-size-50 g-color-primary g-mb-20"></i>
                <h3 class="text-uppercase g-font-size-default g-color-white-opacity-0_5 g-letter-spacing-1 g-mb-5">Email</h3>
                <a class="g-font-size-default g-color-white" href="mailto:info@unify.com"><strong>mail@htmlstream.com</strong></a>
              </div>

              <div class="col-sm-6 col-md-3 g-brd-top g-brd-top-none g-brd-left--md g-brd-primary g-px-15 g-py-30 g-py-0--md">
                <i class="icon-earphones-alt d-inline-block g-font-size-50 g-color-primary g-mb-20"></i>
                <h3 class="text-uppercase g-font-size-default g-color-white-opacity-0_5 g-letter-spacing-1 g-mb-5">Toll free</h3>
                <strong class="g-font-size-default g-color-white">@unify</strong>
              </div>
            </div>
          </div>
        </div>

        <!-- Icon Blocks -->
        <ul class="row no-gutters list-inline g-mb-0">
          <li class="col list-inline-item g-mr-0">
            <a class="d-block g-theme-bg-blue-dark-v3 g-color-gray-dark-v5 g-bg-primary--hover g-color-white--hover g-font-size-default text-center g-pa-15" href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="col list-inline-item g-mr-0">
            <a class="d-block g-theme-bg-blue-dark-v2 g-color-gray-dark-v5 g-bg-primary--hover g-color-white--hover g-font-size-default text-center g-pa-15" href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li class="col list-inline-item g-mr-0">
            <a class="d-block g-theme-bg-blue-dark-v3 g-color-gray-dark-v5 g-bg-primary--hover g-color-white--hover g-font-size-default text-center g-pa-15" href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="col list-inline-item g-mr-0">
            <a class="d-block g-theme-bg-blue-dark-v2 g-color-gray-dark-v5 g-bg-primary--hover g-color-white--hover g-font-size-default text-center g-pa-15" href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="col list-inline-item">
            <a class="d-block g-theme-bg-blue-dark-v3 g-color-gray-dark-v5 g-bg-primary--hover g-color-white--hover g-font-size-default text-center g-pa-15" href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
        <!-- End Icon Blocks -->

        <!-- Google (Map) [custom] -->
        <div class="g-pos-rel g-height-500">
          <div id="gMap10" class="js-g-map g-pos-abs w-100 h-100"
               data-type="custom"
               data-lat="40.674"
               data-lng="-73.946"
               data-zoom="12"
               data-title="Business"
               data-styles='[
                   ["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]],
                   ["", "labels", [{"visibility":"on"}]],
                   ["water", "", [{"color":"#1d1a37"}]]
                 ]'
               data-pin="true"
               data-pin-icon="assets/img/pin.png"></div>
        </div>
        <!-- End Google (Map) [custom] -->

        <div class="text-center g-color-gray-dark-v3 g-pa-30">
          <div class="g-width-600 mx-auto">
            <h4 class="g-font-size-17 g-font-weight-400 g-letter-spacing-1 g-mb-15">subscribe
              <span class="text-uppercase">on our offers</span></h4>

            <form>
              <div class="form-group g-pos-rel g-mb-15">
                <input class="form-control h-100 g-placeholder-gray-light-v1 g-font-size-default g-color-gray-dark-v3 g-placeholder-inherit g-brd-gray-light-v4 g-brd-gray-light-v4--focus rounded-0 g-pa-12 g-pr-40" type="text" placeholder="Enter Your Email">

                <div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-gray-light-v1">
                  <i class="icon-envelope"></i></div>
              </div>
            </form>

            <p class="g-font-size-12 mb-0">&copy; 2019 All right reserved. Unify developed by
              <a href="#" class="g-color-primary">Htmlstream</a></p>
          </div>
        </div>
      </footer>

      <a class="js-go-to u-go-to-v1" href="#"
         data-type="fixed"
         data-position='{
           "bottom": 15,
           "right": 15
         }'
         data-offset-top="400"
         data-compensation="#js-header"
         data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
      </a>
    </main>

    <!-- JS Global Compulsory -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/jquery-migrate/jquery-migrate.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/popper.js/popper.min.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/bootstrap/bootstrap.min.js')}}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/appear.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/slick-carousel/slick/slick.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/vendor/gmaps/gmaps.min.js')}}"></script>

    <!-- JS Unify -->
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/hs.core.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.header.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/helpers/hs.hamburgers.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.scroll-nav.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.carousel.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/gmap/hs.map.js')}}"></script>
    <script src="{{=URL(a=D_stvFwkCfg.s_nameFwkApp, c='static', f='unify/assets/js/components/hs.go-to.js')}}"></script>

    <!-- JS Customization -->
    <script src="{{=URL(c='static', f='unify/js/custom.js')}}"></script>

    <!-- JS Plugins Init. -->
    <script>
      // initialization of google map
      function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
      }

      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');
      });

      $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700
        });
      });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>
  </body>
</html>
