{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div class="col-sm-6 b-r">
        {{ if rowContent_form.record_id:}}
        {{ # No hay id para detalles }}
        {{ pass }}
        <div class="form-group"><label>{{=rowContent_form.custom.label.permiso_id}}</label> {{=rowContent_form.custom.widget.permiso_id}} </div>
        <div class="form-group"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
        <div class="form-group"><label>{{=rowContent_form.custom.label.icono}}</label> {{=rowContent_form.custom.widget.icono}} </div>
    </div>
    {{if rowContent_form.custom.widget.notas:}}
        <div class="col-sm-6">
            <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> <br/>{{=rowContent_form.custom.widget.notas}} </div>
        </div>
    {{pass}}


    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

