{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
        <div class="col-sm-6 b-r">
            {{ if rowContent_form.record_id:}}
                <div class="form-group"><label>{{=rowContent_form.custom.label.id}}</label> {{=rowContent_form.custom.widget.id}} </div>
            {{ pass }}
            <div class="form-group"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
            <div class="col-sm-6 b-r col-left">
            <div class="form-group"><label>{{=rowContent_form.custom.label.aplicacion_w2p}}</label> {{=rowContent_form.custom.widget.aplicacion_w2p}} </div>
            </div>
            <div class="col-sm-6 col-right">
            <div class="form-group"><label>{{=rowContent_form.custom.label.controlador_w2p}}</label> {{=rowContent_form.custom.widget.controlador_w2p}} </div>
            </div>
            <div class="form-group"><label>{{=rowContent_form.custom.label.funcion_w2p}}</label> {{=rowContent_form.custom.widget.funcion_w2p}} </div>
            <div class="form-group"><label>{{=rowContent_form.custom.label.actualizarpermisos}}</label> {{=rowContent_form.custom.widget.actualizarpermisos}} </div>
        </div>
        <div class="col-sm-6">
            {{if rowContent_form.custom.label.temp_permisosiniciales:}}
                <div class="form-group"><label>{{=rowContent_form.custom.label.temp_permisosiniciales}}</label> {{=rowContent_form.custom.widget.temp_permisosiniciales}} </div>
            {{pass}}
        </div>
        {{if rowContent_form.custom.label.notas:}}
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
                </div>
            </div>
        {{pass}}


    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

