
{{if oForm:}}
    {{=oForm.custom.begin}}
    <div class="stv_rowContent_form">
        <div class="">
            <div>
                <h3 class="stv_title">{{=sTitle}} </h3>
                <p class="stv_msg">{{=sMsg}}</p>
            </div>
            {{if sMsgError:}}
                <div class="error_wrapper error">{{=sMsgError}}</div>
            {{pass}}
        </div>
        <div class="">
            <div class="col-sm-6 b-r">
                <div class="form-group"><label>{{=oForm.custom.label.titulo}}</label> {{=oForm.custom.widget.titulo}} </div>
                <div class="form-group"><label>{{=oForm.custom.label.fecha}}</label> {{=oForm.custom.widget.fecha}} </div>
                <div class="form-group"><label>{{=oForm.custom.label.fecha2}}</label> {{=oForm.custom.widget.fecha2}} </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input class="block btn full-width btn-warning m-b btnCancel" type="button" value="Cancelar">
                </div>
                <div class="form-group">
                    <input class="block btn full-width btn-primary m-b btnPrint" type="button" value="Imprimir">
                </div>        
            </div>
        </div>
    </div>
    {{=oForm.custom.end}}
{{pass}}
<script type="text/javascript">
    $("#{{=sIdForm}}").find(".btnCancel").click(function() {
        $(this).closest(".stv_modal").modal("hide");
    });
    $("#{{=sIdForm}}").find(".btnPrint").click(function() {
        window.open("{{=sUrlPrint}}", 'Reporte');
    });
</script>
