{{b_customRowContent_form = False}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
        </div>
    </div>
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

<script type="text/javascript">
</script>

{{end}}
