{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.propietario}}</label> {{=rowContent_form.custom.widget.propietario}} </div> 
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_proveedor_id}}</label> {{=rowContent_form.custom.widget.empresa_proveedor_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_tipotransporte_id}}</label> {{=rowContent_form.custom.widget.empresa_tipotransporte_id}} </div> 
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.identificador}}</label> {{=rowContent_form.custom.widget.identificador}} </div>
        </div>
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.marca_id}}</label> {{=rowContent_form.custom.widget.marca_id}} </div> 
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.modelo}}</label> {{=rowContent_form.custom.widget.modelo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.placas}}</label> {{=rowContent_form.custom.widget.placas}} </div> 
        </div>
    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
    
            
            var _$form = $('#{{=rowContent_form.formname}}');
                          
            var _$triggerPropietario = $(_$form.find("select[name=propietario]"));
        
            var _$triggerProveedor = $(_$form.find("select[name=empresa_proveedor_id]"));
                        
           _$triggerPropietario.on('change', function() {
        	   
               var _x_propietario = _$triggerPropietario.val();      
               
               var _x_propietarioPropio = '{{=TEMPRESA_TRANSPORTES.PROPIETARIO.PROPIO}}';
               
               if(_x_propietario == _x_propietarioPropio){
                                      
            	    _$triggerProveedor.val(null);
                    _$triggerProveedor.prop("disabled",true).trigger("chosen:updated");

               }
               else
               {
                   _$triggerProveedor.prop("disabled",false).trigger("chosen:updated")

               }
            });
           _$triggerPropietario.change();
            
    {{  pass }}
   
    });
</script>
{{end}}