{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
  
        <div class="row">
            <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label> {{=rowContent_form.custom.widget.id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuentacontable}}</label> {{=rowContent_form.custom.widget.cuentacontable}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuentacontable_provisionescomisiones}}</label> {{=rowContent_form.custom.widget.cuentacontable_provisionescomisiones}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuentacontable_comisiones}}</label> {{=rowContent_form.custom.widget.cuentacontable_comisiones}} </div>
	  		<div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cuentacontable_complementaria}}</label> {{=rowContent_form.custom.widget.cuentacontable_complementaria}} </div>
		</div>
   
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {	
	
	{{  if rowContent_form and not(rowContent_form.readonly): }}
			var _$form = $('#{{=rowContent_form.formname}}');
		 	      
	        var _$triggerMonedaEmpresa = $(_$form.find("input[name=moneda_id_empresa]"));
	        var _$triggerClienteComplemento = $(_$form.find("input[name=cuentacontable_complementaria]"));
	        var _$triggerMonedaCuenta = $(_$form.find("input[name=moneda_id_cuentabancaria]"));
	        
	       _$triggerMonedaCuenta.on('change', function() {
// 	            var _x_moneda_id = $(this).val().toString();
	     		var _x_cuenta_moneda_id = _$triggerMonedaCuenta.val().toString()
	            var _x_empresa_moneda_id = _$triggerMonedaEmpresa.val().toString();            
	           
	            if (_x_cuenta_moneda_id == _x_empresa_moneda_id)
	            {
	            	 _$triggerClienteComplemento.prop('disabled', true);
				     _$triggerClienteComplemento.val('');
	            }
	            else
	            {
	            	_$triggerClienteComplemento.prop('disabled', false);
	            }
	        });
	       _$triggerMonedaCuenta.change();
	        
	{{	pass }}

	});
</script>
{{end}}

