{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.codigo}}</label> {{=rowContent_form.custom.widget.codigo}} </div>
            {{ else: }}
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.codigo}}</label> {{=rowContent_form.custom.widget.codigo}} </div>
            {{ pass }}
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipo}}</label> {{=rowContent_form.custom.widget.tipo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tiposeguimiento}}</label> {{=rowContent_form.custom.widget.tiposeguimiento}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.marca_id}}</label> {{=rowContent_form.custom.widget.marca_id}} </div>            
        </div>
        <div class="row">
            <div class="form-group col-sm-9"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.unidad_id}}</label> {{=rowContent_form.custom.widget.unidad_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.prodserv_id}}</label> {{=rowContent_form.custom.widget.prodserv_id}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.cvematerialpeligroso_id}}</label> {{=rowContent_form.custom.widget.cvematerialpeligroso_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.categoria_id}}</label> {{=rowContent_form.custom.widget.categoria_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.preciotipocalculo}}</label> {{=rowContent_form.custom.widget.preciotipocalculo}} </div>
            <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.empresa_proveedor_id}}</label> {{=rowContent_form.custom.widget.empresa_proveedor_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.preciofijo}}</label> {{=rowContent_form.custom.widget.preciofijo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.porcentajeutilidad}}</label> {{=rowContent_form.custom.widget.porcentajeutilidad}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.porcentajemaxdesc}}</label> {{=rowContent_form.custom.widget.porcentajemaxdesc}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.empresa_productoajuste_id}}</label> {{=rowContent_form.custom.widget.empresa_productoajuste_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_prodserv_casco1a1_id}}</label> {{=rowContent_form.custom.widget.empresa_prodserv_casco1a1_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.excedente_preciomaximo}}</label> {{=rowContent_form.custom.widget.excedente_preciomaximo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.excedente_preciopropuesto}}</label> {{=rowContent_form.custom.widget.excedente_preciopropuesto}} </div>
        </div>
    </div>
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            
            var _$form = $('#{{=rowContent_form.formname}}');
            
            //TODO: Darle una checada a este código
                          
            var _$triggerTipoProdServ = $(_$form.find("select[name=tipo]"));
        
            var _$triggerCategoria = $(_$form.find("select[name=categoria_id]"));
                        
           _$triggerTipoProdServ.on('change', function() {
               var _x_tipoProdServ = _$triggerTipoProdServ.val().toString();	   
               
               // Contante para los Tipo de Producto
               var _x_tipoProducto = "{{=TEMPRESA_PRODSERV.E_TIPO.PRODUCTO}}";

                              
               if(_x_tipoProdServ == _x_tipoProducto){
                    _$triggerCategoria.prop('disabled', false);             
               }
               else
               {
                    _$triggerCategoria.val('');
                    _$triggerCategoria.prop('disabled', true);
               }
               _$triggerCategoria.trigger("chosen:updated");
            });
           _$triggerTipoProdServ.change();
           
           {{# Se habilita o desabilita el casco1a1 dependiendo de un cambio en categoria }}
           var _$campoCasco1a1 = $(_$form.find("select[name=empresa_prodserv_casco1a1_id]"));
           var _$campoExcedentePrecio = $(_$form.find("input[name=excedente_preciomaximo]"));
           var _$campoExcedenteUtilidad = $(_$form.find("input[name=excedente_preciopropuesto]"));
           _$triggerCategoria.on('change', function() {
               var _x_esCasco1a1 = _$triggerCategoria.find(":selected").attr("field_uso_cascos1a1");
               if(_x_esCasco1a1){
                   _$campoCasco1a1.val('');
                   _$campoCasco1a1.prop('disabled', true);
                   _$campoExcedentePrecio.prop('disabled', false);
                   _$campoExcedenteUtilidad.prop('disabled', false);
               }
               else
               {
                   _$campoCasco1a1.prop('disabled', false);
                   _$campoExcedentePrecio.val('');
                   _$campoExcedentePrecio.prop('disabled', true);
                   _$campoExcedenteUtilidad.val('');
                   _$campoExcedenteUtilidad.prop('disabled', true);
               }
               _$campoCasco1a1.trigger("chosen:updated");
               _$campoExcedentePrecio.trigger("chosen:updated");
               _$campoExcedenteUtilidad.trigger("chosen:updated");
           });
           _$triggerCategoria.change();
           
           
           
           //Se crea las variables y función para deshabilitar el input de porcentaje
           var _$triggerPorcentaje = $(_$form.find("input[name=porcentajeutilidad]"));
           var _$triggerPorcMaxDesc = $(_$form.find("input[name=porcentajemaxdesc]"));

           var _$triggerPreciofijo = $(_$form.find("input[name=preciofijo]"));

           var _$triggerTipoCalculo = $(_$form.find("select[name=preciotipocalculo]"));
           
           var _$triggerProveedor = $(_$form.find("select[name=empresa_proveedor_id]"));
           
           _$triggerTipoCalculo.on('change', function() {
               var _x_tipoCalculo = _$triggerTipoCalculo.val();      
                              
               if((_x_tipoCalculo == "{{=TEMPRESA_PRODSERV.E_TIPOCALCULO.PRECIO_COTIZADO}}"))
               {
                    _$triggerPorcentaje.prop('disabled', false);   
                    _$triggerPorcMaxDesc.prop('disabled', true);
                    _$triggerProveedor.val(null);
                    _$triggerProveedor.prop("disabled",true).trigger("chosen:updated");
                    // _$triggerPorcentaje.val('');
                    _$triggerPorcMaxDesc.val('');

                    _$triggerPreciofijo.prop('disabled', true);
               }
               else if( (_x_tipoCalculo == "{{=TEMPRESA_PRODSERV.E_TIPOCALCULO.PRECIO_OFICIAL}}"))
               {
                    _$triggerProveedor.prop("disabled",false).trigger("chosen:updated");
  
                    _$triggerPorcentaje.val('');
                    _$triggerPorcentaje.prop('disabled', true);
                    _$triggerPreciofijo.prop('disabled', true);
                    _$triggerPorcMaxDesc.prop('disabled', false);
               }
               else if( (_x_tipoCalculo == "{{=TEMPRESA_PRODSERV.E_TIPOCALCULO.PRECIO_FIJO}}"))
               {
                    _$triggerPorcentaje.prop('disabled', false);
                    _$triggerPreciofijo.prop('disabled', false);
                    _$triggerPorcMaxDesc.prop('disabled', false);
                    
                    _$triggerProveedor.prop("disabled",true).trigger("chosen:updated");
               }
               else
               {
                   _$triggerPorcentaje.val('');
                   _$triggerPorcentaje.prop('disabled', true);
                   _$triggerPorcentaje.val('');
                   _$triggerPreciofijo.prop('disabled', true);                
                   _$triggerProveedor.prop("disabled",true).trigger("chosen:updated");
               }
            });
           _$triggerTipoCalculo.change();           

            
    {{  pass }}
   
    });
</script>

{{end}}
