{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.cuenta}}</label> {{=rowContent_form.custom.widget.cuenta}} </div>
            {{ else: }}
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta}}</label> {{=rowContent_form.custom.widget.cuenta}} </div>
            {{ pass }}
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}} </div>    
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.empresa_bancocontpaqi_id}}</label> {{=rowContent_form.custom.widget.empresa_bancocontpaqi_id}} </div>    
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.codigo_contpaqi}}</label> {{=rowContent_form.custom.widget.codigo_contpaqi}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.sucursal}}</label> {{=rowContent_form.custom.widget.sucursal}} </div>    
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechaalta}}</label> {{=rowContent_form.custom.widget.fechaalta}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fechabaja}}</label> {{=rowContent_form.custom.widget.fechabaja}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipocuenta}}</label> {{=rowContent_form.custom.widget.tipocuenta}} </div>    
<!--             <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.banco_id}}</label> {{=rowContent_form.custom.widget.banco_id}} </div>    
 -->        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.firmante1}}</label> {{=rowContent_form.custom.widget.firmante1}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.firmante2}}</label> {{=rowContent_form.custom.widget.firmante2}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.firmante3}}</label> {{=rowContent_form.custom.widget.firmante3}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.tipocomision}}</label> {{=rowContent_form.custom.widget.tipocomision}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.comisionfija}}</label> {{=rowContent_form.custom.widget.comisionfija}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.comisionporcentajecredito}}</label> {{=rowContent_form.custom.widget.comisionporcentajecredito}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.comisionporcentajedebito}}</label> {{=rowContent_form.custom.widget.comisionporcentajedebito}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.comisionporcentajepromocion}}</label> {{=rowContent_form.custom.widget.comisionporcentajepromocion}} </div>
        </div>
    </div>
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}

<script type="text/javascript">
$(document).ready(function() {	
	
{{  if rowContent_form and not(rowContent_form.readonly): }}
		var _$form = $('#{{=rowContent_form.formname}}');
	 	var _$triggerInput = _$form.find("#{{=rowContent_form.custom.widget.tipocomision.components[0]['_id']}}");
	 	
	 	var _$input_comisionfija = _$form.find("#{{=rowContent_form.custom.widget.comisionfija.components[1]['_id']}}");
	 	var _$input_comisionporcentajecredito = _$form.find("#{{=rowContent_form.custom.widget.comisionporcentajecredito.components[0]['_id']}}");
	 	var _$input_comisionporcentajedebito = _$form.find("#{{=rowContent_form.custom.widget.comisionporcentajedebito.components[0]['_id']}}");
	 	var _$input_comisionporcentajepromocion = _$form.find("#{{=rowContent_form.custom.widget.comisionporcentajepromocion.components[0]['_id']}}");
		
	 	_$triggerInput.on('change', function() {
	        var _x_data = $(this).val();
	        if (_x_data == "0")
	        	{
		    		_$input_comisionfija.prop('disabled', true);
		    		_$input_comisionporcentajecredito.prop('disabled', true);
		    		_$input_comisionporcentajedebito.prop('disabled', true);
		    		_$input_comisionporcentajepromocion.prop('disabled', true);
	        	}
	        else if (_x_data == "1")
		    	{
		    		_$input_comisionfija.prop('disabled', false);
		    		_$input_comisionporcentajecredito.prop('disabled', true);
		    		_$input_comisionporcentajedebito.prop('disabled', true);
		    		_$input_comisionporcentajepromocion.prop('disabled', true);
		    	}
	        else if (_x_data == "2")
	        	{
		    		_$input_comisionfija.prop('disabled', true);
		    		_$input_comisionporcentajecredito.prop('disabled', false);
		    		_$input_comisionporcentajedebito.prop('disabled', false);
		    		_$input_comisionporcentajepromocion.prop('disabled', false);
	        	}
	        else
	        	{
		    		_$input_comisionfija.prop('disabled', true);
		    		_$input_comisionporcentajecredito.prop('disabled', true);
		    		_$input_comisionporcentajedebito.prop('disabled', true);
		    		_$input_comisionporcentajepromocion.prop('disabled', true);
	        	}
		});
	 	_$triggerInput.change();
	 	
        
	 	
{{	pass }}

});
</script>

{{end}}
