{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form and dbRows_edit:  }}

        {{=rowContent_form.custom.begin}}
        <div>
{{          for _dbRow in dbRows_edit: }}
                <div class="row">
{{                  _D_attr = Storage(
                        multiple = _dbRow.tempresa_prodserv_especificaciones.id,
                        )
}}
                    <div class="form-group col-sm-12"><label>{{=_dbRow.tempresa_prodcategoria_especificaciones.especificacion}}</label><br/> {{=stv_custom_widget_dynamicinput(_dbRow.tempresa_prodcategoria_especificaciones, _dbRow.tempresa_prodserv_especificaciones, rowContent_form, _D_attr)}} </div>
                </div>
{{          pass  }}
        </div>    
        {{=rowContent_form.custom.end}}
    
{{  else:  }}
        <div>Nada para editar</div>
{{      pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}
 
{{block blockCustomJsAfter}}
<script type="text/javascript">

</script>
{{end}}

