{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
  
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.id}}</label> {{=rowContent_form.custom.widget.id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.moneda_id}}</label> {{=rowContent_form.custom.widget.moneda_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta_cliente}}</label> {{=rowContent_form.custom.widget.cuenta_cliente}} </div>
        </div>
		<div class="row">
	  		<div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta_cliente_complemento}}</label> {{=rowContent_form.custom.widget.cuenta_cliente_complemento}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta_anticipo}}</label> {{=rowContent_form.custom.widget.cuenta_anticipo}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuenta_anticipo_complemento}}</label> {{=rowContent_form.custom.widget.cuenta_anticipo_complemento}} </div>
		</div>
   
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {	
	
	{{  if rowContent_form and not(rowContent_form.readonly): }}
			var _$form = $('#{{=rowContent_form.formname}}');
		 	      
	        var _$form5 = $("#app_empresas_120empresas_empresas_form");
	        var _$triggerMonedaEmpresa = $(_$form5.find("input[name=moneda_id]"));
	          
	        var _$form1 = $("#app_empresas_120empresas_empresa_plaza_sucursal_clientesextranjeros_empresa_plaza_sucursales");
	        var _$triggerClienteComplemento = $(_$form1.find("input[name=cuenta_cliente_complemento]"));
	        var _$triggerAnticipoComplemento = $(_$form1.find("input[name=cuenta_anticipo_complemento]"));    
	        var _$triggerMonedaCliente = $(_$form1.find("[name=moneda_id]"));
	    
		
	       _$triggerMonedaCliente.on('change', function() {
	            var _x_moneda_id = $(this).val().toString();
	     		
	            if (_$triggerMonedaEmpresa.data('value'))
	            {
	                var _x_empresa_moneda_id = _$triggerMonedaEmpresa.data('value').toString();
	            }
	            else
	            {
	                var _x_empresa_moneda_id = _$triggerMonedaEmpresa.val().toString();            
	            }
	            if (_x_moneda_id == _x_empresa_moneda_id)
	            {
	            	 _$triggerClienteComplemento.prop('disabled', true);
			         _$triggerAnticipoComplemento.prop('disabled', true);
			         
			         _$triggerAnticipoComplemento.val('');
				     _$triggerClienteComplemento.val('');
	            }
	            else
	            {
	            	_$triggerClienteComplemento.prop('disabled', false);
			        _$triggerAnticipoComplemento.prop('disabled', false);

	            }
	        
	        });
	       _$triggerMonedaCliente.change();
	        
	{{	pass }}

	});
</script>
{{end}}

