{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.impuesto_id}}</label> {{=rowContent_form.custom.widget.impuesto_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tipofactor}}</label> {{=rowContent_form.custom.widget.tipofactor}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.nombre}}</label> {{=rowContent_form.custom.widget.nombre}} </div>
        </div>
    </div>
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
