{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.empresa_bancocontpaqi_id}}</label> {{=rowContent_form.custom.widget.empresa_bancocontpaqi_id}} </div>
            {{ else: }}
                <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.empresa_bancocontpaqi_id}}</label> {{=rowContent_form.custom.widget.empresa_bancocontpaqi_id}} </div>
            {{ pass }}
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}} </div>
            
        </div>        
        <div class="row">
            <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.numerocuenta}}</label><br/> {{=rowContent_form.custom.widget.numerocuenta}} </div>
            <div class="form-group col-sm-5"><label>{{=rowContent_form.custom.label.clabe}}</label><br/> {{=rowContent_form.custom.widget.clabe}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.numerotarjeta}}</label><br/> {{=rowContent_form.custom.widget.numerotarjeta}} </div>
        </div>
        <div class="row">
        </div>
        
    </div>
    
    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}
