{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-8"><label>{{=rowContent_form.custom.label.razonsocial}}</label> {{=rowContent_form.custom.widget.razonsocial}} </div>
            {{ else: }}
                <div class="form-group col-sm-9"><label>{{=rowContent_form.custom.label.razonsocial}}</label> {{=rowContent_form.custom.widget.razonsocial}} </div>
            {{ pass }}
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.nombrecorto}}</label> {{=rowContent_form.custom.widget.nombrecorto}} </div>    
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.rfc}}</label> {{=rowContent_form.custom.widget.rfc}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.regimenfiscal_id}}</label> {{=rowContent_form.custom.widget.regimenfiscal_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}} </div>
        </div>
    </div>

    <div id="{{=htmlid_domiciliofiscal}}">
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pais_id}}</label> {{=rowContent_form.custom.widget.pais_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pais_estado_id}}</label> {{=rowContent_form.custom.widget.pais_estado_id}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.pais_estado_municipio_id}}</label> {{=rowContent_form.custom.widget.pais_estado_municipio_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.ciudad}}</label> {{=rowContent_form.custom.widget.ciudad}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.colonia}}</label> {{=rowContent_form.custom.widget.colonia}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.calle}}</label> {{=rowContent_form.custom.widget.calle}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.numexterior}}</label> {{=rowContent_form.custom.widget.numexterior}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.numinterior}}</label> {{=rowContent_form.custom.widget.numinterior}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.codigopostal}}</label> {{=rowContent_form.custom.widget.codigopostal}} </div>
        </div>
    </div>

    <div id="{{=htmlid_representantelegal}}">
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.apellidopaterno_rl}}</label> {{=rowContent_form.custom.widget.apellidopaterno_rl}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.apellidomaterno_rl}}</label> {{=rowContent_form.custom.widget.apellidomaterno_rl}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.nombre_rl}}</label> {{=rowContent_form.custom.widget.nombre_rl}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.rfc_rl}}</label> {{=rowContent_form.custom.widget.rfc_rl}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.curp_rl}}</label> {{=rowContent_form.custom.widget.curp_rl}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.ife_rl}}</label> {{=rowContent_form.custom.widget.ife_rl}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.estudios_rl}}</label> {{=rowContent_form.custom.widget.estudios_rl}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.institucioneducativa_rl}}</label> {{=rowContent_form.custom.widget.institucioneducativa_rl}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cedulaprofesional_rl}}</label> {{=rowContent_form.custom.widget.cedulaprofesional_rl}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.actaconstitutiva_rl}}</label> {{=rowContent_form.custom.widget.actaconstitutiva_rl}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.podernotarial_rl}}</label> {{=rowContent_form.custom.widget.podernotarial_rl}} </div>
        </div>
    </div>

    <div id="{{=htmlid_configfacturacion}}">
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.claveciec}}</label> {{=rowContent_form.custom.widget.claveciec}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.imagen}}</label> {{=rowContent_form.custom.widget.imagen}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.imagenpin}}</label> {{=rowContent_form.custom.widget.imagenpin}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.rfc_publico}}</label> {{=rowContent_form.custom.widget.rfc_publico}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.rfc_publico_extranjeros}}</label> {{=rowContent_form.custom.widget.rfc_publico_extranjeros}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fecha_inicial}}</label> {{=rowContent_form.custom.widget.fecha_inicial}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.mostrarcfditotalcero}}</label> {{=rowContent_form.custom.widget.mostrarcfditotalcero}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.maximosobrantefaltante}}</label> {{=rowContent_form.custom.widget.maximosobrantefaltante}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.tipocontabilizacioncancelados}}</label> {{=rowContent_form.custom.widget.tipocontabilizacioncancelados}} </div>
        </div>
    </div>

    {{if rowContent_form.custom.label.notas:}}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group"><label>{{=rowContent_form.custom.label.notas}}</label> {{=rowContent_form.custom.widget.notas}} </div>
            </div>
        </div>
    {{pass}}
    
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

