{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
  
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
            {{ else: }}
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>
            {{ pass }}
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.empresa_esquemaimptras_id}}</label> {{=rowContent_form.custom.widget.empresa_esquemaimptras_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.tasaocuota}}</label> {{=rowContent_form.custom.widget.tasaocuota}} </div>
        </div>
		<div class="row">
	  		<div class="form-group col-sm-12"><label>{{=rowContent_form.custom.label.descripcion}}</label> {{=rowContent_form.custom.widget.descripcion}} </div>
		</div>
   
    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">

</script>
{{end}}

