{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>    
            {{ else: }}
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.ejercicio}}</label> {{=rowContent_form.custom.widget.ejercicio}} </div>    
            {{ pass }}
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}} </div>    
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuentacontable}}</label> {{=rowContent_form.custom.widget.cuentacontable}} </div>    
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.cuentacontable_complemento}}</label> {{=rowContent_form.custom.widget.cuentacontable_complemento}} </div>    
        </div>
    </div>

    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {  
    
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            var _$form = $('#{{=rowContent_form.formname}}');
                  
            var _$triggerMonedaEmpresa = $(_$form.find("input[name=moneda_id_empresa]"));

            var _$triggerComplemento = $(_$form.find("input[name=cuentacontable_complemento]"));
            var _$triggerMoneda = $(_$form.find("[name=monedacontpaqi_id]"));
        
           _$triggerMoneda.on('change', function() {
                var _x_moneda_id = stv_fwk_formGetFieldValue(null, $(this));
                
                var _x_empresa_moneda_id = _$triggerMonedaEmpresa.val().toString();            
               
                if (_x_moneda_id) {
                    _x_moneda_id = _x_moneda_id.toString();
                } else { }
                
                if (_x_moneda_id == _x_empresa_moneda_id)
                {
                     _$triggerComplemento.prop('disabled', true);
                     
                     _$triggerComplemento.val('');
                }
                else
                {
                    _$triggerComplemento.prop('disabled', false);
                }
            });
           _$triggerMoneda.change();
            
    {{  pass }}

    });
</script>
{{end}}
