{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form: }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
                <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.fecha}}</label> {{=rowContent_form.custom.widget.fecha}} </div>    
            {{ else: }}
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.fecha}}</label> {{=rowContent_form.custom.widget.fecha}} </div>    
            {{ pass }}
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.concepto}}</label> {{=rowContent_form.custom.widget.concepto}} </div>    
                <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.formapago_id}}</label> {{=rowContent_form.custom.widget.formapago_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_plaza_sucursal_cajachica_id}}</label> {{=rowContent_form.custom.widget.empresa_plaza_sucursal_cajachica_id}} </div>    
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_cuentabancaria_id}}</label> {{=rowContent_form.custom.widget.empresa_cuentabancaria_id}} </div>
            <div class="form-group col-sm-2"><label>{{=rowContent_form.custom.label.monedacontpaqi_id}}</label> {{=rowContent_form.custom.widget.monedacontpaqi_id}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.importe}}</label> {{=rowContent_form.custom.widget.importe}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_empleado_id}}</label> {{=rowContent_form.custom.widget.empresa_empleado_id}} </div>
            <div class="form-group col-sm-6"><label>{{=rowContent_form.custom.label.empresa_empleado_cuenta_id}}</label> {{=rowContent_form.custom.widget.empresa_empleado_cuenta_id}} </div>            
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.referencia}}</label> {{=rowContent_form.custom.widget.referencia}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.claverastero}}</label> {{=rowContent_form.custom.widget.claverastero}} </div>
            <div class="form-group col-sm-4"><label>{{=rowContent_form.custom.label.cheque}}</label> {{=rowContent_form.custom.widget.cheque}} </div>
        </div>
    </div>

    {{=rowContent_form.custom.end}}
    
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
<script type="text/javascript">
$(document).ready(function() {        
    {{  if rowContent_form and not(rowContent_form.readonly): }}
            var _$form = $('#{{=rowContent_form.formname}}');
            
            var _$triggerFormaPago = $(_$form.find("select[name=formapago_id]"));
            var _$triggerCheque = $(_$form.find("input[name=cheque]"));
            var _$triggerCuentaBancaria = $(_$form.find("select[name=empresa_cuentabancaria_id]"));
            var _$triggerReferencia = $(_$form.find("input[name=referencia]"));
            var _$triggerClaveRastreo = $(_$form.find("input[name=claverastero]"));
            var _$triggerEmpleadoCuenta = $(_$form.find("select[name=empresa_empleado_cuenta_id]"));
            var _$triggerCajaChica = $(_$form.find("select[name=empresa_plaza_sucursal_cajachica_id]"));
            var _$triggerMoneda = $(_$form.find("select[name=monedacontpaqi_id]"));
            
           _$triggerFormaPago.on('change', function() {
                var _x_formaPago = _$triggerFormaPago.val();
                
                // Contantes para las formas de pago
                var _x_formaPago_efectivo = {{=TFORMASPAGO.EFECTIVO}}
                var _x_formaPago_tarjetaDebito = {{=TFORMASPAGO.TDD}}
                var _x_formaPago_tarjetaCredito = {{=TFORMASPAGO.TDC}}
                var _x_formaPago_cheque = {{=TFORMASPAGO.CHEQUE}}
                var _x_formaPago_transferencia = {{=TFORMASPAGO.TRANSFERENCIA}}
                
                if (_x_formaPago == _x_formaPago_efectivo)
                {
                	
                    _$triggerCajaChica.prop('disabled', false).trigger("chosen:updated");
                    
                    _$triggerCheque.val('');
                    _$triggerCheque.prop('disabled', true);
                    
                    _$triggerCuentaBancaria.val(null);
                    _$triggerCuentaBancaria.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerReferencia.val('');
                    _$triggerReferencia.prop('disabled', true);
                    
                    _$triggerClaveRastreo.val('');
                    _$triggerClaveRastreo.prop('disabled', true);
                    
                    _$triggerEmpleadoCuenta.val(null)
                    _$triggerEmpleadoCuenta.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerMoneda.prop('disabled', false).trigger("chosen:updated");
                    
                }
                else if(_x_formaPago == _x_formaPago_cheque)
                {
                	
                    _$triggerMoneda.val(null);
                    _$triggerMoneda.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerCheque.prop('disabled', false);
                    _$triggerCuentaBancaria.prop('disabled', false).trigger("chosen:updated");
                    
                    _$triggerReferencia.val('');
                    _$triggerReferencia.prop('disabled', true);
                    
                    _$triggerClaveRastreo.val('');
                    _$triggerClaveRastreo.prop('disabled', true);
                    
                    _$triggerCajaChica.val(null)
                    _$triggerCajaChica.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerEmpleadoCuenta.val(null)
                    _$triggerEmpleadoCuenta.prop('disabled', true).trigger("chosen:updated");
                    
                }
                else if(_x_formaPago == _x_formaPago_transferencia)
                {
                	
                    _$triggerMoneda.val(null);
                    _$triggerMoneda.prop('disabled', true).trigger("chosen:updated");
                	
                    _$triggerCheque.val('');
                    _$triggerCheque.prop('disabled', true);

                    _$triggerCajaChica.val(null)
                    _$triggerCajaChica.prop('disabled', true).trigger("chosen:updated");
                    
                    _$triggerEmpleadoCuenta.prop('disabled', false).trigger("chosen:updated");
                    
                    _$triggerCuentaBancaria.prop('disabled', false).trigger("chosen:updated");
                    _$triggerReferencia.prop('disabled', false);
                    _$triggerClaveRastreo.prop('disabled', false);
                    
                }
                else
                {
                	
                }
           
            });
           _$triggerFormaPago.change();
            
    {{  pass }}

    });

</script>
{{end}}
