{{b_customRowContent_form = True}}
{{b_customRowSearchResults_grid = False}}

{{extend os.path.join(D_stvFwkCfg.s_dirFwkView, 'stv_tab_content.html')}}

{{block blockCustomRowContent_form}}

{{  if rowContent_form:  }}

    {{=rowContent_form.custom.begin}}
    <div>
        <div class="row">
            {{ if rowContent_form.record_id:}}
                <div class="form-group col-sm-1"><label>{{=rowContent_form.custom.label.id}}</label><br/> {{=rowContent_form.custom.widget.id}} </div>
            {{ else: }}
            {{ pass }}
        </div>
        
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.numeroparte}}</label> {{=rowContent_form.custom.widget.numeroparte}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.marca_id}}</label> {{=rowContent_form.custom.widget.marca_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.codigobarrasexterno}}</label> {{=rowContent_form.custom.widget.codigobarrasexterno}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.codigobarrasinterno}}</label> {{=rowContent_form.custom.widget.codigobarrasinterno}} </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.unidad_id}}</label> {{=rowContent_form.custom.widget.unidad_id}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.contenido}}</label> {{=rowContent_form.custom.widget.contenido}} </div>
            <div class="form-group col-sm-3"><label>{{=rowContent_form.custom.label.observacion}}</label> {{=rowContent_form.custom.widget.observacion}} </div>
        </div>

    </div>

    {{=rowContent_form.custom.end}}
{{  pass  }}

{{end}}

{{block blockCustomRowSearchResults_grid}}

{{end}}

{{block blockCustomJsBefore}}
{{end}}

{{block blockCustomJsAfter}}
{{end}}

